install:
- make install
script:
- make spectral
notifications:
  slack:
    if: branch = main
    on_pull_requests: false
    on_success: never
    on_failure: change
    rooms:
      secure: PI6+u8pHJvT7f5x25TKTBXk/6QJcN/WFUsfZK/SJ4I6jv31Fdmd7CZ+c+ULtt3Sn0Pzf586SxYdz5qoFNsLoSTiW8tZvjCq55CSzFJbYS4vxkNvIHzVfKEus7O59eSdIfq4xpJZEOkRTyc4K6OU6or3Px0uq7NzCRr8FkkkHMQTvZcC22p4lYwYD22QNmBMmCtg/0WG+3kn9kpWmWK000DTDvgVFJtUc5hEQ4MZrEX6djsU+OjmVLVau/UPXn/eRPO82lOHMZw8KB6sYc2z5FpTWzMdxP2Gg/E9T+B/wsmOdqFEYuJvWzt7aREyMWjFukMCKODwTDz705GTkTEdhao9Tp1Nehe+nyySrwbNve8p3lML4GciFGYEKKWns+7i0nNz4Pbw7Hmzl/SWLGN8qNSizXCB4rxLz5kvwUJE4wUAk1bXa18y6HuutshY8S6wdnwPpHZdSTmbG+i5F2VRQU1NtWBYzjll54YzKnEMgUSbNknsmgQvf9LGx50XRhPSrbZU2Vnilg0uVRaA2Q+CoWTsobzhUuevJpbHsCu8XfXSqZ6oDumuo/1skaJCh0hk7xyS5lXmvu1Vu/jKemm2GpI7V1M5nwmb0diikaMLgnXsfTFbkOLLScVxQbLlBvZpSnWb5TiEPHwJJY5o+4P6QNs5SIZTaoTklXVQfpiG+Vlw=
