{
  "components": {
    "schemas": {
      "events.v1.sink": {
        "properties": {
          "date_created": {
            "format": "date-time",
            "type": "string"
          },
          "date_updated": {
            "format": "date-time",
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "links": {
            "type": "object"
          },
          "sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^DG[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sink_configuration": {
            "type": "object"
          },
          "sink_type": {
            "enum": [
              "kinesis"
            ],
            "type": "string"
          },
          "status": {
            "enum": [
              "initialized",
              "validating",
              "active",
              "failed"
            ],
            "type": "string"
          },
          "url": {
            "format": "uri",
            "type": "string"
          }
        },
        "type": "object"
      },
      "events.v1.sink.sink_test": {
        "properties": {
          "result": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "events.v1.sink.sink_validate": {
        "properties": {
          "result": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "events.v1.subscription": {
        "properties": {
          "account_sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "format": "date-time",
            "type": "string"
          },
          "date_updated": {
            "format": "date-time",
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "links": {
            "type": "object"
          },
          "sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^DF[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sink_sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^DG[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "url": {
            "format": "uri",
            "type": "string"
          }
        },
        "type": "object"
      },
      "events.v1.subscription.subscribed_event": {
        "properties": {
          "account_sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "subscription_sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^DF[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "format": "uri",
            "type": "string"
          },
          "version": {
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "accountSid_authToken": {
        "scheme": "basic",
        "type": "http"
      }
    }
  },
  "info": {
    "contact": {
      "email": "support@twilio.com",
      "name": "Twilio Support",
      "url": "https://support.twilio.com"
    },
    "description": "This is the public Twilio REST API.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://www.twilio.com/legal/tos",
    "title": "Twilio - Events",
    "version": "0.1.0"
  },
  "openapi": "3.0.1",
  "paths": {
    "/v1/Sinks": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "sinks": {
                      "items": {
                        "$ref": "#/components/schemas/events.v1.sink"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "post": {
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Description": {
                    "description": "",
                    "type": "string"
                  },
                  "SinkConfiguration": {
                    "description": "",
                    "type": "object"
                  },
                  "SinkType": {
                    "description": "",
                    "enum": [
                      "kinesis"
                    ],
                    "type": "string"
                  }
                },
                "required": [
                  "Description",
                  "SinkConfiguration",
                  "SinkType"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/events.v1.sink"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://events.twilio.com"
        }
      ],
      "x-default-output-properties": [
        "date_created",
        "date_updated",
        "description",
        "sid",
        "sink_configuration",
        "sink_type",
        "status"
      ],
      "x-path-type": "list"
    },
    "/v1/Sinks/{Sid}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^DG[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^DG[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/events.v1.sink"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://events.twilio.com"
        }
      ],
      "x-default-output-properties": [
        "date_created",
        "date_updated",
        "description",
        "sid",
        "sink_configuration",
        "sink_type",
        "status"
      ],
      "x-path-type": "instance"
    },
    "/v1/Sinks/{Sid}/Test": {
      "description": "TODO: Resource-level docs",
      "post": {
        "description": "",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^DG[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {},
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/events.v1.sink.sink_test"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://events.twilio.com"
        }
      ],
      "x-default-output-properties": [
        "result"
      ],
      "x-path-type": "list"
    },
    "/v1/Sinks/{Sid}/Validate": {
      "description": "TODO: Resource-level docs",
      "post": {
        "description": "",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^DG[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "TestId": {
                    "description": "",
                    "type": "string"
                  }
                },
                "required": [
                  "TestId"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/events.v1.sink.sink_validate"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://events.twilio.com"
        }
      ],
      "x-default-output-properties": [
        "result"
      ],
      "x-path-type": "list"
    },
    "/v1/Subscriptions": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "subscriptions": {
                      "items": {
                        "$ref": "#/components/schemas/events.v1.subscription"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "post": {
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Description": {
                    "description": "",
                    "type": "string"
                  },
                  "SinkSid": {
                    "description": "",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^DG[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "Types": {
                    "description": "",
                    "items": {
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "Description",
                  "SinkSid",
                  "Types"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/events.v1.subscription"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://events.twilio.com"
        }
      ],
      "x-default-output-properties": [
        "account_sid",
        "sid",
        "sink_sid",
        "date_created",
        "date_updated"
      ],
      "x-path-type": "list"
    },
    "/v1/Subscriptions/{Sid}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^DF[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^DF[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/events.v1.subscription"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://events.twilio.com"
        }
      ],
      "x-default-output-properties": [
        "account_sid",
        "sid",
        "sink_sid",
        "date_created",
        "date_updated"
      ],
      "x-path-type": "instance"
    },
    "/v1/Subscriptions/{SubscriptionSid}/SubscribedEvents": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "SubscriptionSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^DF[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "types": {
                      "items": {
                        "$ref": "#/components/schemas/events.v1.subscription.subscribed_event"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "SubscriptionSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^DF[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Type": {
                    "description": "",
                    "type": "string"
                  },
                  "Version": {
                    "description": "",
                    "type": "integer"
                  }
                },
                "required": [
                  "Type"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/events.v1.subscription.subscribed_event"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://events.twilio.com"
        }
      ],
      "x-default-output-properties": [
        "type",
        "version",
        "account_sid",
        "subscription_sid"
      ],
      "x-path-type": "list"
    },
    "/v1/Subscriptions/{SubscriptionSid}/SubscribedEvents/{Type}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "SubscriptionSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^DF[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "description": "TODO: Resource-level docs",
      "post": {
        "description": "",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "SubscriptionSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^DF[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Version": {
                    "description": "",
                    "type": "integer"
                  }
                },
                "required": [
                  "Version"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/events.v1.subscription.subscribed_event"
                }
              }
            },
            "description": "Accepted"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://events.twilio.com"
        }
      ],
      "x-default-output-properties": [
        "type",
        "version",
        "account_sid",
        "subscription_sid"
      ],
      "x-path-type": "instance"
    }
  },
  "tags": [
    {
      "description": "PLEASE NOTE that this is a Preview product that is subject to change. Use it with caution. If you currently do not have developer preview access, please contact help@twilio.com.",
      "name": "Preview"
    }
  ]
}