{
  "components": {
    "schemas": {
      "bulkexports.v1.export": {
        "properties": {
          "links": {
            "type": "object"
          },
          "resource_type": {
            "type": "string"
          },
          "url": {
            "format": "uri",
            "type": "string"
          }
        },
        "type": "object"
      },
      "bulkexports.v1.export.day": {
        "properties": {
          "create_date": {
            "type": "string"
          },
          "day": {
            "type": "string"
          },
          "friendly_name": {
            "type": "string"
          },
          "resource_type": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "bulkexports.v1.export.day|instance": {
        "properties": {
          "redirect_to": {
            "format": "uri",
            "type": "string"
          }
        },
        "type": "object"
      },
      "bulkexports.v1.export.export_custom_job": {
        "properties": {
          "details": {
            "type": "object"
          },
          "email": {
            "type": "string"
          },
          "end_day": {
            "type": "string"
          },
          "friendly_name": {
            "type": "string"
          },
          "job_sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^JS[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "resource_type": {
            "type": "string"
          },
          "start_day": {
            "type": "string"
          },
          "webhook_method": {
            "type": "string"
          },
          "webhook_url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "bulkexports.v1.export.job": {
        "properties": {
          "details": {
            "type": "object"
          },
          "email": {
            "type": "string"
          },
          "end_day": {
            "type": "string"
          },
          "friendly_name": {
            "type": "string"
          },
          "job_sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^JS[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "resource_type": {
            "type": "string"
          },
          "start_day": {
            "type": "string"
          },
          "url": {
            "format": "uri",
            "type": "string"
          },
          "webhook_method": {
            "type": "string"
          },
          "webhook_url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "bulkexports.v1.export_configuration": {
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "resource_type": {
            "type": "string"
          },
          "url": {
            "format": "uri",
            "type": "string"
          },
          "webhook_method": {
            "type": "string"
          },
          "webhook_url": {
            "format": "uri",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "accountSid_authToken": {
        "scheme": "basic",
        "type": "http"
      }
    }
  },
  "info": {
    "contact": {
      "email": "support@twilio.com",
      "name": "Twilio Support",
      "url": "https://support.twilio.com"
    },
    "description": "This is the public Twilio REST API.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://www.twilio.com/legal/tos",
    "title": "Twilio - Bulkexports",
    "version": "81ff5a4"
  },
  "openapi": "3.0.1",
  "paths": {
    "/v1/Exports/Jobs/{JobSid}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "description": "The unique string that that we created to identify the Bulk Export job",
            "in": "path",
            "name": "JobSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^JS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Beta"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "JobSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^JS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bulkexports.v1.export.job"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Beta"
        ]
      },
      "servers": [
        {
          "url": "https://bulkexports.twilio.com"
        }
      ],
      "x-default-output-properties": [],
      "x-path-type": "instance"
    },
    "/v1/Exports/{ResourceType}": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch a specific Export.",
        "parameters": [
          {
            "description": "The type of communication \u2013 Messages, Calls",
            "in": "path",
            "name": "ResourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bulkexports.v1.export"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Beta"
        ]
      },
      "servers": [
        {
          "url": "https://bulkexports.twilio.com"
        }
      ],
      "x-default-output-properties": [],
      "x-path-type": "instance"
    },
    "/v1/Exports/{ResourceType}/Configuration": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch a specific Export Configuration.",
        "parameters": [
          {
            "description": "The type of communication \u2013 Messages, Calls",
            "in": "path",
            "name": "ResourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bulkexports.v1.export_configuration"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Beta"
        ]
      },
      "post": {
        "description": "Update a specific Export Configuration.",
        "parameters": [
          {
            "description": "The type of communication \u2013 Messages, Calls",
            "in": "path",
            "name": "ResourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Enabled": {
                    "description": "If true, Twilio will automatically generate every day's file when the day is over.",
                    "type": "boolean"
                  },
                  "WebhookMethod": {
                    "description": "Sets whether Twilio should call a webhook URL when the automatic generation is complete, using GET or POST. The actual destination is set in the webhook_url",
                    "type": "string"
                  },
                  "WebhookUrl": {
                    "description": "Stores the URL destination for the method specified in webhook_method.",
                    "format": "uri",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bulkexports.v1.export_configuration"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Beta"
        ]
      },
      "servers": [
        {
          "url": "https://bulkexports.twilio.com"
        }
      ],
      "x-default-output-properties": [],
      "x-path-type": "instance"
    },
    "/v1/Exports/{ResourceType}/Days": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve a list of all Days for a resource.",
        "parameters": [
          {
            "description": "The type of communication \u2013 Messages, Calls",
            "in": "path",
            "name": "ResourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "NextToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "PreviousToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "days": {
                      "items": {
                        "$ref": "#/components/schemas/bulkexports.v1.export.day"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Beta"
        ]
      },
      "servers": [
        {
          "url": "https://bulkexports.twilio.com"
        }
      ],
      "x-default-output-properties": [],
      "x-path-type": "list"
    },
    "/v1/Exports/{ResourceType}/Days/{Day}": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch a specific Day.",
        "parameters": [
          {
            "description": "The type of communication \u2013 Messages, Calls",
            "in": "path",
            "name": "ResourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ISO 8601 format date of the resources in the file, for a UTC day",
            "in": "path",
            "name": "Day",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "307": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bulkexports.v1.export.day|instance"
                }
              }
            },
            "description": "Temporary Redirect"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Beta"
        ]
      },
      "servers": [
        {
          "url": "https://bulkexports.twilio.com"
        }
      ],
      "x-default-output-properties": [],
      "x-path-type": "instance"
    },
    "/v1/Exports/{ResourceType}/Jobs": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "parameters": [
          {
            "description": "The type of communication \u2013 Messages, Calls",
            "in": "path",
            "name": "ResourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The token for the next page of job results, and may be null if there are no more pages",
            "in": "query",
            "name": "NextToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The token for the previous page of results, and may be null if this is the first page",
            "in": "query",
            "name": "PreviousToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "jobs": {
                      "items": {
                        "$ref": "#/components/schemas/bulkexports.v1.export.export_custom_job"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Beta"
        ]
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "description": "The type of communication \u2013 Messages, Calls",
            "in": "path",
            "name": "ResourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Email": {
                    "description": "",
                    "type": "string"
                  },
                  "EndDay": {
                    "description": "",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "",
                    "type": "string"
                  },
                  "StartDay": {
                    "description": "",
                    "type": "string"
                  },
                  "WebhookMethod": {
                    "description": "",
                    "type": "string"
                  },
                  "WebhookUrl": {
                    "description": "",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bulkexports.v1.export.export_custom_job"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Beta"
        ]
      },
      "servers": [
        {
          "url": "https://bulkexports.twilio.com"
        }
      ],
      "x-default-output-properties": [],
      "x-path-type": "list"
    }
  },
  "tags": [
    {
      "description": "PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.",
      "name": "Beta"
    }
  ]
}