components:
  schemas:
    accounts.v1.auth_token_promotion:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the Account that the secondary Auth Token was created
            for
        auth_token:
          description: The promoted Auth Token
          nullable: true
          type: string
        date_created:
          type: string
          format: date-time
          nullable: true
          description: The ISO 8601 formatted date and time in UTC when the resource
            was created
        date_updated:
          type: string
          format: date-time
          nullable: true
          description: The ISO 8601 formatted date and time in UTC when the resource
            was last updated
        url:
          description: The URI for this resource, relative to `https://accounts.twilio.com`
          format: uri
          nullable: true
          type: string
    accounts.v1.credential:
      type: object
      properties: {}
    accounts.v1.credential.credential_aws:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the Account that created the resource
        date_created:
          type: string
          format: date-time
          nullable: true
          description: The RFC 2822 date and time in GMT when the resource was created
        date_updated:
          type: string
          format: date-time
          nullable: true
          description: The RFC 2822 date and time in GMT when the resource was last
            updated
        friendly_name:
          description: The string that you assigned to describe the resource
          nullable: true
          type: string
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
          nullable: true
          description: The unique string that identifies the resource
        url:
          description: The URI for this resource, relative to `https://accounts.twilio.com`
          format: uri
          nullable: true
          type: string
    accounts.v1.credential.credential_public_key:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the Account that created the Credential that the
            PublicKey resource belongs to
        date_created:
          type: string
          format: date-time
          nullable: true
          description: The RFC 2822 date and time in GMT when the resource was created
        date_updated:
          type: string
          format: date-time
          nullable: true
          description: The RFC 2822 date and time in GMT when the resource was last
            updated
        friendly_name:
          description: The string that you assigned to describe the resource
          nullable: true
          type: string
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
          nullable: true
          description: The unique string that identifies the resource
        url:
          description: The URI for this resource, relative to `https://accounts.twilio.com`
          format: uri
          nullable: true
          type: string
    accounts.v1.secondary_auth_token:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the Account that the secondary Auth Token was created
            for
        date_created:
          type: string
          format: date-time
          nullable: true
          description: The ISO 8601 formatted date and time in UTC when the resource
            was created
        date_updated:
          type: string
          format: date-time
          nullable: true
          description: The ISO 8601 formatted date and time in UTC when the resource
            was last updated
        secondary_auth_token:
          description: The generated secondary Auth Token
          nullable: true
          type: string
        url:
          description: The URI for this resource, relative to `https://accounts.twilio.com`
          format: uri
          nullable: true
          type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Accounts
  version: 1.32.0
openapi: 3.0.1
paths:
  /v1/AuthTokens/Promote:
    servers:
    - url: https://accounts.twilio.com
    description: Auth Token promotion
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - auth_token
      - date_created
      pathType: instance
      className: auth_token_promotion
    post:
      description: Promote the secondary Auth Token to primary. After promoting the
        new token, all requests to Twilio using your old primary Auth Token will result
        in an error.
      operationId: UpdateAuthTokenPromotion
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accounts.v1.auth_token_promotion'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
  /v1/Credentials:
    servers:
    - url: https://accounts.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
  /v1/Credentials/AWS:
    servers:
    - url: https://accounts.twilio.com
    description: User provided AWS keys
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: list
      parent: /Credentials
    get:
      description: Retrieves a collection of AWS Credentials belonging to the account
        used to make the request
      operationId: ListCredentialAws
      parameters:
      - description: How many resources to return in each list page. The default is
          50, and the maximum is 1000.
        in: query
        name: PageSize
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: ListCredentialAwsResponse
                properties:
                  credentials:
                    type: array
                    items:
                      $ref: '#/components/schemas/accounts.v1.credential.credential_aws'
                  meta:
                    type: object
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                      key:
                        type: string
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      description: Create a new AWS Credential
      operationId: CreateCredentialAws
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Credentials:
                  description: A string that contains the AWS access credentials in
                    the format `<AWS_ACCESS_KEY_ID>:<AWS_SECRET_ACCESS_KEY>`. For
                    example, `AKIAIOSFODNN7EXAMPLE:wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY`
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the
                    resource. It can be up to 64 characters long.
                  type: string
                AccountSid:
                  type: string
                  minLength: 34
                  maxLength: 34
                  pattern: ^AC[0-9a-fA-F]{32}$
                  description: The SID of the Subaccount that this Credential should
                    be associated with. Must be a valid Subaccount of the account
                    issuing the request.
              required:
              - Credentials
              title: CreateCredentialAwsRequest
              type: object
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accounts.v1.credential.credential_aws'
          description: Created
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
  /v1/Credentials/AWS/{Sid}:
    servers:
    - url: https://accounts.twilio.com
    description: User provided AWS keys
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: instance
      parent: /Credentials
    get:
      description: Fetch the AWS credentials specified by the provided Credential
        Sid
      operationId: FetchCredentialAws
      parameters:
      - description: The Twilio-provided string that uniquely identifies the AWS resource
          to fetch.
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accounts.v1.credential.credential_aws'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      description: Modify the properties of a given Account
      operationId: UpdateCredentialAws
      parameters:
      - description: The Twilio-provided string that uniquely identifies the AWS resource
          to update.
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: A descriptive string that you create to describe the
                    resource. It can be up to 64 characters long.
                  type: string
              title: UpdateCredentialAwsRequest
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accounts.v1.credential.credential_aws'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    delete:
      description: Delete a Credential from your account
      operationId: DeleteCredentialAws
      parameters:
      - description: The Twilio-provided string that uniquely identifies the AWS resource
          to delete.
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
  /v1/Credentials/PublicKeys:
    servers:
    - url: https://accounts.twilio.com
    description: User provided public keys
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: list
      parent: /Credentials
    get:
      description: Retrieves a collection of Public Key Credentials belonging to the
        account used to make the request
      operationId: ListCredentialPublicKey
      parameters:
      - description: How many resources to return in each list page. The default is
          50, and the maximum is 1000.
        in: query
        name: PageSize
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: ListCredentialPublicKeyResponse
                properties:
                  credentials:
                    type: array
                    items:
                      $ref: '#/components/schemas/accounts.v1.credential.credential_public_key'
                  meta:
                    type: object
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                      key:
                        type: string
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      description: Create a new Public Key Credential
      operationId: CreateCredentialPublicKey
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                PublicKey:
                  description: A URL encoded representation of the public key. For
                    example, `-----BEGIN PUBLIC KEY-----MIIBIjANB.pa9xQIDAQAB-----END
                    PUBLIC KEY-----`
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the
                    resource. It can be up to 64 characters long.
                  type: string
                AccountSid:
                  type: string
                  minLength: 34
                  maxLength: 34
                  pattern: ^AC[0-9a-fA-F]{32}$
                  description: The SID of the Subaccount that this Credential should
                    be associated with. Must be a valid Subaccount of the account
                    issuing the request
              required:
              - PublicKey
              title: CreateCredentialPublicKeyRequest
              type: object
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accounts.v1.credential.credential_public_key'
          description: Created
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
  /v1/Credentials/PublicKeys/{Sid}:
    servers:
    - url: https://accounts.twilio.com
    description: User provided public keys
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: instance
      parent: /Credentials
    get:
      description: Fetch the public key specified by the provided Credential Sid
      operationId: FetchCredentialPublicKey
      parameters:
      - description: The Twilio-provided string that uniquely identifies the PublicKey
          resource to fetch.
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accounts.v1.credential.credential_public_key'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      description: Modify the properties of a given Account
      operationId: UpdateCredentialPublicKey
      parameters:
      - description: The Twilio-provided string that uniquely identifies the PublicKey
          resource to update.
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: A descriptive string that you create to describe the
                    resource. It can be up to 64 characters long.
                  type: string
              title: UpdateCredentialPublicKeyRequest
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accounts.v1.credential.credential_public_key'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    delete:
      description: Delete a Credential from your account
      operationId: DeleteCredentialPublicKey
      parameters:
      - description: The Twilio-provided string that uniquely identifies the PublicKey
          resource to delete.
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
  /v1/AuthTokens/Secondary:
    servers:
    - url: https://accounts.twilio.com
    description: Secondary Auth Token
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - secondary_auth_token
      - date_created
      pathType: instance
      className: secondary_auth_token
    post:
      description: Create a new secondary Auth Token
      operationId: CreateSecondaryAuthToken
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accounts.v1.secondary_auth_token'
          description: Created
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    delete:
      description: Delete the secondary Auth Token from your account
      operationId: DeleteSecondaryAuthToken
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
servers:
- url: https://accounts.twilio.com
x-maturity:
- name: GA
  description: This product is Generally Available.
