components:
  schemas:
    preview.marketplace.available_add_on:
      type: object
      properties:
        configuration_schema:
          nullable: true
          description: The JSON object with the configuration that must be provided
            when installing a given Add-on
        description:
          description: A short description of the Add-on's functionality
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource
          nullable: true
          type: string
        links:
          description: The URLs of related resources
          format: uri-map
          nullable: true
          type: object
        pricing_type:
          description: How customers are charged for using this Add-on
          nullable: true
          type: string
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XB[0-9a-fA-F]{32}$
          nullable: true
          description: The unique string that identifies the resource
        url:
          description: The absolute URL of the resource
          format: uri
          nullable: true
          type: string
    preview.marketplace.available_add_on.available_add_on_extension:
      type: object
      properties:
        available_add_on_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XB[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the AvailableAddOn resource to which this extension
            applies
        friendly_name:
          description: The string that you assigned to describe the resource
          nullable: true
          type: string
        product_name:
          description: The name of the Extension's Product
          nullable: true
          type: string
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XF[0-9a-fA-F]{32}$
          nullable: true
          description: The unique string that identifies the resource
        unique_name:
          description: An application-defined string that uniquely identifies the
            resource
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource
          format: uri
          nullable: true
          type: string
    preview.marketplace.installed_add_on:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the Account that created the resource
        configuration:
          nullable: true
          description: The JSON object that represents the current configuration of
            installed Add-on
        date_created:
          type: string
          format: date-time
          nullable: true
          description: The ISO 8601 date and time in GMT when the resource was created
        date_updated:
          type: string
          format: date-time
          nullable: true
          description: The ISO 8601 date and time in GMT when the resource was last
            updated
        description:
          description: A short description of the Add-on's functionality
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource
          nullable: true
          type: string
        links:
          description: The URLs of related resources
          format: uri-map
          nullable: true
          type: object
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XE[0-9a-fA-F]{32}$
          nullable: true
          description: The unique string that identifies the resource
        unique_name:
          description: An application-defined string that uniquely identifies the
            resource
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource
          format: uri
          nullable: true
          type: string
    preview.marketplace.installed_add_on.installed_add_on_extension:
      type: object
      properties:
        enabled:
          description: Whether the Extension will be invoked
          nullable: true
          type: boolean
        friendly_name:
          description: The string that you assigned to describe the resource
          nullable: true
          type: string
        installed_add_on_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XE[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the InstalledAddOn resource to which this extension
            applies
        product_name:
          description: The name of the Extension's Product
          nullable: true
          type: string
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XF[0-9a-fA-F]{32}$
          nullable: true
          description: The unique string that identifies the resource
        unique_name:
          description: An application-defined string that uniquely identifies the
            resource
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource
          format: uri
          nullable: true
          type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Preview
  version: 1.29.2
openapi: 3.0.1
paths:
  /marketplace/AvailableAddOns/{Sid}:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
    get:
      description: Fetch an instance of an Add-on currently available to be installed.
      operationId: FetchAvailableAddOn
      parameters:
      - description: The SID of the AvailableAddOn resource to fetch.
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XB[0-9a-fA-F]{32}$
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.marketplace.available_add_on'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /marketplace/AvailableAddOns:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
    get:
      description: Retrieve a list of Add-ons currently available to be installed.
      operationId: ListAvailableAddOn
      parameters:
      - description: How many resources to return in each list page. The default is
          50, and the maximum is 1000.
        in: query
        name: PageSize
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: ListAvailableAddOnResponse
                properties:
                  available_add_ons:
                    type: array
                    items:
                      $ref: '#/components/schemas/preview.marketplace.available_add_on'
                  meta:
                    type: object
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                      key:
                        type: string
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /marketplace/AvailableAddOns/{AvailableAddOnSid}/Extensions/{Sid}:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
      parent: /AvailableAddOns
      className: available_add_on_extension
    get:
      description: Fetch an instance of an Extension for the Available Add-on.
      operationId: FetchAvailableAddOnExtension
      parameters:
      - description: The SID of the AvailableAddOn resource with the extension to
          fetch.
        in: path
        name: AvailableAddOnSid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XB[0-9a-fA-F]{32}$
      - description: The SID of the AvailableAddOn Extension resource to fetch.
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XF[0-9a-fA-F]{32}$
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.marketplace.available_add_on.available_add_on_extension'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /marketplace/AvailableAddOns/{AvailableAddOnSid}/Extensions:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
      parent: /AvailableAddOns
      className: available_add_on_extension
    get:
      description: Retrieve a list of Extensions for the Available Add-on.
      operationId: ListAvailableAddOnExtension
      parameters:
      - description: The SID of the AvailableAddOn resource with the extensions to
          read.
        in: path
        name: AvailableAddOnSid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XB[0-9a-fA-F]{32}$
      - description: How many resources to return in each list page. The default is
          50, and the maximum is 1000.
        in: query
        name: PageSize
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: ListAvailableAddOnExtensionResponse
                properties:
                  extensions:
                    type: array
                    items:
                      $ref: '#/components/schemas/preview.marketplace.available_add_on.available_add_on_extension'
                  meta:
                    type: object
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                      key:
                        type: string
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /marketplace/InstalledAddOns:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
    post:
      description: Install an Add-on for the Account specified.
      operationId: CreateInstalledAddOn
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AvailableAddOnSid:
                  type: string
                  minLength: 34
                  maxLength: 34
                  pattern: ^XB[0-9a-fA-F]{32}$
                  description: The SID of the AvaliableAddOn to install.
                AcceptTermsOfService:
                  description: Whether the Terms of Service were accepted.
                  type: boolean
                Configuration:
                  description: The JSON object that represents the configuration of
                    the new Add-on being installed.
                UniqueName:
                  description: An application-defined string that uniquely identifies
                    the resource. This value must be unique within the Account.
                  type: string
              required:
              - AvailableAddOnSid
              - AcceptTermsOfService
              title: CreateInstalledAddOnRequest
              type: object
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.marketplace.installed_add_on'
          description: Created
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
    get:
      description: Retrieve a list of Add-ons currently installed on this Account.
      operationId: ListInstalledAddOn
      parameters:
      - description: How many resources to return in each list page. The default is
          50, and the maximum is 1000.
        in: query
        name: PageSize
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: ListInstalledAddOnResponse
                properties:
                  installed_add_ons:
                    type: array
                    items:
                      $ref: '#/components/schemas/preview.marketplace.installed_add_on'
                  meta:
                    type: object
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                      key:
                        type: string
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /marketplace/InstalledAddOns/{Sid}:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
    delete:
      description: Remove an Add-on installation from your account
      operationId: DeleteInstalledAddOn
      parameters:
      - description: The SID of the InstalledAddOn resource to delete.
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XE[0-9a-fA-F]{32}$
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
    get:
      description: Fetch an instance of an Add-on currently installed on this Account.
      operationId: FetchInstalledAddOn
      parameters:
      - description: The SID of the InstalledAddOn resource to fetch.
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XE[0-9a-fA-F]{32}$
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.marketplace.installed_add_on'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
    post:
      description: Update an Add-on installation for the Account specified.
      operationId: UpdateInstalledAddOn
      parameters:
      - description: The SID of the InstalledAddOn resource to update.
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XE[0-9a-fA-F]{32}$
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Configuration:
                  description: Valid JSON object that conform to the configuration
                    schema exposed by the associated AvailableAddOn resource. This
                    is only required by Add-ons that need to be configured
                UniqueName:
                  description: An application-defined string that uniquely identifies
                    the resource. This value must be unique within the Account.
                  type: string
              title: UpdateInstalledAddOnRequest
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.marketplace.installed_add_on'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /marketplace/InstalledAddOns/{InstalledAddOnSid}/Extensions/{Sid}:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
      parent: /InstalledAddOns
      className: installed_add_on_extension
    get:
      description: Fetch an instance of an Extension for the Installed Add-on.
      operationId: FetchInstalledAddOnExtension
      parameters:
      - description: The SID of the InstalledAddOn resource with the extension to
          fetch.
        in: path
        name: InstalledAddOnSid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XE[0-9a-fA-F]{32}$
      - description: The SID of the InstalledAddOn Extension resource to fetch.
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XF[0-9a-fA-F]{32}$
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.marketplace.installed_add_on.installed_add_on_extension'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
    post:
      description: Update an Extension for an Add-on installation.
      operationId: UpdateInstalledAddOnExtension
      parameters:
      - description: The SID of the InstalledAddOn resource with the extension to
          update.
        in: path
        name: InstalledAddOnSid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XE[0-9a-fA-F]{32}$
      - description: The SID of the InstalledAddOn Extension resource to update.
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XF[0-9a-fA-F]{32}$
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Enabled:
                  description: Whether the Extension should be invoked.
                  type: boolean
              required:
              - Enabled
              title: UpdateInstalledAddOnExtensionRequest
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.marketplace.installed_add_on.installed_add_on_extension'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /marketplace/InstalledAddOns/{InstalledAddOnSid}/Extensions:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
      parent: /InstalledAddOns
      className: installed_add_on_extension
    get:
      description: Retrieve a list of Extensions for the Installed Add-on.
      operationId: ListInstalledAddOnExtension
      parameters:
      - description: The SID of the InstalledAddOn resource with the extensions to
          read.
        in: path
        name: InstalledAddOnSid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^XE[0-9a-fA-F]{32}$
      - description: How many resources to return in each list page. The default is
          50, and the maximum is 1000.
        in: query
        name: PageSize
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: ListInstalledAddOnExtensionResponse
                properties:
                  extensions:
                    type: array
                    items:
                      $ref: '#/components/schemas/preview.marketplace.installed_add_on.installed_add_on_extension'
                  meta:
                    type: object
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                      key:
                        type: string
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
servers:
- url: https://preview.twilio.com
x-maturity:
- name: Preview
  description: PLEASE NOTE that this is a Preview product that is subject to change.
    Use it with caution. If you currently do not have developer preview access, please
    contact help@twilio.com.
