components:
  schemas:
    preview.trusted_comms.branded_channel:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: Account Sid.
        brand_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BZ[0-9a-fA-F]{32}$
          nullable: true
          description: Brand Sid.
        business_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BX[0-9a-fA-F]{32}$
          nullable: true
          description: Business Sid.
        links:
          description: Nested resource URLs.
          format: uri-map
          nullable: true
          type: object
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BW[0-9a-fA-F]{32}$
          nullable: true
          description: Branded Channel Sid.
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
    preview.trusted_comms.brands_information:
      type: object
      properties:
        file_link:
          description: The URL to the brands information
          format: uri
          nullable: true
          type: string
        file_link_ttl_in_seconds:
          description: How long will be the `file_link` valid
          nullable: true
          type: string
        update_time:
          type: string
          format: date-time
          nullable: true
          description: Creation time of the information retrieved
        url:
          description: The URL of this resource
          format: uri
          nullable: true
          type: string
    preview.trusted_comms.branded_channel.channel:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: Account Sid.
        brand_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BZ[0-9a-fA-F]{32}$
          nullable: true
          description: Brand Sid.
        branded_channel_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BW[0-9a-fA-F]{32}$
          nullable: true
          description: Branded Channel Sid.
        business_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BX[0-9a-fA-F]{32}$
          nullable: true
          description: Business Sid.
        phone_number:
          description: Twilio number to assign to the Branded Channel
          nullable: true
          type: string
        phone_number_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^PN[0-9a-fA-F]{32}$
          nullable: true
          description: Phone Number Sid to be branded.
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
    preview.trusted_comms.cps:
      type: object
      properties:
        cps_url:
          description: CPS URL of the phone number.
          format: uri
          nullable: true
          type: string
        phone_number:
          description: Phone number passed.
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
    preview.trusted_comms.current_call:
      type: object
      properties:
        bg_color:
          description: Background color of the current phone call
          nullable: true
          type: string
        caller:
          description: Caller name of the current phone call
          nullable: true
          type: string
        created_at:
          type: string
          format: date-time
          nullable: true
          description: The date this current phone call was created
        font_color:
          description: Font color of the current phone call
          nullable: true
          type: string
        from:
          description: The originating phone number
          nullable: true
          type: string
        logo:
          description: Logo URL of the caller
          nullable: true
          type: string
        manager:
          description: The name of the CPS organization
          nullable: true
          type: string
        reason:
          description: The business reason for this current phone call
          nullable: true
          type: string
        shield_img:
          description: Shield image URL that serves as authenticity proof of the current
            phone call
          nullable: true
          type: string
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^CQ[0-9a-fA-F]{32}$
          nullable: true
          description: A string that uniquely identifies this current branded phone
            call.
        status:
          description: The status of the current phone call
          nullable: true
          type: string
        to:
          description: The terminating phone number
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
        use_case:
          description: The use case for the current phone call
          nullable: true
          type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Preview
  version: 1.29.2
openapi: 3.0.1
paths:
  /TrustedComms/BrandedChannels/{Sid}:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - business_sid
      - brand_sid
      - sid
      - links
      - url
      pathType: instance
    get:
      description: Fetch a specific Branded Channel.
      operationId: FetchBrandedChannel
      parameters:
      - description: The unique SID identifier of the Branded Channel.
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BW[0-9a-fA-F]{32}$
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.trusted_comms.branded_channel'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /TrustedComms/BrandedChannels:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - business_sid
      - brand_sid
      - sid
      - links
      - url
      pathType: list
  /TrustedComms/BrandsInformation:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - update_time
      - file_link
      - file_link_ttl_in_seconds
      - url
      pathType: instance
    get:
      description: Retrieve the newest available BrandInformation
      operationId: FetchBrandsInformation
      parameters:
      - description: 'Standard `If-None-Match` HTTP header. For more information visit:
          https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-None-Match.'
        in: header
        name: If-None-Match
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.trusted_comms.brands_information'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /TrustedComms/BrandedChannels/{BrandedChannelSid}/Channels:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - business_sid
      - brand_sid
      - branded_channel_sid
      - phone_number_sid
      - phone_number
      - url
      pathType: list
      parent: /BrandedChannels
    post:
      description: Associate a channel to a branded channel
      operationId: CreateChannel
      parameters:
      - description: The unique SID identifier of the Branded Channel. The given phone
          number is going to be assigned to this Branded Channel
        in: path
        name: BrandedChannelSid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BW[0-9a-fA-F]{32}$
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                PhoneNumberSid:
                  type: string
                  minLength: 34
                  maxLength: 34
                  pattern: ^PN[0-9a-fA-F]{32}$
                  description: The unique SID identifier of the Phone Number of the
                    Phone number to be assigned to the Branded Channel.
              required:
              - PhoneNumberSid
              title: CreateChannelRequest
              type: object
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.trusted_comms.branded_channel.channel'
          description: Created
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /TrustedComms/CPS:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - cps_url
      - phone_number
      - url
      pathType: instance
      className: cps
    get:
      description: Fetch a specific Call Placement Service (CPS) given a phone number
        via `X-XCNAM-Sensitive-Phone-Number` header.
      operationId: FetchCps
      parameters:
      - description: Phone number used to retrieve its corresponding CPS.
        in: header
        name: X-Xcnam-Sensitive-Phone-Number
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.trusted_comms.cps'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /TrustedComms/CurrentCall:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - bg_color
      - caller
      - created_at
      - font_color
      - from
      - logo
      - manager
      - reason
      - shield_img
      - sid
      - status
      - to
      - url
      - use_case
      pathType: instance
    get:
      description: Retrieve a current call given the originating and terminating number
        via `X-XCNAM-Sensitive-Phone-Number-From` and `X-XCNAM-Sensitive-Phone-Number-To`
        headers.
      operationId: FetchCurrentCall
      parameters:
      - description: The originating Phone Number, given in [E.164 format](https://www.twilio.com/docs/glossary/what-e164).
          This phone number should be a Twilio number, otherwise it will return an
          error with HTTP Status Code 400.
        in: header
        name: X-Xcnam-Sensitive-Phone-Number-From
        schema:
          type: string
      - description: The terminating Phone Number, given in [E.164 format](https://www.twilio.com/docs/glossary/what-e164).
        in: header
        name: X-Xcnam-Sensitive-Phone-Number-To
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.trusted_comms.current_call'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
servers:
- url: https://preview.twilio.com
x-maturity:
- name: Preview
  description: PLEASE NOTE that this is a Preview product that is subject to change.
    Use it with caution. If you currently do not have developer preview access, please
    contact help@twilio.com.
