openapi: 3.0.1
info:
  title: Twilio - Insights
  description: 'The Twilio Insights v3 API provides semantic query access to Conversations

    analytics data. Resources include synchronous Query, Metadata, and asynchronous

    QueryJobs for long-running queries.

    '
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.1.0
  x-twilio:
    apiStandards: v1.0
servers:
- url: https://insights.twilio.com
security:
- basic_apikey_or_accountsid: []
tags:
- name: TwilioInsights
  description: Twilio Insights synchronous Query and Metadata resources.
- name: TwilioInsightsAsync
  description: Twilio Insights asynchronous QueryJobs resource (long-running query
    operations).
- name: TwilioInsightsConfig
  description: Twilio Insights Config API for custom measure field mapping registration.
components:
  securitySchemes:
    basic_apikey_or_accountsid:
      scheme: basic
      type: http
      description: This API uses [basic authentication](https://www.twilio.com/docs/glossary/what-is-basic-authentication).
        Use an [API key](https://www.twilio.com/docs/iam/api-keys) as the username
        and the API key secret as the password. You can also use your account SID
        and auth token, but limit their use to local testing.
  responses:
    UnprocessableContentError:
      description: Unprocessable content (idempotency key payload mismatch)
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                description: Twilio-specific error code
                type: integer
                format: int32
              message:
                description: A human readable error message
                type: string
              httpStatusCode:
                description: HTTP response status code
                type: integer
                format: int32
              userError:
                description: Whether the error is a user error (true) or a system
                  error (false)
                type: boolean
              params:
                description: A map of parameters related to the error, for example,
                  a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                  information
                type: object
                additionalProperties:
                  type: string
            required:
            - code
            - message
            - httpStatusCode
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                description: Twilio-specific error code
                type: integer
                format: int32
              message:
                description: A human readable error message
                type: string
              httpStatusCode:
                description: HTTP response status code
                type: integer
                format: int32
              userError:
                description: Whether the error is a user error (true) or a system
                  error (false)
                type: boolean
              params:
                description: A map of parameters related to the error, for example,
                  a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                  information
                type: object
                additionalProperties:
                  type: string
            required:
            - code
            - message
            - httpStatusCode
    BadRequestError:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                description: Twilio-specific error code
                type: integer
                format: int32
              message:
                description: A human readable error message
                type: string
              httpStatusCode:
                description: HTTP response status code
                type: integer
                format: int32
              userError:
                description: Whether the error is a user error (true) or a system
                  error (false)
                type: boolean
              params:
                description: A map of parameters related to the error, for example,
                  a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                  information
                type: object
                additionalProperties:
                  type: string
            required:
            - code
            - message
            - httpStatusCode
    UnauthorizedError:
      description: Unauthorized request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                description: Twilio-specific error code
                type: integer
                format: int32
              message:
                description: A human readable error message
                type: string
              httpStatusCode:
                description: HTTP response status code
                type: integer
                format: int32
              userError:
                description: Whether the error is a user error (true) or a system
                  error (false)
                type: boolean
              params:
                description: A map of parameters related to the error, for example,
                  a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                  information
                type: object
                additionalProperties:
                  type: string
            required:
            - code
            - message
            - httpStatusCode
    ForbiddenError:
      description: Forbidden request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                description: Twilio-specific error code
                type: integer
                format: int32
              message:
                description: A human readable error message
                type: string
              httpStatusCode:
                description: HTTP response status code
                type: integer
                format: int32
              userError:
                description: Whether the error is a user error (true) or a system
                  error (false)
                type: boolean
              params:
                description: A map of parameters related to the error, for example,
                  a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                  information
                type: object
                additionalProperties:
                  type: string
            required:
            - code
            - message
            - httpStatusCode
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                description: Twilio-specific error code
                type: integer
                format: int32
              message:
                description: A human readable error message
                type: string
              httpStatusCode:
                description: HTTP response status code
                type: integer
                format: int32
              userError:
                description: Whether the error is a user error (true) or a system
                  error (false)
                type: boolean
              params:
                description: A map of parameters related to the error, for example,
                  a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                  information
                type: object
                additionalProperties:
                  type: string
            required:
            - code
            - message
            - httpStatusCode
    RateLimitError:
      description: Too Many requests (rate limit exceeded for request originating
        from public API)
      headers:
        X-RateLimit-Limit:
          description: Maximum number of requests allowed in the time window
          schema:
            type: integer
          example: 5
        X-RateLimit-Remaining:
          description: Number of requests remaining in the current time window
          schema:
            type: integer
          example: 0
        X-RateLimit-Reset:
          description: Time in seconds until the rate limit resets
          schema:
            type: integer
          example: 45
        X-Rate-Limit-Limit:
          $ref: '#/components/headers/X-Rate-Limit-Limit'
        X-Rate-Limit-Remaining:
          $ref: '#/components/headers/X-Rate-Limit-Remaining'
        X-Rate-Limit-Config:
          $ref: '#/components/headers/X-Rate-Limit-Config'
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                description: Twilio-specific error code
                type: integer
                format: int32
              message:
                description: A human readable error message
                type: string
              httpStatusCode:
                description: HTTP response status code
                type: integer
                format: int32
              userError:
                description: Whether the error is a user error (true) or a system
                  error (false)
                type: boolean
              params:
                description: A map of parameters related to the error, for example,
                  a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                  information
                type: object
                additionalProperties:
                  type: string
            required:
            - code
            - message
            - httpStatusCode
  headers:
    X-Rate-Limit-Limit:
      schema:
        type: string
    X-Rate-Limit-Remaining:
      schema:
        type: string
    X-Rate-Limit-Config:
      schema:
        type: string
  schemas:
    PaginationMeta:
      type: object
      description: 'The pagination metadata containing navigation tokens and result
        information.

        By convention, this schema should be added to the response payload''s

        ''meta'' attribute.

        '
      required:
      - key
      - pageSize
      properties:
        key:
          type: string
          nullable: false
          description: 'The key of the list property contains the actual data items.

            This enables programmatic iteration over paginated results.

            '
          example: items
        pageSize:
          type: integer
          nullable: false
          description: 'The actual number of items returned in this response.

            May be less than the requested pageSize for the last page.

            '
          example: 20
        previousToken:
          type: string
          nullable: true
          description: 'Token to fetch the previous page of results.

            Only included if there is a previous page, otherwise omitted.

            '
          example: eyJwYWdlIjowLCJxdWVyeSI6ImJvb2tzIn0=
        nextToken:
          type: string
          nullable: true
          description: 'Token to fetch the next page of results.

            Only included if there is a next page, otherwise omitted.

            '
          example: eyJwYWdlIjoyLCJxdWVyeSI6ImJvb2tzIn0=
    QueryDefinition:
      type: object
      description: Structured query definition that specifies what data to retrieve
        and how to filter, group, and order it
      properties:
        measures:
          type: array
          description: Array of measures to retrieve, representing quantitative values
            or metrics to be calculated
          items:
            type: string
          example:
          - OperatorResult.Count
        dimensions:
          type: array
          description: Array of dimensions to retrieve, representing categorical attributes
            for grouping and organizing data
          items:
            type: string
          example:
          - DateCreated
          - OperatorResults
        filters:
          type: array
          description: Nested filter conditions. Always use `op` and `expressions`.
          items:
            type: object
            required:
            - expressions
            properties:
              op:
                type: string
                enum:
                - AND
                - OR
                - EQ
                - NE
                - GT
                - LT
                - IN
                example: AND
              expressions:
                type: array
                items:
                  type: object
                  required:
                  - op
                  - field
                  properties:
                    op:
                      type: string
                      enum:
                      - AND
                      - OR
                      - EQ
                      - NE
                      - GT
                      - LT
                      - IN
                      example: IN
                    field:
                      type: string
                      example: OperatorResult.Value
                    values:
                      type: array
                      items:
                        type: string
                      example:
                      - positive
                      - negative
        orderBy:
          type: array
          description: Specifications for sorting the query results by specific fields
            in ascending or descending order
          items:
            type: object
            properties:
              field:
                type: string
                description: Dimension or measure to order by
                example: OperatorResults.CreatedDate
              direction:
                type: string
                description: Sort order direction, ascending or descending
                enum:
                - ASC
                - DESC
                example: DESC
    InsightsQueryRequest:
      type: object
      required:
      - query
      properties:
        domain:
          type: string
          example: Conversations
          description: The business domain to execute the query against
        query:
          $ref: '#/components/schemas/QueryDefinition'
    InsightsQueryResponse:
      type: object
      properties:
        domain:
          type: string
          example: Insights
          description: Indicates the business domain the query was executed against
        items:
          type: array
          description: Array of result objects containing the query results. Each
            object contains properties matching the requested measures and dimensions.
          items:
            type: object
            description: Query result object with dynamic properties based on requested
              measures and dimensions.
            additionalProperties:
              description: Dynamic property values based on requested measures and
                dimensions.
          example:
          - Id: conv1
            Languages:
            - en
            Channels:
            - voice
            OperatorResult.Value: positive
          - Id: conv2
            Languages:
            - en
            - es
            Channels:
            - chat
            OperatorResult.Value: negative
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    InsightsMetadataResponse:
      type: object
      description: Response containing metadata about available cubes, measures, and
        dimensions for a domain
      properties:
        domain:
          type: string
          example: Insights
          description: The business domain name for which metadata is being provided
        cubes:
          type: array
          description: List of data cubes available in the domain, each containing
            measures and dimensions
          items:
            type: object
            required:
            - name
            - measures
            - dimensions
            properties:
              name:
                type: string
                description: Name of the cube, used as a reference in queries
              description:
                type: string
                description: Human-readable description of what the cube represents
              measures:
                type: array
                description: List of measures available in the cube, representing
                  quantitative values that can be aggregated
                items:
                  type: object
                  required:
                  - name
                  - type
                  properties:
                    name:
                      type: string
                      description: Identifier used to reference this measure in queries
                    description:
                      type: string
                      description: Detailed explanation of what this measure represents
                    type:
                      type: string
                      description: Type of the measure
                    aggregation:
                      type: string
                      description: Aggregation type for the measure (e.g., sum, count,
                        average)
              dimensions:
                type: array
                description: List of dimensions available in the cube, representing
                  categorical attributes for grouping data
                items:
                  type: object
                  required:
                  - name
                  - type
                  properties:
                    name:
                      type: string
                      description: Identifier used to reference this dimension in
                        queries
                    description:
                      type: string
                      description: Detailed explanation of what this dimension represents
                    type:
                      type: string
                      description: Data type of the dimension (e.g., string, number,
                        boolean, date)
    LongRunningOperationStatus:
      description: The valid status values for long-running operations.
      type: string
      enum:
      - PENDING
      - RUNNING
      - CANCELLED
      - COMPLETED
      - FAILED
    OperationError:
      description: The error details for a failed operation, embedded inside a 200
        OK operation envelope.
      type: object
      required:
      - code
      - message
      - httpStatusCode
      properties:
        code:
          description: Twilio-specific error code
          type: integer
          format: int32
          example: 50001
        message:
          description: A human readable error message
          type: string
          example: Query execution timeout exceeded
        httpStatusCode:
          description: HTTP status code that would have been returned for a synchronous
            failure
          type: integer
          format: int32
          example: 504
        detail:
          description: Additional context about the failure
          type: string
          nullable: true
          example: ClickHouse query exceeded the 120s execution limit.
    QueryJobSubmitResponse:
      description: 'The initial 202 response for an async query submission.

        Conforms to LongRunningOperation202Response from Twilio API Standards.

        '
      type: object
      additionalProperties: true
      required:
      - operationId
      - status
      - statusUrl
      - createdAt
      properties:
        operationId:
          type: string
          format: Proc_JobTtid
          description: The unique identifier for the asynchronous query operation,
            in TTID format.
          example: proc_job_01h9d8r0vte3hz8tykdj329t7r
        status:
          $ref: '#/components/schemas/LongRunningOperationStatus'
        statusUrl:
          type: string
          format: uri
          description: The URI to poll for operation status.
          example: https://insights.twilio.com/v3/InsightsDomains/Conversations/QueryJobs/proc_job_01h9d8r0vte3hz8tykdj329t7r
        createdAt:
          type: string
          format: date-time
          description: The time when the operation was accepted, in RFC 3339 UTC format.
          example: '2026-05-25T14:30:00Z'
    QueryJobStatusResponse:
      description: 'The status response for an async query operation.

        Conforms to LongRunningOperationStatusResponse from Twilio API Standards.

        '
      type: object
      additionalProperties: true
      required:
      - operationId
      - status
      - createdAt
      properties:
        operationId:
          type: string
          format: Proc_JobTtid
          description: The unique identifier for the asynchronous query operation,
            in TTID format.
          example: proc_job_01h9d8r0vte3hz8tykdj329t7r
        status:
          $ref: '#/components/schemas/LongRunningOperationStatus'
        statusUrl:
          type: string
          format: uri
          example: https://insights.twilio.com/v3/InsightsDomains/Conversations/QueryJobs/proc_job_01h9d8r0vte3hz8tykdj329t7r
        createdAt:
          type: string
          format: date-time
          example: '2026-05-25T14:30:00Z'
        completedAt:
          type: string
          format: date-time
          nullable: true
          description: The time when the operation reached a terminal state (CANCELLED,
            COMPLETED, or FAILED), in RFC 3339 UTC format. Null while the operation
            is still PENDING or RUNNING.
          example: '2026-05-25T14:32:17Z'
        error:
          nullable: true
          description: The error details, present only when status is FAILED.
          allOf:
          - $ref: '#/components/schemas/OperationError'
        resultUrl:
          type: string
          format: uri
          nullable: true
          description: 'The URL to retrieve query results, present only when status
            is COMPLETED.

            Supports pagination via the pageSize and pageToken query parameters.

            '
          example: https://insights.twilio.com/v3/InsightsDomains/Conversations/QueryJobs/proc_job_01h9d8r0vte3hz8tykdj329t7r/Results
        resultId:
          type: string
          nullable: true
          description: 'The identifier of the results resource, present only when
            status is COMPLETED.

            Equal to operationId, since results are keyed by the operation ID.

            '
          example: proc_job_01h9d8r0vte3hz8tykdj329t7r
        resultRetentionPeriod:
          type: string
          format: duration
          nullable: true
          description: The duration for how long results are retained, in ISO 8601
            format.
          example: P7D
    QueryJobListResponse:
      description: A paginated list of async query operations for the account.
      type: object
      required:
      - items
      - meta
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryJobStatusResponse'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    MappingCategory:
      type: string
      description: The type of field being registered. Only `MEASURE` is supported.
      enum:
      - MEASURE
    SourceType:
      type: string
      description: "The kind of upstream entity that sources this field. The value\
        \ names the\nentity type itself, so the identifier carried in `entityMetadata`\
        \ is\nunambiguous without a lookup (`INTELLIGENCE_OPERATOR` carries an\n`operatorId`).\n\
        \nAdding a new upstream means adding a value here plus its own\n`entityMetadata`\
        \ variant \u2014 the request shape is unchanged.\n"
      enum:
      - INTELLIGENCE_OPERATOR
    EntityMetadataBase:
      type: object
      description: 'Fields common to every `entityMetadata` variant. Exists so that
        generated

        clients get a stable base type: a variant added in a later revision

        degrades to this rather than breaking deserialization.

        '
      required:
      - sourceType
      properties:
        sourceType:
          $ref: '#/components/schemas/SourceType'
    IntelligenceOperatorEntityMetadata:
      description: "Entity reference for a custom field sourced from a Conversational\n\
        Intelligence operator. `field` is required \u2014 Intelligence is the source\
        \ of\ntruth for resolving it against the operator's output schema.\n"
      type: object
      properties:
        sourceType:
          $ref: '#/components/schemas/SourceType'
        operatorId:
          type: string
          description: "The Intelligence operator ID. Part of the owner check for\n\
            idempotent upserts \u2014 a mismatch against the existing\nregistration's\
            \ `(sourceType, operatorId)` returns `409`.\n"
          example: OPxxxx
        operatorName:
          type: string
          description: 'Optional, display-only name of the operator as supplied at

            registration time. Not part of any uniqueness or validation logic.

            '
          example: Sentiment Analysis
        field:
          type: string
          description: 'Annotation fieldPath key; generic identifier that determines
            the

            output-schema field. Resolved against the operator identified by

            `operatorId`.

            '
          pattern: ^[A-Za-z0-9_.]+$
          example: leadScore
      required:
      - field
      - operatorId
      - sourceType
    EntityMetadata:
      description: "Reference to the upstream entity that sources this field. Shape\
        \ is\nselected by the `sourceType` discriminator and owned by that upstream,\
        \ not\nby this API \u2014 adding a new upstream means adding a variant here,\
        \ not\nchanging the request shape.\n\nEvery variant carries `sourceType` via\
        \ `EntityMetadataBase`, so a client\nthat does not recognise a newly added\
        \ variant can still deserialize the\ncommon fields rather than failing outright.\n\
        \nThe owner check for idempotent upserts is scoped to `sourceType` plus that\n\
        variant's own identity field (`operatorId` for `INTELLIGENCE_OPERATOR`); a\n\
        mismatch against an existing registration's owner returns `409`.\n"
      oneOf:
      - $ref: '#/components/schemas/IntelligenceOperatorEntityMetadata'
      discriminator:
        propertyName: sourceType
        mapping:
          INTELLIGENCE_OPERATOR: '#/components/schemas/IntelligenceOperatorEntityMetadata'
    CustomFieldMappingRequest:
      type: object
      description: 'Registration payload for a single custom field sourced from an
        upstream

        entity. The target account is supplied via the I-Twilio-Auth-Account

        header, not this body.

        '
      required:
      - category
      - name
      - entityMetadata
      properties:
        category:
          $ref: '#/components/schemas/MappingCategory'
        name:
          type: string
          description: "Customer-facing name for the field; becomes the ClickHouse\
            \ Map key and\nthe platform field alias. Unique per account across every\n\
            `sourceType` \u2014 the Map key namespace is account-global.\n"
          pattern: ^[A-Za-z0-9_]+$
          example: LeadScore
        description:
          type: string
          description: "Optional, free-text description of this custom field mapping.\n\
            Display-only \u2014 not part of any uniqueness check.\n"
          maxLength: 150
          example: Lead quality score derived from sentiment analysis
        entityMetadata:
          $ref: '#/components/schemas/EntityMetadata'
    CustomFieldMappingResponse:
      type: object
      description: A registered custom field mapping.
      required:
      - category
      - name
      - entityMetadata
      properties:
        id:
          type: string
          description: TTID for conversation insights custom field mapping
          example: convinsights_mapping_01m31967b7em08vh1pqgbam3mj
        category:
          $ref: '#/components/schemas/MappingCategory'
        name:
          type: string
        description:
          type: string
          description: "Optional, free-text description supplied at registration time.\n\
            Display-only \u2014 not part of any uniqueness check.\n"
          maxLength: 150
          example: Lead quality score derived from sentiment analysis
        entityMetadata:
          $ref: '#/components/schemas/EntityMetadata'
        createdAt:
          type: string
          format: date-time
          description: When the mapping was registered.
          example: '2026-08-13T14:30:00Z'
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: When the mapping was last materially modified in-place. Null
            until the first update-in-place.
          example: '2026-08-13T14:30:00Z'
    CustomFieldMappingsList:
      type: object
      description: All custom field mappings registered for an account.
      required:
      - mappings
      properties:
        mappings:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldMappingResponse'
    CustomFieldCapacity:
      type: object
      description: 'Custom field mapping slot capacity for the account. Only the `measure`

        category is supported for now; it is an empty object when custom

        measures are not applicable for the account.

        '
      properties:
        measure:
          $ref: '#/components/schemas/CategoryCapacity'
    CategoryCapacity:
      type: object
      description: 'Slots consumed and remaining for the measure category. Empty when
        not

        applicable for the account.

        '
      properties:
        consumed:
          type: integer
          description: Number of custom field mapping slots already registered.
          example: 1
        remaining:
          type: integer
          description: Number of custom field mapping slots still available.
          example: 2
paths:
  /v3/InsightsDomains/Conversations/Query:
    servers:
    - url: https://insights.twilio.com
    post:
      summary: Execute a synchronous semantic query
      description: 'Execute a semantic query against the Conversations domain.

        Returns results inline. For long-running queries, use the QueryJobs endpoint.

        '
      tags:
      - TwilioInsights
      operationId: CreateQueryResults
      parameters:
      - name: pageSize
        in: query
        description: Number of items per page
        required: false
        schema:
          type: integer
          minimum: 1
          example: 20
          format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsightsQueryRequest'
      responses:
        '200':
          description: Successful query response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsQueryResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        429:
          description: Too Many requests (rate limit exceeded for request originating
            from public API)
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the time window
              schema:
                type: integer
              example: 5
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              schema:
                type: integer
              example: 0
            X-RateLimit-Reset:
              description: Time in seconds until the rate limit resets
              schema:
                type: integer
              example: 45
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Config:
              $ref: '#/components/headers/X-Rate-Limit-Config'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
      security:
      - basic_apikey_or_accountsid: []
    get:
      summary: Retrieve paginated query results
      description: Retrieve subsequent pages of a synchronous query using a page token.
      tags:
      - TwilioInsights
      operationId: FetchQueryResults
      parameters:
      - name: pageToken
        in: query
        description: Pagination token
        required: true
        schema:
          type: string
          example: eyJwYWdlIjoyLCJxdWVyeSI6ImJvb2tzIn0=
      responses:
        '200':
          description: Successful query response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsQueryResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        429:
          description: Too Many requests (rate limit exceeded for request originating
            from public API)
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the time window
              schema:
                type: integer
              example: 5
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              schema:
                type: integer
              example: 0
            X-RateLimit-Reset:
              description: Time in seconds until the rate limit resets
              schema:
                type: integer
              example: 45
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Config:
              $ref: '#/components/headers/X-Rate-Limit-Config'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
      security:
      - basic_apikey_or_accountsid: []
  /v3/InsightsDomains/Conversations/Metadata:
    servers:
    - url: https://insights.twilio.com
    get:
      summary: Retrieve domain metadata
      description: Returns available cubes, measures, and dimensions for the Conversations
        domain.
      tags:
      - TwilioInsights
      operationId: FetchMetadata
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsMetadataResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        429:
          description: Too Many requests (rate limit exceeded for request originating
            from public API)
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the time window
              schema:
                type: integer
              example: 5
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              schema:
                type: integer
              example: 0
            X-RateLimit-Reset:
              description: Time in seconds until the rate limit resets
              schema:
                type: integer
              example: 45
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Config:
              $ref: '#/components/headers/X-Rate-Limit-Config'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
      security:
      - basic_apikey_or_accountsid: []
  /v3/InsightsDomains/Conversations/QueryJobs:
    servers:
    - url: https://insights.twilio.com
    post:
      summary: Submit an asynchronous query
      description: 'Submit a long-running semantic query against the Conversations
        domain.

        Returns 202 Accepted with an operationId and a Location header pointing

        to the QueryJobs status endpoint for polling.

        '
      tags:
      - TwilioInsightsAsync
      operationId: CreateQueryJob
      parameters:
      - in: header
        name: Idempotency-Key
        required: false
        description: 'A client-generated UUIDv7 key that ensures idempotent behavior.

          Submitting the same key with an identical request returns the same operation

          without re-execution. Scoped to Account + Region. Retained for 24 hours.

          '
        schema:
          type: string
          format: uuid
          example: 01890a5d-aa0f-7c80-b8e6-0242ac140004
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsightsQueryRequest'
      responses:
        '202':
          description: Async query accepted
          headers:
            Location:
              description: URI to poll for operation status.
              schema:
                type: string
                format: uri
                example: https://insights.twilio.com/v3/InsightsDomains/Conversations/QueryJobs/proc_job_01h9d8r0vte3hz8tykdj329t7r
            Retry-After:
              description: Seconds before the client should first poll.
              schema:
                type: integer
                example: 5
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryJobSubmitResponse'
              example:
                operationId: proc_job_01h9d8r0vte3hz8tykdj329t7r
                status: PENDING
                statusUrl: https://insights.twilio.com/v3/InsightsDomains/Conversations/QueryJobs/proc_job_01h9d8r0vte3hz8tykdj329t7r
                createdAt: '2026-05-25T14:30:00Z'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        422:
          description: Unprocessable content (idempotency key payload mismatch)
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        429:
          description: Too Many requests (rate limit exceeded for request originating
            from public API)
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the time window
              schema:
                type: integer
              example: 5
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              schema:
                type: integer
              example: 0
            X-RateLimit-Reset:
              description: Time in seconds until the rate limit resets
              schema:
                type: integer
              example: 45
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Config:
              $ref: '#/components/headers/X-Rate-Limit-Config'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
      security:
      - basic_apikey_or_accountsid: []
    get:
      summary: Retrieve a list of asynchronous queries
      description: 'Returns a paginated list of asynchronous query operations for
        the authenticated account.

        Optionally filter by status.

        '
      tags:
      - TwilioInsightsAsync
      operationId: ListQueryJobs
      parameters:
      - name: pageSize
        in: query
        description: The maximum number of resources to return
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 50
      - name: pageToken
        in: query
        description: Token for pagination
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: The operation status to filter results by.
        required: false
        schema:
          $ref: '#/components/schemas/LongRunningOperationStatus'
      responses:
        '200':
          description: Paginated list of async query operations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryJobListResponse'
              example:
                items:
                - operationId: proc_job_01h9d8r0vte3hz8tykdj329t7r
                  status: RUNNING
                  createdAt: '2026-05-25T14:30:00Z'
                  statusUrl: https://insights.twilio.com/v3/InsightsDomains/Conversations/QueryJobs/proc_job_01h9d8r0vte3hz8tykdj329t7r
                  resultId: proc_job_01h9d8r0vte3hz8tykdj329t7r
                meta:
                  key: items
                  pageSize: 1
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        429:
          description: Too Many requests (rate limit exceeded for request originating
            from public API)
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the time window
              schema:
                type: integer
              example: 5
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              schema:
                type: integer
              example: 0
            X-RateLimit-Reset:
              description: Time in seconds until the rate limit resets
              schema:
                type: integer
              example: 45
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Config:
              $ref: '#/components/headers/X-Rate-Limit-Config'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
      security:
      - basic_apikey_or_accountsid: []
  /v3/InsightsDomains/Conversations/QueryJobs/{operationId}:
    servers:
    - url: https://insights.twilio.com
    get:
      summary: Retrieve asynchronous query status and results
      description: 'Poll the operation status. When status is COMPLETED, the response

        includes query results inline.

        When FAILED, the response includes error details conforming to the

        OperationError schema.

        '
      tags:
      - TwilioInsightsAsync
      operationId: FetchQueryJobStatus
      parameters:
      - name: operationId
        in: path
        required: true
        description: The unique identifier for the asynchronous query operation, in
          TTID format.
        schema:
          type: string
          format: Proc_JobTtid
          example: proc_job_01h9d8r0vte3hz8tykdj329t7r
      responses:
        '200':
          description: Operation status (may include results if COMPLETED)
          headers:
            Retry-After:
              description: Seconds before the client should poll again (present while
                PENDING/RUNNING).
              schema:
                type: integer
                example: 10
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryJobStatusResponse'
              examples:
                running:
                  summary: Operation still running
                  value:
                    operationId: proc_job_01h9d8r0vte3hz8tykdj329t7r
                    status: RUNNING
                    createdAt: '2026-05-25T14:30:00Z'
                    statusUrl: https://insights.twilio.com/v3/InsightsDomains/Conversations/QueryJobs/proc_job_01h9d8r0vte3hz8tykdj329t7r
                completed:
                  summary: Operation completed
                  value:
                    operationId: proc_job_01h9d8r0vte3hz8tykdj329t7r
                    status: COMPLETED
                    createdAt: '2026-05-25T14:30:00Z'
                    completedAt: '2026-05-25T14:32:17Z'
                    statusUrl: https://insights.twilio.com/v3/InsightsDomains/Conversations/QueryJobs/proc_job_01h9d8r0vte3hz8tykdj329t7r
                    resultRetentionPeriod: P7D
                failed:
                  summary: Operation failed
                  value:
                    operationId: proc_job_01h9d8r0vte3hz8tykdj329t7r
                    status: FAILED
                    createdAt: '2026-05-25T14:30:00Z'
                    completedAt: '2026-05-25T14:30:12Z'
                    statusUrl: https://insights.twilio.com/v3/InsightsDomains/Conversations/QueryJobs/proc_job_01h9d8r0vte3hz8tykdj329t7r
                    error:
                      code: 50001
                      message: Query execution timeout exceeded
                      httpStatusCode: 504
                      detail: ClickHouse query exceeded the 120s execution limit for
                        this account.
        404:
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        429:
          description: Too Many requests (rate limit exceeded for request originating
            from public API)
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the time window
              schema:
                type: integer
              example: 5
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              schema:
                type: integer
              example: 0
            X-RateLimit-Reset:
              description: Time in seconds until the rate limit resets
              schema:
                type: integer
              example: 45
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Config:
              $ref: '#/components/headers/X-Rate-Limit-Config'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
      security:
      - basic_apikey_or_accountsid: []
  /v3/InsightsDomains/Conversations/QueryJobs/{operationId}/Results:
    servers:
    - url: https://insights.twilio.com
    get:
      summary: Retrieve asynchronous query results
      description: 'Retrieve paginated results for a completed asynchronous query
        operation.

        The resultUrl in the status response points to this endpoint.

        Returns 404 if the operation is not yet COMPLETED or has expired.

        '
      tags:
      - TwilioInsightsAsync
      operationId: FetchQueryJobResults
      parameters:
      - name: operationId
        in: path
        required: true
        description: The unique identifier for the asynchronous query operation, in
          TTID format.
        schema:
          type: string
          format: Proc_JobTtid
          example: proc_job_01h9d8r0vte3hz8tykdj329t7r
      - name: pageSize
        in: query
        description: The maximum number of resources to return
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 50
      - name: pageToken
        in: query
        description: Token for pagination
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Query results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsQueryResponse'
              example:
                domain: Conversations
                items:
                - Id: conv1
                  Languages:
                  - en
                  Channels:
                  - voice
                  OperatorResult.Value: positive
                - Id: conv2
                  Languages:
                  - en
                  - es
                  Channels:
                  - chat
                  OperatorResult.Value: negative
                meta:
                  key: items
                  pageSize: 2
                  nextToken: eyJwYWdlIjoyLCJxdWVyeSI6ImJvb2tzIn0=
        404:
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        429:
          description: Too Many requests (rate limit exceeded for request originating
            from public API)
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the time window
              schema:
                type: integer
              example: 5
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              schema:
                type: integer
              example: 0
            X-RateLimit-Reset:
              description: Time in seconds until the rate limit resets
              schema:
                type: integer
              example: 45
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Config:
              $ref: '#/components/headers/X-Rate-Limit-Config'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
      security:
      - basic_apikey_or_accountsid: []
  /v3/ControlPlane/ConversationInsights/CustomFieldMappings:
    servers:
    - url: https://insights.twilio.com
    post:
      summary: Register a custom measure field mapping
      description: "Registers a custom field for an account under a category, sourced\
        \ from an\nupstream entity \u2014 selected via the `entityMetadata.sourceType`\n\
        discriminator, which determines the required shape of `entityMetadata`.\n\
        Only the `MEASURE` category is supported for now.\n\nFor sources with a resolvable\
        \ field-path concept, validates that\n`entityMetadata.field` resolves on the\
        \ entity's latest active version by\ncalling that source's own resolution\
        \ API (the Intelligence fetch-operator\nAPI for `sourceType: INTELLIGENCE_OPERATOR`),\
        \ then performs an idempotent\nupsert keyed on (accountSid, category, name).\n\
        `entityMetadata.sourceType` plus that variant's own identity field\n(`operatorId`\
        \ for `INTELLIGENCE_OPERATOR`) must match the existing\nregistration's owner\
        \ for the upsert to succeed \u2014 a mismatch returns\n`409`. Enforces the\
        \ per-account, per-category capacity limit.\n"
      tags:
      - TwilioInsightsConfig
      operationId: CreateCustomFieldMapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldMappingRequest'
            examples:
              measure_from_intelligence_operator:
                summary: Register a custom measure sourced from an Intelligence operator
                value:
                  category: MEASURE
                  name: LeadScore
                  description: Lead quality score derived from sentiment analysis
                  entityMetadata:
                    sourceType: INTELLIGENCE_OPERATOR
                    operatorId: OPxxxx
                    operatorName: Sentiment Analysis
                    field: leadScore
      responses:
        '200':
          description: The `name` was already registered for this operator and was
            updated in-place.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldMappingResponse'
        '201':
          description: Newly registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldMappingResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        401:
          description: Unauthorized request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        403:
          description: Forbidden request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        '409':
          description: 'The `name` is already registered for this account with different

            attributes. Names are unique per account, so a name can only be

            re-registered idempotently by the same owner.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
              example:
                code: 20052
                message: The name 'LeadScore' is already registered to a different
                  operator.
                httpStatusCode: 409
        429:
          description: Too Many requests (rate limit exceeded for request originating
            from public API)
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the time window
              schema:
                type: integer
              example: 5
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              schema:
                type: integer
              example: 0
            X-RateLimit-Reset:
              description: Time in seconds until the rate limit resets
              schema:
                type: integer
              example: 45
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Config:
              $ref: '#/components/headers/X-Rate-Limit-Config'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
      security:
      - basic_apikey_or_accountsid: []
    get:
      summary: Fetch custom measure field mappings for an account
      description: 'Returns custom field mappings registered for the account.

        '
      tags:
      - TwilioInsightsConfig
      operationId: FetchCustomFieldMappings
      responses:
        '200':
          description: Custom field mappings registered for the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldMappingsList'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        401:
          description: Unauthorized request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        403:
          description: Forbidden request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        429:
          description: Too Many requests (rate limit exceeded for request originating
            from public API)
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the time window
              schema:
                type: integer
              example: 5
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              schema:
                type: integer
              example: 0
            X-RateLimit-Reset:
              description: Time in seconds until the rate limit resets
              schema:
                type: integer
              example: 45
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Config:
              $ref: '#/components/headers/X-Rate-Limit-Config'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
      security:
      - basic_apikey_or_accountsid: []
  /v3/ControlPlane/ConversationInsights/CustomFieldMappings/Capacity:
    servers:
    - url: https://insights.twilio.com
    get:
      summary: Get custom field mapping capacity for an account
      description: "Returns the account's custom measure slot capacity \u2014 slots\
        \ consumed and\nremaining. Only the `measure` category is supported for now.\n"
      tags:
      - TwilioInsightsConfig
      operationId: FetchCustomFieldMappingCapacity
      responses:
        '200':
          description: Custom field mapping capacity for the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldCapacity'
        401:
          description: Unauthorized request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        403:
          description: Forbidden request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system
                      error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example,
                      a `params.twilioErrorCodeUrl` might hold a URL or link to additional
                      information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        429:
          description: Too Many requests (rate limit exceeded for request originating
            from public API)
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the time window
              schema:
                type: integer
              example: 5
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              schema:
                type: integer
              example: 0
            X-RateLimit-Reset:
[...]
