components:
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
  schemas:
    accounts.v1.credential.credential_aws:
      type: object
      properties:
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
          nullable: true
          description: The unique string that we created to identify the AWS resource.
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account)
            that created the AWS resource.
        friendly_name:
          type: string
          nullable: true
          description: The string that you assigned to describe the resource.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 0
        date_created:
          type: string
          format: date-time
          nullable: true
          description: The date and time in GMT when the resource was created specified
            in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
        date_updated:
          type: string
          format: date-time
          nullable: true
          description: The date and time in GMT when the resource was last updated
            specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
        url:
          type: string
          format: uri
          nullable: true
          description: The URI for this resource, relative to `https://accounts.twilio.com`
info:
  title: Twilio - Accounts
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
openapi: 3.0.1
paths:
  /v1/Credentials:
    servers:
    - url: https://accounts.twilio.com
    description: ''
    x-twilio:
      defaultOutputProperties: []
      pathType: list
  /v1/Credentials/AWS:
    servers:
    - url: https://accounts.twilio.com
    description: User provided AWS keys
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      parent: /Credentials
      pathType: list
    get:
      description: Retrieves a collection of AWS Credentials belonging to the account
        used to make the request
      summary: Retrieves a collection of AWS Credentials belonging to the account
        used to make the request
      tags:
      - AccountsV1Aws
      parameters:
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is
          50, and the maximum is 1000.
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  credentials:
                    type: array
                    items:
                      $ref: '#/components/schemas/accounts.v1.credential.credential_aws'
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListCredentialAwsResponse
              examples:
                readEmpty:
                  value:
                    credentials: []
                    meta:
                      first_page_url: https://accounts.twilio.com/v1/Credentials/AWS?PageSize=50&Page=0
                      key: credentials
                      next_page_url: null
                      page: 0
                      page_size: 50
                      previous_page_url: null
                      url: https://accounts.twilio.com/v1/Credentials/AWS?PageSize=50&Page=0
                readFull:
                  value:
                    credentials:
                    - account_sid: ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                      date_created: '2015-07-31T04:00:00Z'
                      date_updated: '2015-07-31T04:00:00Z'
                      friendly_name: friendly_name
                      sid: CRaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                      url: https://accounts.twilio.com/v1/Credentials/AWS/CRaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    meta:
                      first_page_url: https://accounts.twilio.com/v1/Credentials/AWS?PageSize=50&Page=0
                      key: credentials
                      next_page_url: null
                      page: 0
                      page_size: 50
                      previous_page_url: null
                      url: https://accounts.twilio.com/v1/Credentials/AWS?PageSize=50&Page=0
          headers:
            Access-Control-Allow-Origin:
              description: Specify the origin(s) allowed to access the resource
              schema:
                type: string
              example: '*'
            Access-Control-Allow-Methods:
              description: Specify the HTTP methods allowed when accessing the resource
              schema:
                type: string
              example: POST, OPTIONS
            Access-Control-Allow-Headers:
              description: Specify the headers allowed when accessing the resource
              schema:
                type: string
              example: Content-Type, Authorization
            Access-Control-Allow-Credentials:
              description: Indicates whether the browser should include credentials
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              description: Headers exposed to the client
              schema:
                type: string
                example: X-Custom-Header1, X-Custom-Header2
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListCredentialAws
    post:
      description: Create a new AWS Credential
      summary: Create a new AWS Credential
      tags:
      - AccountsV1Aws
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accounts.v1.credential.credential_aws'
              examples:
                create:
                  value:
                    account_sid: ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    date_created: '2015-07-31T04:00:00Z'
                    date_updated: '2015-07-31T04:00:00Z'
                    friendly_name: friendly_name
                    sid: CRaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    url: https://accounts.twilio.com/v1/Credentials/AWS/CRaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          headers:
            Access-Control-Allow-Origin:
              description: Specify the origin(s) allowed to access the resource
              schema:
                type: string
              example: '*'
            Access-Control-Allow-Methods:
              description: Specify the HTTP methods allowed when accessing the resource
              schema:
                type: string
              example: POST, OPTIONS
            Access-Control-Allow-Headers:
              description: Specify the headers allowed when accessing the resource
              schema:
                type: string
              example: Content-Type, Authorization
            Access-Control-Allow-Credentials:
              description: Indicates whether the browser should include credentials
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              description: Headers exposed to the client
              schema:
                type: string
                example: X-Custom-Header1, X-Custom-Header2
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateCredentialAws
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              title: CreateCredentialAwsRequest
              properties:
                Credentials:
                  type: string
                  description: A string that contains the AWS access credentials in
                    the format `<AWS_ACCESS_KEY_ID>:<AWS_SECRET_ACCESS_KEY>`. For
                    example, `AKIAIOSFODNN7EXAMPLE:wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY`
                FriendlyName:
                  type: string
                  description: A descriptive string that you create to describe the
                    resource. It can be up to 64 characters long.
                AccountSid:
                  type: string
                  minLength: 34
                  maxLength: 34
                  pattern: ^AC[0-9a-fA-F]{32}$
                  description: The SID of the Subaccount that this Credential should
                    be associated with. Must be a valid Subaccount of the account
                    issuing the request.
              required:
              - Credentials
            examples:
              create:
                value:
                  AccountSid: ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                  FriendlyName: friendly_name
                  Credentials: aws_credentials
  /v1/Credentials/AWS/{Sid}:
    servers:
    - url: https://accounts.twilio.com
    description: User provided AWS keys
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      parent: /Credentials
      pathType: instance
    get:
      description: Fetch the AWS credentials specified by the provided Credential
        Sid
      summary: Fetch the AWS credentials specified by the provided Credential Sid
      tags:
      - AccountsV1Aws
      parameters:
      - name: Sid
        in: path
        description: The Twilio-provided string that uniquely identifies the AWS resource
          to fetch.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accounts.v1.credential.credential_aws'
              examples:
                fetch:
                  value:
                    account_sid: ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    date_created: '2015-07-31T04:00:00Z'
                    date_updated: '2015-07-31T04:00:00Z'
                    friendly_name: friendly_name
                    sid: CRaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    url: https://accounts.twilio.com/v1/Credentials/AWS/CRaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          headers:
            Access-Control-Allow-Origin:
              description: Specify the origin(s) allowed to access the resource
              schema:
                type: string
              example: '*'
            Access-Control-Allow-Methods:
              description: Specify the HTTP methods allowed when accessing the resource
              schema:
                type: string
              example: POST, OPTIONS
            Access-Control-Allow-Headers:
              description: Specify the headers allowed when accessing the resource
              schema:
                type: string
              example: Content-Type, Authorization
            Access-Control-Allow-Credentials:
              description: Indicates whether the browser should include credentials
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              description: Headers exposed to the client
              schema:
                type: string
                example: X-Custom-Header1, X-Custom-Header2
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchCredentialAws
    post:
      description: Modify the properties of a given Account
      summary: Modify the properties of a given Account
      tags:
      - AccountsV1Aws
      parameters:
      - name: Sid
        in: path
        description: The Twilio-provided string that uniquely identifies the AWS resource
          to update.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accounts.v1.credential.credential_aws'
              examples:
                update:
                  value:
                    account_sid: ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    date_created: '2015-07-31T04:00:00Z'
                    date_updated: '2015-07-31T04:00:00Z'
                    friendly_name: friendly_name
                    sid: CRaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    url: https://accounts.twilio.com/v1/Credentials/AWS/CRaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          headers:
            Access-Control-Allow-Origin:
              description: Specify the origin(s) allowed to access the resource
              schema:
                type: string
              example: '*'
            Access-Control-Allow-Methods:
              description: Specify the HTTP methods allowed when accessing the resource
              schema:
                type: string
              example: POST, OPTIONS
            Access-Control-Allow-Headers:
              description: Specify the headers allowed when accessing the resource
              schema:
                type: string
              example: Content-Type, Authorization
            Access-Control-Allow-Credentials:
              description: Indicates whether the browser should include credentials
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              description: Headers exposed to the client
              schema:
                type: string
                example: X-Custom-Header1, X-Custom-Header2
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateCredentialAws
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              title: UpdateCredentialAwsRequest
              properties:
                FriendlyName:
                  type: string
                  description: A descriptive string that you create to describe the
                    resource. It can be up to 64 characters long.
            examples:
              update:
                value:
                  FriendlyName: friendly_name
                  Credentials: aws_credentials
    delete:
      description: Delete a Credential from your account
      summary: Delete a Credential from your account
      tags:
      - AccountsV1Aws
      parameters:
      - name: Sid
        in: path
        description: The Twilio-provided string that uniquely identifies the AWS resource
          to delete.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteCredentialAws
servers:
- url: https://accounts.twilio.com
tags:
- name: AccountsV1Aws
security:
- accountSid_authToken: []
