components:
  schemas:
    preview.bulk_exports.export.day:
      type: object
      properties:
        create_date:
          description: The date when resource is created
          nullable: true
          type: string
        day:
          description: The date of the data in the file
          nullable: true
          type: string
        friendly_name:
          description: The friendly name specified when creating the job
          nullable: true
          type: string
        resource_type:
          description: "The type of communication \u2013 Messages, Calls, Conferences,\
            \ and Participants"
          nullable: true
          type: string
        size:
          description: Size of the file in bytes
          nullable: true
          type: integer
    preview.bulk_exports.export.day-instance:
      type: object
      properties:
        redirect_to:
          format: uri
          nullable: true
          type: string
    preview.bulk_exports.export:
      type: object
      properties:
        links:
          description: Nested resource URLs.
          format: uri-map
          nullable: true
          type: object
        resource_type:
          description: "The type of communication \u2013 Messages, Calls, Conferences,\
            \ and Participants"
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
    preview.bulk_exports.export_configuration:
      type: object
      properties:
        enabled:
          description: Whether files are automatically generated
          nullable: true
          type: boolean
        resource_type:
          description: "The type of communication \u2013 Messages, Calls, Conferences,\
            \ and Participants"
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
        webhook_method:
          description: Whether to GET or POST to the webhook url
          nullable: true
          type: string
        webhook_url:
          description: URL targeted at export
          format: uri
          nullable: true
          type: string
    preview.bulk_exports.export.export_custom_job:
      type: object
      properties:
        details:
          nullable: true
        email:
          description: The optional email to send the completion notification to
          nullable: true
          type: string
        end_day:
          description: The end day for the custom export specified as a string in
            the format of yyyy-MM-dd
          nullable: true
          type: string
        friendly_name:
          description: The friendly name specified when creating the job
          nullable: true
          type: string
        job_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^JS[0-9a-fA-F]{32}$
          nullable: true
          description: The unique job_sid returned when the custom export was created.
            This can be used to look up the status of the job.
        resource_type:
          description: "The type of communication \u2013 Messages, Calls, Conferences,\
            \ and Participants"
          nullable: true
          type: string
        start_day:
          description: The start day for the custom export specified as a string in
            the format of yyyy-MM-dd
          nullable: true
          type: string
        webhook_method:
          description: This is the method used to call the webhook
          nullable: true
          type: string
        webhook_url:
          description: The optional webhook url called on completion
          nullable: true
          type: string
    preview.bulk_exports.export.job:
      type: object
      properties:
        details:
          nullable: true
          description: This is a list of the completed, pending, or errored dates
            within the export time range, with one entry for each status with more
            than one day in that status
        email:
          description: The optional email to send the completion notification to
          nullable: true
          type: string
        end_day:
          description: The end time for the export specified when creating the job
          nullable: true
          type: string
        friendly_name:
          description: The friendly name specified when creating the job
          nullable: true
          type: string
        job_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^JS[0-9a-fA-F]{32}$
          nullable: true
          description: The job_sid returned when the export was created
        resource_type:
          description: "The type of communication \u2013 Messages, Calls, Conferences,\
            \ and Participants"
          nullable: true
          type: string
        start_day:
          description: The start time for the export specified when creating the job
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
        webhook_method:
          description: This is the method used to call the webhook
          nullable: true
          type: string
        webhook_url:
          description: The optional webhook url called on completion
          nullable: true
          type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Preview
  version: 1.29.2
openapi: 3.0.1
paths:
  /BulkExports/Exports/{ResourceType}/Days/{Day}:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
      parent: /Exports
    get:
      description: Fetch a specific Day.
      operationId: FetchDay
      parameters:
      - description: "The type of communication \u2013 Messages, Calls, Conferences,\
          \ and Participants"
        in: path
        name: ResourceType
        required: true
        schema:
          type: string
      - description: The ISO 8601 format date of the resources in the file, for a
          UTC day
        in: path
        name: Day
        required: true
        schema:
          type: string
      responses:
        '307':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.bulk_exports.export.day-instance'
          description: Temporary Redirect
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /BulkExports/Exports/{ResourceType}/Days:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
      parent: /Exports
    get:
      description: Retrieve a list of all Days for a resource.
      operationId: ListDay
      parameters:
      - description: "The type of communication \u2013 Messages, Calls, Conferences,\
          \ and Participants"
        in: path
        name: ResourceType
        required: true
        schema:
          type: string
      - description: How many resources to return in each list page. The default is
          50, and the maximum is 1000.
        in: query
        name: PageSize
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: ListDayResponse
                properties:
                  days:
                    type: array
                    items:
                      $ref: '#/components/schemas/preview.bulk_exports.export.day'
                  meta:
                    type: object
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                      key:
                        type: string
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /BulkExports/Exports/{ResourceType}:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
    get:
      description: Fetch a specific Export.
      operationId: FetchExport
      parameters:
      - description: "The type of communication \u2013 Messages, Calls, Conferences,\
          \ and Participants"
        in: path
        name: ResourceType
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.bulk_exports.export'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /BulkExports/Exports:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
  /BulkExports/Exports/{ResourceType}/Configuration:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
      className: export_configuration
    get:
      description: Fetch a specific Export Configuration.
      operationId: FetchExportConfiguration
      parameters:
      - description: "The type of communication \u2013 Messages, Calls, Conferences,\
          \ and Participants"
        in: path
        name: ResourceType
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.bulk_exports.export_configuration'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
    post:
      description: Update a specific Export Configuration.
      operationId: UpdateExportConfiguration
      parameters:
      - description: "The type of communication \u2013 Messages, Calls, Conferences,\
          \ and Participants"
        in: path
        name: ResourceType
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Enabled:
                  description: If true, Twilio will automatically generate every day's
                    file when the day is over.
                  type: boolean
                WebhookUrl:
                  description: Stores the URL destination for the method specified
                    in webhook_method.
                  format: uri
                  type: string
                WebhookMethod:
                  description: Sets whether Twilio should call a webhook URL when
                    the automatic generation is complete, using GET or POST. The actual
                    destination is set in the webhook_url
                  type: string
              title: UpdateExportConfigurationRequest
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.bulk_exports.export_configuration'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /BulkExports/Exports/{ResourceType}/Jobs:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
      parent: /Exports
      className: export_custom_job
    get:
      description: ''
      operationId: ListExportCustomJob
      parameters:
      - description: "The type of communication \u2013 Messages, Calls, Conferences,\
          \ and Participants"
        in: path
        name: ResourceType
        required: true
        schema:
          type: string
      - description: How many resources to return in each list page. The default is
          50, and the maximum is 1000.
        in: query
        name: PageSize
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: ListExportCustomJobResponse
                properties:
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/preview.bulk_exports.export.export_custom_job'
                  meta:
                    type: object
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                      key:
                        type: string
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
    post:
      description: ''
      operationId: CreateExportCustomJob
      parameters:
      - description: "The type of communication \u2013 Messages or Calls, Conferences,\
          \ and Participants"
        in: path
        name: ResourceType
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                StartDay:
                  description: The start day for the custom export specified as a
                    string in the format of yyyy-mm-dd
                  type: string
                EndDay:
                  description: The end day for the custom export specified as a string
                    in the format of yyyy-mm-dd. End day is inclusive and must be
                    2 days earlier than the current UTC day.
                  type: string
                FriendlyName:
                  description: The friendly name specified when creating the job
                  type: string
                WebhookUrl:
                  description: The optional webhook url called on completion of the
                    job. If this is supplied, `WebhookMethod` must also be supplied.
                  type: string
                WebhookMethod:
                  description: This is the method used to call the webhook on completion
                    of the job. If this is supplied, `WebhookUrl` must also be supplied.
                  type: string
                Email:
                  description: The optional email to send the completion notification
                    to
                  type: string
              required:
              - StartDay
              - EndDay
              - FriendlyName
              title: CreateExportCustomJobRequest
              type: object
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.bulk_exports.export.export_custom_job'
          description: Created
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /BulkExports/Exports/Jobs/{JobSid}:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
      parent: /Exports
    get:
      description: ''
      operationId: FetchJob
      parameters:
      - description: The unique string that that we created to identify the Bulk Export
          job
        in: path
        name: JobSid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^JS[0-9a-fA-F]{32}$
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.bulk_exports.export.job'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
    delete:
      description: ''
      operationId: DeleteJob
      parameters:
      - description: The unique string that that we created to identify the Bulk Export
          job
        in: path
        name: JobSid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^JS[0-9a-fA-F]{32}$
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /BulkExports/Exports/Jobs:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
      parent: /Exports
servers:
- url: https://preview.twilio.com
x-maturity:
- name: Preview
  description: PLEASE NOTE that this is a Preview product that is subject to change.
    Use it with caution. If you currently do not have developer preview access, please
    contact help@twilio.com.
