components:
  schemas:
    microvisor.v1.app:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: The Account SID.
        date_created:
          type: string
          format: date-time
          nullable: true
          description: The date that this App was created.
        date_updated:
          type: string
          format: date-time
          nullable: true
          description: The date that this App was last updated.
        hash:
          description: App manifest hash represented as hash_algorithm:hash_value.
          nullable: true
          type: string
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^KA[0-9a-fA-F]{32}$
          nullable: true
          description: A string that uniquely identifies this App.
        unique_name:
          description: An developer-defined string that uniquely identifies the App.
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
    microvisor.v1.device:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: Account SID.
        app:
          nullable: true
          description: Information about the target App and the App reported by this
            Device.
        date_created:
          type: string
          format: date-time
          nullable: true
          description: The date that this Device was created.
        date_updated:
          type: string
          format: date-time
          nullable: true
          description: The date that this Device was last updated.
        logging:
          nullable: true
          description: Object specifying whether application logging is enabled for
            this Device.
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^UV[0-9a-fA-F]{32}$
          nullable: true
          description: A string that uniquely identifies this Device.
        unique_name:
          description: A developer-defined string that uniquely identifies the Device.
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Microvisor
  version: 1.35.0
openapi: 3.0.1
paths:
  /v1/Apps:
    servers:
    - url: https://microvisor.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      pathType: list
    get:
      description: Retrieve a list of all Apps for an Account.
      operationId: ListApp
      parameters:
      - description: How many resources to return in each list page. The default is
          50, and the maximum is 1000.
        in: query
        name: PageSize
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: ListAppResponse
                properties:
                  apps:
                    type: array
                    items:
                      $ref: '#/components/schemas/microvisor.v1.app'
                  meta:
                    type: object
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                      key:
                        type: string
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /v1/Apps/{Sid}:
    servers:
    - url: https://microvisor.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      pathType: instance
    get:
      description: Fetch a specific App.
      operationId: FetchApp
      parameters:
      - description: A 34-character string that uniquely identifies this App.
        in: path
        name: Sid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.app'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
    delete:
      description: Delete a specific App.
      operationId: DeleteApp
      parameters:
      - description: A 34-character string that uniquely identifies this App.
        in: path
        name: Sid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /v1/Devices:
    servers:
    - url: https://microvisor.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      pathType: list
    get:
      description: Retrieve a list of all Devices registered with the Account.
      operationId: ListDevice
      parameters:
      - description: How many resources to return in each list page. The default is
          50, and the maximum is 1000.
        in: query
        name: PageSize
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: ListDeviceResponse
                properties:
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/microvisor.v1.device'
                  meta:
                    type: object
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                      key:
                        type: string
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /v1/Devices/{Sid}:
    servers:
    - url: https://microvisor.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      pathType: instance
    get:
      description: Fetch a specific Device.
      operationId: FetchDevice
      parameters:
      - description: A 34-character string that uniquely identifies this Device.
        in: path
        name: Sid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.device'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
    post:
      description: Update a specific Device.
      operationId: UpdateDevice
      parameters:
      - description: A 34-character string that uniquely identifies this Device.
        in: path
        name: Sid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                UniqueName:
                  description: A unique and addressable name to be assigned to this
                    Device by the developer. It may be used in place of the Device
                    SID.
                  type: string
                TargetApp:
                  description: The SID or unique name of the App to be targeted to
                    the Device.
                  type: string
                LoggingEnabled:
                  description: A Boolean flag specifying whether to enable application
                    logging. Logs will be enabled or extended for 24 hours.
                  type: boolean
              title: UpdateDeviceRequest
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.device'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
servers:
- url: https://microvisor.twilio.com
x-maturity:
- name: Preview
  description: PLEASE NOTE that this is a Preview product that is subject to change.
    Use it with caution. If you currently do not have developer preview access, please
    contact help@twilio.com.
