components:
  schemas:
    preview.wireless.command:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
        command:
          nullable: true
          type: string
        command_mode:
          nullable: true
          type: string
        date_created:
          type: string
          format: date-time
          nullable: true
        date_updated:
          type: string
          format: date-time
          nullable: true
        device_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^DE[0-9a-fA-F]{32}$
          nullable: true
        direction:
          nullable: true
          type: string
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^DC[0-9a-fA-F]{32}$
          nullable: true
        sim_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^DE[0-9a-fA-F]{32}$
          nullable: true
        status:
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
    preview.wireless.rate_plan:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
        data_enabled:
          nullable: true
          type: boolean
        data_limit:
          nullable: true
          type: integer
        data_metering:
          nullable: true
          type: string
        date_created:
          type: string
          format: date-time
          nullable: true
        date_updated:
          type: string
          format: date-time
          nullable: true
        friendly_name:
          nullable: true
          type: string
        international_roaming:
          type: array
          items:
            type: string
          nullable: true
        messaging_enabled:
          nullable: true
          type: boolean
        national_roaming_enabled:
          nullable: true
          type: boolean
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^WP[0-9a-fA-F]{32}$
          nullable: true
        unique_name:
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
        voice_enabled:
          nullable: true
          type: boolean
    preview.wireless.sim:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
        commands_callback_method:
          nullable: true
          type: string
        commands_callback_url:
          format: uri
          nullable: true
          type: string
        date_created:
          type: string
          format: date-time
          nullable: true
        date_updated:
          type: string
          format: date-time
          nullable: true
        e_id:
          nullable: true
          type: string
        friendly_name:
          nullable: true
          type: string
        iccid:
          nullable: true
          type: string
        links:
          format: uri-map
          nullable: true
          type: object
        rate_plan_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^WP[0-9a-fA-F]{32}$
          nullable: true
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^DE[0-9a-fA-F]{32}$
          nullable: true
        sms_fallback_method:
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        sms_fallback_url:
          format: uri
          nullable: true
          type: string
        sms_method:
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        sms_url:
          format: uri
          nullable: true
          type: string
        status:
          nullable: true
          type: string
        unique_name:
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
        voice_fallback_method:
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        voice_fallback_url:
          format: uri
          nullable: true
          type: string
        voice_method:
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        voice_url:
          format: uri
          nullable: true
          type: string
    preview.wireless.sim.usage:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
        commands_costs:
          nullable: true
        commands_usage:
          nullable: true
        data_costs:
          nullable: true
        data_usage:
          nullable: true
        period:
          nullable: true
        sim_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^DE[0-9a-fA-F]{32}$
          nullable: true
        sim_unique_name:
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Preview
  version: 1.29.2
openapi: 3.0.1
paths:
  /wireless/Commands/{Sid}:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
    get:
      description: ''
      operationId: FetchCommand
      parameters:
      - description: ''
        in: path
        name: Sid
        required: true
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^DC[0-9a-fA-F]{32}$
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.wireless.command'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /wireless/Commands:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
    get:
      description: ''
      operationId: ListCommand
      parameters:
      - description: ''
        in: query
        name: Device
        schema:
          type: string
      - description: ''
        in: query
        name: Sim
        schema:
          type: string
      - description: ''
        in: query
        name: Status
        schema:
          type: string
      - description: ''
        in: query
        name: Direction
        schema:
          type: string
      - description: How many resources to return in each list page. The default is
          50, and the maximum is 1000.
        in: query
        name: PageSize
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: ListCommandResponse
                properties:
                  commands:
                    type: array
                    items:
                      $ref: '#/components/schemas/preview.wireless.command'
                  meta:
                    type: object
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                      key:
                        type: string
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
    post:
      description: ''
      operationId: CreateCommand
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Command:
                  description: ''
                  type: string
                Device:
                  description: ''
                  type: string
                Sim:
                  description: ''
                  type: string
                CallbackMethod:
                  description: ''
                  type: string
                CallbackUrl:
                  description: ''
                  format: uri
                  type: string
                CommandMode:
                  description: ''
                  type: string
                IncludeSid:
                  description: ''
                  type: string
              required:
              - Command
              title: CreateCommandRequest
              type: object
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.wireless.command'
          description: Created
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /wireless/RatePlans:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
    get:
      description: ''
      operationId: ListRatePlan
      parameters:
      - description: How many resources to return in each list page. The default is
          50, and the maximum is 1000.
        in: query
        name: PageSize
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: ListRatePlanResponse
                properties:
                  rate_plans:
                    type: array
                    items:
                      $ref: '#/components/schemas/preview.wireless.rate_plan'
                  meta:
                    type: object
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                      key:
                        type: string
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
    post:
      description: ''
      operationId: CreateRatePlan
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                UniqueName:
                  description: ''
                  type: string
                FriendlyName:
                  description: ''
                  type: string
                DataEnabled:
                  description: ''
                  type: boolean
                DataLimit:
                  description: ''
                  type: integer
                DataMetering:
                  description: ''
                  type: string
                MessagingEnabled:
                  description: ''
                  type: boolean
                VoiceEnabled:
                  description: ''
                  type: boolean
                CommandsEnabled:
                  description: ''
                  type: boolean
                NationalRoamingEnabled:
                  description: ''
                  type: boolean
                InternationalRoaming:
                  type: array
                  items:
                    type: string
                  description: ''
              title: CreateRatePlanRequest
              type: object
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.wireless.rate_plan'
          description: Created
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /wireless/RatePlans/{Sid}:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
    get:
      description: ''
      operationId: FetchRatePlan
      parameters:
      - description: ''
        in: path
        name: Sid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.wireless.rate_plan'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
    post:
      description: ''
      operationId: UpdateRatePlan
      parameters:
      - description: ''
        in: path
        name: Sid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                UniqueName:
                  description: ''
                  type: string
                FriendlyName:
                  description: ''
                  type: string
              title: UpdateRatePlanRequest
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.wireless.rate_plan'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
    delete:
      description: ''
      operationId: DeleteRatePlan
      parameters:
      - description: ''
        in: path
        name: Sid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /wireless/Sims/{Sid}:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
    get:
      description: ''
      operationId: FetchSim
      parameters:
      - description: ''
        in: path
        name: Sid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.wireless.sim'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
    post:
      description: ''
      operationId: UpdateSim
      parameters:
      - description: ''
        in: path
        name: Sid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                UniqueName:
                  description: ''
                  type: string
                CallbackMethod:
                  description: ''
                  type: string
                CallbackUrl:
                  description: ''
                  format: uri
                  type: string
                FriendlyName:
                  description: ''
                  type: string
                RatePlan:
                  description: ''
                  type: string
                Status:
                  description: ''
                  type: string
                CommandsCallbackMethod:
                  description: ''
                  enum:
                  - HEAD
                  - GET
                  - POST
                  - PATCH
                  - PUT
                  - DELETE
                  format: http-method
                  type: string
                CommandsCallbackUrl:
                  description: ''
                  format: uri
                  type: string
                SmsFallbackMethod:
                  description: ''
                  enum:
                  - HEAD
                  - GET
                  - POST
                  - PATCH
                  - PUT
                  - DELETE
                  format: http-method
                  type: string
                SmsFallbackUrl:
                  description: ''
                  format: uri
                  type: string
                SmsMethod:
                  description: ''
                  enum:
                  - HEAD
                  - GET
                  - POST
                  - PATCH
                  - PUT
                  - DELETE
                  format: http-method
                  type: string
                SmsUrl:
                  description: ''
                  format: uri
                  type: string
                VoiceFallbackMethod:
                  description: ''
                  enum:
                  - HEAD
                  - GET
                  - POST
                  - PATCH
                  - PUT
                  - DELETE
                  format: http-method
                  type: string
                VoiceFallbackUrl:
                  description: ''
                  format: uri
                  type: string
                VoiceMethod:
                  description: ''
                  enum:
                  - HEAD
                  - GET
                  - POST
                  - PATCH
                  - PUT
                  - DELETE
                  format: http-method
                  type: string
                VoiceUrl:
                  description: ''
                  format: uri
                  type: string
              title: UpdateSimRequest
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.wireless.sim'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /wireless/Sims:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
    get:
      description: ''
      operationId: ListSim
      parameters:
      - description: ''
        in: query
        name: Status
        schema:
          type: string
      - description: ''
        in: query
        name: Iccid
        schema:
          type: string
      - description: ''
        in: query
        name: RatePlan
        schema:
          type: string
      - description: ''
        in: query
        name: EId
        schema:
          type: string
      - description: ''
        in: query
        name: SimRegistrationCode
        schema:
          type: string
      - description: How many resources to return in each list page. The default is
          50, and the maximum is 1000.
        in: query
        name: PageSize
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: ListSimResponse
                properties:
                  sims:
                    type: array
                    items:
                      $ref: '#/components/schemas/preview.wireless.sim'
                  meta:
                    type: object
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                      key:
                        type: string
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
  /wireless/Sims/{SimSid}/Usage:
    servers:
    - url: https://preview.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
      parent: /Sims
    get:
      description: ''
      operationId: FetchUsage
      parameters:
      - description: ''
        in: path
        name: SimSid
        required: true
        schema:
          type: string
      - description: ''
        in: query
        name: End
        schema:
          type: string
      - description: ''
        in: query
        name: Start
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preview.wireless.sim.usage'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Preview
servers:
- url: https://preview.twilio.com
x-maturity:
- name: Preview
  description: PLEASE NOTE that this is a Preview product that is subject to change.
    Use it with caution. If you currently do not have developer preview access, please
    contact help@twilio.com.
