components:
  schemas:
    routes.v2.phone_number:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: Account Sid.
        date_created:
          type: string
          format: date-time
          nullable: true
          description: The date that this phone number was assigned an Inbound Processing
            Region.
        date_updated:
          type: string
          format: date-time
          nullable: true
          description: The date that the Inbound Processing Region was updated for
            this phone number.
        friendly_name:
          description: A human readable description of the Inbound Processing Region
            assignments for this phone number.
          nullable: true
          type: string
        phone_number:
          description: The phone number
          nullable: true
          type: string
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^QQ[0-9a-fA-F]{32}$
          nullable: true
          description: A string that uniquely identifies the Inbound Processing Region
            assignments for this phone number.
        url:
          description: The absolute URL of the resource
          format: uri
          nullable: true
          type: string
        voice_region:
          description: The Inbound Processing Region used for this phone number for
            voice.
          nullable: true
          type: string
    routes.v2.sip_domain:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
        date_created:
          type: string
          format: date-time
          nullable: true
        date_updated:
          type: string
          format: date-time
          nullable: true
        friendly_name:
          nullable: true
          type: string
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^QQ[0-9a-fA-F]{32}$
          nullable: true
        sip_domain:
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
        voice_region:
          nullable: true
          type: string
    routes.v2.trunks:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: Account Sid.
        date_created:
          type: string
          format: date-time
          nullable: true
          description: The date that this SIP Trunk was assigned an Inbound Processing
            Region.
        date_updated:
          type: string
          format: date-time
          nullable: true
          description: The date that the Inbound Processing Region was updated for
            this SIP Trunk.
        friendly_name:
          description: A human readable description of the Inbound Processing Region
            assignments for this SIP Trunk.
          nullable: true
          type: string
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^QQ[0-9a-fA-F]{32}$
          nullable: true
          description: A string that uniquely identifies the Inbound Processing Region
            assignments for this SIP Trunk.
        sip_trunk_domain:
          description: The SIP Trunk
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource
          format: uri
          nullable: true
          type: string
        voice_region:
          description: The Inbound Processing Region used for this SIP Trunk for voice.
          nullable: true
          type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Routes
  version: 1.33.0
openapi: 3.0.1
paths:
  /v2/PhoneNumbers/{PhoneNumber}:
    servers:
    - url: https://routes.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: instance
    post:
      description: Assign an Inbound Processing Region to a phone number.
      operationId: UpdatePhoneNumber
      parameters:
      - description: The phone number in E.164 format
        in: path
        name: PhoneNumber
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                VoiceRegion:
                  description: The Inbound Processing Region used for this phone number
                    for voice
                  type: string
                FriendlyName:
                  description: A human readable description of this resource, up to
                    64 characters.
                  type: string
              required:
              - VoiceRegion
              - FriendlyName
              title: UpdatePhoneNumberRequest
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routes.v2.phone_number'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    get:
      description: Fetch the Inbound Processing Region assigned to a phone number.
      operationId: FetchPhoneNumber
      parameters:
      - description: The phone number in E.164 format
        in: path
        name: PhoneNumber
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routes.v2.phone_number'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
  /v2/SipDomains/{SipDomain}:
    servers:
    - url: https://routes.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: instance
    post:
      description: ''
      operationId: UpdateSipDomain
      parameters:
      - description: ''
        in: path
        name: SipDomain
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                VoiceRegion:
                  description: ''
                  type: string
                FriendlyName:
                  description: ''
                  type: string
              title: UpdateSipDomainRequest
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routes.v2.sip_domain'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    get:
      description: ''
      operationId: FetchSipDomain
      parameters:
      - description: ''
        in: path
        name: SipDomain
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routes.v2.sip_domain'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
  /v2/Trunks/{SipTrunkDomain}:
    servers:
    - url: https://routes.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: instance
    post:
      description: Assign an Inbound Processing Region to a SIP Trunk
      operationId: UpdateTrunks
      parameters:
      - description: The absolute URL of the SIP Trunk
        in: path
        name: SipTrunkDomain
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                VoiceRegion:
                  description: The Inbound Processing Region used for this SIP Trunk
                    for voice
                  type: string
                FriendlyName:
                  description: A human readable description of this resource, up to
                    64 characters.
                  type: string
              title: UpdateTrunksRequest
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routes.v2.trunks'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    get:
      description: Fetch the Inbound Processing Region assigned to a SIP Trunk.
      operationId: FetchTrunks
      parameters:
      - description: The absolute URL of the SIP Trunk
        in: path
        name: SipTrunkDomain
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routes.v2.trunks'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
servers:
- url: https://routes.twilio.com
x-maturity:
- name: GA
  description: This product is Generally Available.
