{
  "info": {
    "title": "Twilio - Lookups",
    "description": "This is the public Twilio REST API.",
    "termsOfService": "https://www.twilio.com/legal/tos",
    "contact": {
      "name": "Twilio Support",
      "url": "https://support.twilio.com",
      "email": "support@twilio.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "openapi": "3.0.1",
  "paths": {
    "/v2/PhoneNumbers/{PhoneNumber}": {
      "servers": [
        {
          "url": "https://lookups.twilio.com"
        }
      ],
      "description": "Query information on a phone number so that you can make a trusted interaction with your user",
      "x-twilio": {
        "defaultOutputProperties": [
          "calling_country_code",
          "phone_number",
          "country_code",
          "valid",
          "national_format"
        ],
        "pathType": "instance"
      },
      "get": {
        "description": "",
        "summary": "",
        "tags": [
          "LookupsV2PhoneNumber"
        ],
        "parameters": [
          {
            "name": "PhoneNumber",
            "in": "path",
            "description": "The phone number to lookup in E.164 or national format. Default country code is +1 (North America).",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "standard",
                "deleteSla": 30
              }
            },
            "required": true
          },
          {
            "name": "Fields",
            "in": "query",
            "description": "A comma-separated list of fields to return. Possible values are validation, caller_name, sim_swap, call_forwarding, line_status, line_type_intelligence, identity_match, reassigned_number, sms_pumping_risk, phone_number_quality_score, pre_fill.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "fetchCallerName": {
                "value": "caller_name"
              },
              "fetchSimSwap": {
                "value": "sim_swap"
              },
              "fetchSimSwapWithoutLastSimSwapDate": {
                "value": "sim_swap"
              },
              "fetchSimSwapWithFalseSwapped": {
                "value": "sim_swap"
              },
              "fetchCallForwarding": {
                "value": "call_forwarding"
              },
              "fetchSimSwapAndCallForwarding": {
                "value": "sim_swap,call_forwarding"
              },
              "fetchLineStatusActive": {
                "value": "line_status"
              },
              "fetchLineStatusInactive": {
                "value": "line_status"
              },
              "fetchLineTypeIntelligence": {
                "value": "line_type_intelligence"
              },
              "fetchIdentityMatch": {
                "value": "identity_match"
              },
              "fetchSmsPumpingRisk": {
                "value": "sms_pumping_risk"
              },
              "fetchReassignedNumberWithNumberReassigned": {
                "value": "reassigned_number"
              },
              "fetchReassignedNumberWithNumberNoReassigned": {
                "value": "reassigned_number"
              },
              "fetchReassignedNumberWithNoDataAvailable": {
                "value": "reassigned_number"
              },
              "fetchPhoneNumberQualityScore": {
                "value": "phone_number_quality_score"
              },
              "fetchPreFill": {
                "value": "pre_fill"
              },
              "fetchSmsPumpingRiskWithPartnerSubId": {
                "value": "sms_pumping_risk"
              }
            }
          },
          {
            "name": "CountryCode",
            "in": "query",
            "description": "The [country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) used if the phone number provided is in national format.",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "standard",
                "deleteSla": 30
              }
            }
          },
          {
            "name": "FirstName",
            "in": "query",
            "description": "User\u2019s first name. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "sensitive",
                "deleteSla": 0
              }
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "John"
              }
            }
          },
          {
            "name": "LastName",
            "in": "query",
            "description": "User\u2019s last name. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "sensitive",
                "deleteSla": 0
              }
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "Doe"
              }
            }
          },
          {
            "name": "AddressLine1",
            "in": "query",
            "description": "User\u2019s first address line. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "sensitive",
                "deleteSla": 0
              }
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "321 Main Street"
              }
            }
          },
          {
            "name": "AddressLine2",
            "in": "query",
            "description": "User\u2019s second address line. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "sensitive",
                "deleteSla": 0
              }
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "Suite 2"
              }
            }
          },
          {
            "name": "City",
            "in": "query",
            "description": "User\u2019s city. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "sensitive",
                "deleteSla": 0
              }
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "New York"
              }
            }
          },
          {
            "name": "State",
            "in": "query",
            "description": "User\u2019s country subdivision, such as state, province, or locality. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "sensitive",
                "deleteSla": 0
              }
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "NY"
              }
            }
          },
          {
            "name": "PostalCode",
            "in": "query",
            "description": "User\u2019s postal zip code. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "sensitive",
                "deleteSla": 0
              }
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "10021"
              }
            }
          },
          {
            "name": "AddressCountryCode",
            "in": "query",
            "description": "User\u2019s country, up to two characters. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string",
              "format": "iso-country-code"
            },
            "x-twilio": {
              "pii": {
                "handling": "sensitive",
                "deleteSla": 0
              }
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "US"
              }
            }
          },
          {
            "name": "NationalId",
            "in": "query",
            "description": "User\u2019s national ID, such as SSN or Passport ID. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "sensitive",
                "deleteSla": 0
              }
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "YZ3456883"
              }
            }
          },
          {
            "name": "DateOfBirth",
            "in": "query",
            "description": "User\u2019s date of birth, in YYYYMMDD format. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "sensitive",
                "deleteSla": 0
              }
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "19901214"
              }
            }
          },
          {
            "name": "LastVerifiedDate",
            "in": "query",
            "description": "The date you obtained consent to call or text the end-user of the phone number or a date on which you are reasonably certain that the end-user could still be reached at that number. This query parameter is only used (optionally) for reassigned_number package requests.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "fetchReassignedNumberWithNumberReassigned": {
                "value": "20201227"
              },
              "fetchReassignedNumberWithNumberNoReassigned": {
                "value": "20190924"
              },
              "fetchReassignedNumberWithNoDataAvailable": {
                "value": "20211224"
              }
            }
          },
          {
            "name": "VerificationSid",
            "in": "query",
            "description": "The unique identifier associated with a verification process through verify API. This query parameter is only used (optionally) for pre_fill package requests.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "fetchPreFill": {
                "value": "VEb0ffb48bee328cf2d3c4020072cdfxxx"
              }
            }
          },
          {
            "name": "PartnerSubId",
            "in": "query",
            "description": "The optional partnerSubId parameter to provide context for your sub-accounts, tenantIDs, sender IDs or other segmentation, enhancing the accuracy of the risk analysis.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "fetchSmsPumpingRiskWithPartnerSubId": {
                "value": "partner_sub_id_string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lookups.v2.phone_number"
                },
                "examples": {
                  "fetch": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchInvalid": {
                    "value": {
                      "calling_country_code": null,
                      "country_code": null,
                      "phone_number": "+141599299600",
                      "national_format": null,
                      "valid": false,
                      "validation_errors": [
                        "TOO_LONG"
                      ],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+141599299600"
                    }
                  },
                  "fetchCallerName": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": {
                        "caller_name": "Sergio Suarez",
                        "caller_type": "CONSUMER",
                        "error_code": null
                      },
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchSimSwap": {
                    "value": {
                      "calling_country_code": "44",
                      "country_code": "GB",
                      "phone_number": "+447772000001",
                      "national_format": "07772 000001",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": {
                        "last_sim_swap": {
                          "last_sim_swap_date": "2020-04-27T10:18:50Z",
                          "swapped_period": "PT48H",
                          "swapped_in_period": true
                        },
                        "carrier_name": "Vodafone UK",
                        "mobile_country_code": "276",
                        "mobile_network_code": "02",
                        "error_code": null
                      },
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+447772000001"
                    }
                  },
                  "fetchSimSwapWithoutLastSimSwapDate": {
                    "value": {
                      "calling_country_code": "44",
                      "country_code": "GB",
                      "phone_number": "+447772000001",
                      "national_format": "07772 000001",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": {
                        "last_sim_swap": {
                          "last_sim_swap_date": null,
                          "swapped_period": "PT24H",
                          "swapped_in_period": true
                        },
                        "carrier_name": "Vodafone UK",
                        "mobile_country_code": "276",
                        "mobile_network_code": "02",
                        "error_code": null
                      },
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+447772000001"
                    }
                  },
                  "fetchSimSwapWithFalseSwapped": {
                    "value": {
                      "calling_country_code": "44",
                      "country_code": "GB",
                      "phone_number": "+447772000001",
                      "national_format": "07772 000001",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": {
                        "last_sim_swap": {
                          "last_sim_swap_date": null,
                          "swapped_period": "PT24H",
                          "swapped_in_period": false
                        },
                        "carrier_name": "Vodafone UK",
                        "mobile_country_code": "276",
                        "mobile_network_code": "02",
                        "error_code": null
                      },
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+447772000001"
                    }
                  },
                  "fetchCallForwarding": {
                    "value": {
                      "calling_country_code": "44",
                      "country_code": "GB",
                      "phone_number": "+447772000001",
                      "national_format": "07772 000001",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": {
                        "call_forwarding_status": true,
                        "error_code": null
                      },
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+447772000001"
                    }
                  },
                  "fetchSimSwapAndCallForwarding": {
                    "value": {
                      "calling_country_code": "44",
                      "country_code": "GB",
                      "phone_number": "+447772000001",
                      "national_format": "07772 000001",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": {
                        "last_sim_swap": {
                          "last_sim_swap_date": "2020-11-05T20:52:09.322Z",
                          "swapped_period": "PT24H",
                          "swapped_in_period": true
                        },
                        "carrier_name": "Vodafone UK",
                        "mobile_country_code": "276",
                        "mobile_network_code": "02",
                        "error_code": null
                      },
                      "call_forwarding": {
                        "call_forwarding_status": true,
                        "error_code": null
                      },
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+447772000001"
                    }
                  },
                  "fetchLineStatusActive": {
                    "value": {
                      "calling_country_code": "44",
                      "country_code": "GB",
                      "phone_number": "+447772000001",
                      "national_format": "07772 000001",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": {
                        "status": "active",
                        "error_code": null
                      },
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+447772000001"
                    }
                  },
                  "fetchLineStatusInactive": {
                    "value": {
                      "calling_country_code": "44",
                      "country_code": "GB",
                      "phone_number": "+447772000001",
                      "national_format": "07772 000001",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": {
                        "status": "inactive",
                        "error_code": null
                      },
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+447772000001"
                    }
                  },
                  "fetchLineTypeIntelligence": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": {
                        "error_code": null,
                        "mobile_country_code": "240",
                        "mobile_network_code": "38",
                        "carrier_name": "Twilio - SMS/MMS-SVR",
                        "type": "nonFixedVoip"
                      },
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchIdentityMatch": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": {
                        "first_name_match": "exact_match",
                        "last_name_match": "high_partial_match",
                        "address_lines_match": "no_match",
                        "city_match": "no_match",
                        "state_match": "high_partial_match",
                        "postal_code_match": "no_data_available",
                        "address_country_match": "exact_match",
                        "national_id_match": "exact_match",
                        "date_of_birth_match": "exact_match",
                        "summary_score": 90,
                        "error_code": null,
                        "error_message": null
                      },
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchSmsPumpingRisk": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": {
                        "carrier_risk_category": "moderate",
                        "number_blocked": false,
                        "number_blocked_date": null,
                        "number_blocked_last_3_months": null,
                        "sms_pumping_risk_score": 61,
                        "error_code": null
                      },
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchReassignedNumberWithNumberReassigned": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "reassigned_number": {
                        "last_verified_date": "2020-12-27",
                        "is_number_reassigned": "yes",
                        "error_code": null
                      },
                      "identity_match": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchReassignedNumberWithNumberNoReassigned": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": {
                        "last_verified_date": "2019-09-24",
                        "is_number_reassigned": "no",
                        "error_code": null
                      },
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchReassignedNumberWithNoDataAvailable": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": {
                        "last_verified_date": "2021-12-24",
                        "is_number_reassigned": "no_data_available",
                        "error_code": null
                      },
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchPhoneNumberQualityScore": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": {
                        "carrier_risk_score": 17,
                        "carrier_risk_category": "low",
                        "disposable_phone_risk_score": 13,
                        "disposable_phone_risk_category": "low",
                        "quality_score": 0,
                        "quality_category": "low",
                        "velocity_risk_score": 0,
                        "velocity_risk_category": "low",
                        "error_code": null
                      },
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchPreFill": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": {
                        "first_name": "John",
                        "last_name": "Doe",
                        "address_line": "321 Main Street",
                        "country_code": "US",
                        "state": "WA",
                        "postal_code": "98117",
                        "error_code": null
                      },
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchSmsPumpingRiskWithPartnerSubId": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": {
                        "carrier_risk_category": "moderate",
                        "number_blocked": false,
                        "number_blocked_date": null,
                        "number_blocked_last_3_months": null,
                        "sms_pumping_risk_score": 61,
                        "error_code": null
                      },
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  }
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "FetchPhoneNumber"
      }
    },
    "/v2/batch/query": {
      "post": {
        "summary": "In Request Bulk",
        "operationId": "CreateBulkLookup",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "LookupResponse",
                  "properties": {
                    "phone_numbers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LookupResponseWithCorId"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "LookupRequest",
                "properties": {
                  "phone_numbers": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LookupRequestWithCorId"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Discussions made regarding how to help the customer to correlation request and response objects:\n- Respecting the natural order (requests vs. response)\n- Using phone numbers as unique key\n- Adding a correlation_id key",
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "parameters": []
      }
    },
    "/v2/Jobs": {},
    "/v2/Jobs/{JobSid}": {},
    "/v2/Jobs/{JobSid}/stop": {},
    "/v2/RateLimits": {
      "get": {
        "summary": "Get account rate limits",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "name": "Fields"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "RateLimitListResponse",
                  "properties": {
                    "rate_limits": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RateLimitResponse"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioServiceErrorResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          }
        },
        "operationId": "FetchLookupAccountRateLimits",
        "description": "Retrieve the list of rate limits for all fields (if any)\nIt returns also the twilio rate limits.",
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      }
    },
    "/v2/RateLimits/Fields/{Field}/Bucket/{Bucket}": {
      "get": {
        "summary": "Get rate limit",
        "tags": [],
        "parameters": [
          {
            "name": "Field",
            "description": "bucket name",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "Bucket",
            "description": "bucket name",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioServiceErrorResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioServiceErrorResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          }
        },
        "operationId": "FetchLookupRateLimit",
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "delete": {
        "summary": "Delete rate limit",
        "tags": [],
        "parameters": [
          {
            "name": "Field",
            "description": "bucket name",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "Bucket",
            "description": "bucket name",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioServiceErrorResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          }
        },
        "operationId": "DeleteLookupRateLimit",
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "put": {
        "summary": "Upsert rate limit",
        "tags": [],
        "parameters": [
          {
            "name": "Field",
            "description": "field name",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "Bucket",
            "description": "bucket name",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioServiceErrorResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          }
        },
        "operationId": "UpdateLookupRateLimit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RateLimitRequest"
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      }
    },
    "/v2/PhoneNumbers/{PhoneNumber}/Overrides/{Field}": {
      "x-twilio": {
        "mountName": "lookupOverrides"
      },
      "get": {
        "summary": "Get Overrides for a Phone Number for a specific field.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true,
            "name": "Field"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true,
            "name": "PhoneNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverridesResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioServiceErrorResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioServiceErrorResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          }
        },
        "operationId": "FetchLookupPhoneNumberOverrides",
        "description": "Retrieve an Override for a specific package and phone number.",
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "post": {
        "summary": "Create Override for a Phone Number for a specific field",
        "operationId": "CreateLookupPhoneNumberOverrides",
        "description": "Create an Override for a specific package and phone number.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "Field",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "PhoneNumber",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverridesResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioServiceErrorResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OverridesRequest"
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "put": {
        "summary": "Update Override for a Phone Number for a specific field",
        "operationId": "UpdateLookupPhoneNumberOverrides",
        "description": "Update an Override for a specific package and phone number.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "Field",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "PhoneNumber",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverridesResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioServiceErrorResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioServiceErrorResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OverridesRequest"
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "delete": {
        "summary": "Delete an Override for a Phone Number for a specific field",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "Field",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "PhoneNumber",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioServiceErrorResponse"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            }
          }
        },
        "operationId": "DeleteLookupPhoneNumberOverrides",
        "description": "Delete an Override for a specific package and phone number.",
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://lookups.twilio.com"
    }
  ],
  "tags": [
    {
      "name": "LookupsV2PhoneNumber"
    },
    {
      "name": "LookupsV2Version"
    }
  ],
  "security": [
    {
      "accountSid_authToken": []
    }
  ],
  "components": {
    "securitySchemes": {
      "accountSid_authToken": {
        "scheme": "basic",
        "type": "http"
      }
    },
    "schemas": {
      "LookupRequest": {
        "title": "Lookup request",
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "caller_name",
                "sim_swap",
                "call_forwarding",
                "line_type_intelligence",
                "line_status",
                "identity_match",
                "reassigned_number",
                "sms_pumping_risk"
              ]
            }
          },
          "country_code": {
            "type": "string"
          },
          "identity_match": {
            "$ref": "#/components/schemas/IdentityMatchParameters"
          },
          "reassigned_number": {
            "$ref": "#/components/schemas/ReassignedNumberRequest"
          }
        },
        "required": [
          "phone_number"
        ],
        "description": ""
      },
      "LookupRequestWithCorId": {
        "title": "LookupRequestWithCorId",
        "type": "object",
        "properties": {
          "correlation_id": {
            "type": "string",
            "description": "Unique identifier used to match request with response"
          },
          "phone_number": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "caller_name",
                "sim_swap",
                "call_forwarding",
                "line_type_intelligence",
                "line_status",
                "identity_match",
                "reassigned_number",
                "sms_pumping_risk"
              ]
            }
          },
          "country_code": {
            "type": "string"
          },
          "identity_match": {
            "$ref": "#/components/schemas/IdentityMatchParameters"
          },
          "reassigned_number": {
            "$ref": "#/components/schemas/ReassignedNumberRequest"
          },
          "sms_pumping_risk": {
            "$ref": "#/components/schemas/SmsPumpingRiskParameters"
          }
        },
        "required": [
          "phone_number"
        ]
      },
      "LookupJobRequest": {
        "title": "LookupJobRequest",
        "type": "object",
        "properties": {
          "friendly_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "thresholds": {
            "$ref": "#/components/schemas/Thresholds"
          }
        }
      },
      "LookupResponse": {
        "title": "LookupResponse",
        "type": "object",
        "properties": {
          "calling_country_code": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "national_format": {
            "type": "string"
          },
          "valid": {
            "type": "boolean"
          },
          "validation_errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "caller_name": {
            "$ref": "#/components/schemas/CallerName"
          },
          "sim_swap": {
            "$ref": "#/components/schemas/SimSwap"
          },
          "call_forwarding": {
            "$ref": "#/components/schemas/CallForwarding"
          },
          "line_type_intelligence": {
            "$ref": "#/components/schemas/LineTypeIntelligence"
          },
          "line_status": {
            "$ref": "#/components/schemas/LineStatus"
          },
          "identity_match": {
            "$ref": "#/components/schemas/IdentityMatch"
          },
          "reassigned_number": {
            "$ref": "#/components/schemas/ReassignedNumberResponse"
          },
          "sms_pumping_risk": {
            "$ref": "#/components/schemas/SmsPumpingRisk"
          }
        }
      },
      "LookupResponseWithCorId": {
        "type": "object",
        "properties": {
          "correlation_id": {
            "type": "string",
            "description": "Unique identifier used to match request with response"
          },
          "twilio_error_code": {
            "type": "integer",
            "description": "Twilio error code in case that the request to downstream fails"
          },
          "calling_country_code": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "national_format": {
            "type": "string"
          },
          "valid": {
            "type": "boolean"
          },
          "validation_errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "caller_name": {
            "$ref": "#/components/schemas/CallerName"
          },
          "sim_swap": {
            "$ref": "#/components/schemas/SimSwap"
          },
          "call_forwarding": {
            "$ref": "#/components/schemas/CallForwarding"
          },
          "line_type_intelligence": {
            "$ref": "#/components/schemas/LineTypeIntelligence"
          },
          "line_status": {
            "$ref": "#/components/schemas/LineStatus"
          },
          "identity_match": {
            "$ref": "#/components/schemas/IdentityMatch"
          },
          "reassigned_number": {
            "$ref": "#/components/schemas/ReassignedNumberResponse"
          },
          "sms_pumping_risk": {
            "$ref": "#/components/schemas/SmsPumpingRisk"
          }
        }
      },
      "LookupJobResponse": {
        "title": "LookupJobResponse",
        "type": "object",
        "properties": {
          "job_sid": {
            "type": "string"
          },
          "friendly_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "thresholds": {
            "$ref": "#/components/schemas/Thresholds"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "result": {
            "$ref": "#/components/schemas/Result"
          },
          "twilio_error_code": {
            "type": "integer"
          }
        }
      },
      "LookupFileJobResponse": {
        "title": "LookupFileJobResponse",
        "type": "object",
        "properties": {
          "job_sid": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "result": {
            "type": "object",
            "properties": {
              "file_url": {
                "type": "string"
              },
              "total_count": {
                "type": "integer"
              },
              "processed_count": {
                "type": "integer"
              },
              "success_count": {
                "type": "integer"
              },
              "error_count": {
                "type": "integer"
              },
              "details": {
                "type": "string"
              }
            }
          }
        }
      },
      "CallerName": {
        "title": "CallerName",
        "type": "object",
        "properties": {
          "caller_name": {
            "type": "string"
          },
          "caller_type": {
            "type": "string"
          },
          "error_code": {
            "type": "integer"
          }
        }
      },
      "SimSwap": {
        "title": "SimSwap",
        "properties": {
          "last_sim_swap": {
            "$ref": "#/components/schemas/LastSimSwap"
          },
          "carrier_name": {
            "type": "string"
          },
          "mobile_country_code": {
            "type": "string"
          },
          "mobile_network_code": {
            "type": "string"
          },
          "error_code": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "LastSimSwap": {
        "title": "SimSwap",
        "properties": {
          "last_sim_swap_date": {
            "type": "string",
            "format": "date-time"
          },
          "swapped_period": {
            "type": "string"
          },
          "swapped_in_period": {
            "type": "boolean"
          }
        }
      },
      "CallForwarding": {
        "title": "CallForwarding",
        "type": "object",
        "properties": {
          "call_forwarding_enabled": {
            "type": "boolean"
          },
          "error_code": {
            "type": "integer"
          }
        }
      },
      "ATOCarrier": {
        "title": "ATOCarrier",
        "type": "object",
        "properties": {
          "carrier_name": {
            "type": "string"
          },
          "mobile_country_code": {
            "type": "string"
          },
          "mobile_network_code": {
            "type": "string"
          }
        }
      },
      "LineTypeIntelligence": {
        "title": "Packages/LineTypeIntelligence",
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "carrier_name": {
            "type": "string"
          },
          "mobile_country_code": {
            "type": "string"
          },
          "mobile_network_code": {
            "type": "string"
          },
          "error_code": {
            "type": "integer"
          }
        }
      },
      "LineStatus": {
        "title": "LineStatus",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "error_code": {
            "type": "integer"
          }
        }
      },
      "Carrier": {
        "title": "Carrier",
        "type": "object",
        "properties": {
          "mobile_country_code": {
            "type": "string"
          },
          "mobile_network_code": {
            "type": "string"
          }
        }
      },
      "IdentityMatch": {
        "title": "IdentityMatch",
        "type": "object",
        "properties": {
          "first_name_match": {
            "type": "string"
          },
          "last_name_match": {
            "type": "string"
          },
          "address_line_match": {
            "type": "string"
          },
          "city_match": {
            "type": "string"
          },
          "state_match": {
            "type": "string"
          },
          "postal_code_match": {
            "type": "string"
          },
          "country_code_match": {
            "type": "string"
          },
          "national_id_match": {
            "type": "string"
          },
          "date_of_birth_match": {
            "type": "string"
          },
          "summary_score": {
            "type": "integer"
          },
          "error_code": {
            "type": "integer"
          },
          "error_message": {
            "type": "string"
          }
        }
      },
      "IdentityMatchParameters": {
        "title": "IdentityMatchParameters",
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "address_line1": {
            "type": "string"
          },
          "address_line2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "address_country_code": {
            "type": "string"
          },
          "national_id": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string"
          }
        }
      },
      "ReassignedNumberRequest": {
        "title": "ReassignedNumberRequest",
        "type": "object",
        "properties": {
          "last_verified_date": {
            "type": "string",
            "maxLength": 8
          }
        }
      },
      "ReassignedNumberResponse": {
        "title": "ReassignedNumberResponse",
        "type": "object",
        "properties": {
          "last_verified_date": {
            "type": "string"
          },
          "is_number_reassigned": {
            "type": "string"
          },
          "error_code": {
            "type": "string"
          }
        }
      },
      "SmsPumpingRisk": {
        "title": "SmsPumpingRisk",
        "type": "object",
        "properties": {
          "carrier_risk_category": {
            "type": "string"
          },
          "number_blocked": {
            "type": "boolean"
          },
          "number_blocked_date": {
            "type": "string",
            "format": "date-time"
          },
          "number_blocked_last_3_months": {
            "type": "boolean"
          },
          "sms_pumping_risk_score": {
            "type": "integer"
          },
          "error_code": {
            "type": "integer"
          }
        }
      },
      "SmsPumpingRiskParameters": {
        "title": "SmsPumpingRiskParameters",
        "type": "object",
        "properties": {
          "partner_sub_id": {
            "type": "string",
            "maxLength": 64
          }
        }
      },
      "JobStatus": {
        "title": "JobStatus",
        "enum": [
          "CREATED",
          "FILE_RECEIVED",
          "QUEUED",
          "IN_PROGRESS",
          "COMPLETED",
          "FAILED",
          "STOPPED",
          "STOP_REQUESTED"
        ]
      },
      "Thresholds": {
        "title": "Thresholds",
        "type": "object",
        "properties": {
          "error": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "Result": {
        "title": "Result",
        "type": "object",
        "properties": {
          "file_url": {
            "type": "string",
            "format": "uri"
          },
          "total_count": {
            "type": "integer",
            "format": "int32"
          },
          "processed_count": {
            "type": "integer",
            "format": "int32"
          },
          "success_count": {
            "type": "integer",
            "format": "int32"
          },
          "error_count": {
            "type": "integer",
            "format": "int32"
          },
          "details": {
            "type": "string"
          }
        }
      },
      "RateLimitResponse": {
        "title": "RateLimitResponse",
        "type": "object",
        "description": "Rate limit response schema",
        "properties": {
          "field": {
            "description": "Limit of requests for the bucket",
            "type": "string"
          },
          "limit": {
            "description": "Limit of requests for the bucket",
            "type": "integer",
            "format": "int32"
          },
          "bucket": {
            "description": "Name of the bucket",
            "type": "string"
          },
          "owner": {
            "description": "Owner of the rule",
            "type": "string"
          },
          "ttl": {
            "description": "Time to live of the rule",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "RateLimitRequest": {
        "title": "RateLimitRequest",
        "type": "object",
        "description": "Rate limit request schema",
        "properties": {
          "limit": {
            "description": "Limit of requests for the bucket",
            "type": "integer",
            "format": "int32"
          },
          "ttl": {
            "description": "Time to live of the rule",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "OverridesRequest": {
        "title": "OverridesRequest",
        "type": "object",
        "properties": {
          "line_type": {
            "type": "string",
            "enum": [
              "mobile",
              "landline",
              "tollFree",
              "fixedVoip",
              "nonFixedVoip",
              "personal",
              "premium",
              "voicemail",
              "sharedCost",
              "uan",
              "pager",
              "unknown"
            ]
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "OverridesResponse": {
        "title": "OverridesResponse",
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string"
          },
          "original_line_type": {
            "type": "string",
            "enum": [
              "mobile",
              "landline",
              "tollFree",
              "fixedVoip",
              "nonFixedVoip",
              "personal",
              "premium",
              "voicemail",
              "sharedCost",
              "uan",
              "pager",
              "unknown"
            ]
          },
          "overridden_line_type": {
            "type": "string",
            "enum": [
              "mobile",
              "landline",
              "tollFree",
              "fixedVoip",
              "nonFixedVoip",
              "personal",
              "premium",
              "voicemail",
              "sharedCost",
              "uan",
              "pager",
              "unknown"
            ]
          },
          "override_reason": {
            "type": "string",
            "description": "The reason for the override",
            "example": "Customer has shown proof this is a mobile number"
          },
          "override_timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "overridden_by_account_sid": {
            "type": "string",
            "description": "The user who overrode the line type",
            "example": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
          }
        }
      },
      "TwilioServiceErrorResponse": {
        "title": "Error with code Schema",
        "type": "object",
        "properties": {
          "code": {
            "description": "Twilio-specific error code",
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "description": "Error message",
            "type": "string"
          },
          "more_info": {
            "description": "Link to Error Code References",
            "type": "string"
          },
          "status": {
            "description": "HTTP response status code",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "lookups.v2.phone_number": {
        "type": "object",
        "properties": {
          "calling_country_code": {
            "type": "string",
            "nullable": true,
[...]
