{
  "components": {
    "securitySchemes": {
      "accountSid_authToken": {
        "scheme": "basic",
        "type": "http"
      }
    },
    "schemas": {
      "lookups.v2.phone_number": {
        "type": "object",
        "properties": {
          "calling_country_code": {
            "type": "string",
            "nullable": true,
            "description": "International dialing prefix of the phone number defined in the E.164 standard."
          },
          "country_code": {
            "type": "string",
            "nullable": true,
            "description": "The phone number's [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).",
            "x-twilio": {
              "pii": {
                "handling": "standard",
                "deleteSla": 30
              }
            }
          },
          "phone_number": {
            "type": "string",
            "format": "phone-number",
            "nullable": true,
            "description": "The phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164) format, which consists of a + followed by the country code and subscriber number.",
            "x-twilio": {
              "pii": {
                "handling": "standard",
                "deleteSla": 30
              }
            }
          },
          "national_format": {
            "type": "string",
            "nullable": true,
            "description": "The phone number in [national format](https://en.wikipedia.org/wiki/National_conventions_for_writing_telephone_numbers).",
            "x-twilio": {
              "pii": {
                "handling": "standard",
                "deleteSla": 30
              }
            }
          },
          "valid": {
            "type": "boolean",
            "nullable": true,
            "description": "Boolean which indicates if the phone number is in a valid range that can be freely assigned by a carrier to a user."
          },
          "validation_errors": {
            "type": "array",
            "items": {
              "type": "string",
              "$ref": "#/components/schemas/phone_number_enum_validation_error"
            },
            "nullable": true,
            "description": "Contains reasons why a phone number is invalid. Possible values: TOO_SHORT, TOO_LONG, INVALID_BUT_POSSIBLE, INVALID_COUNTRY_CODE, INVALID_LENGTH, NOT_A_NUMBER."
          },
          "caller_name": {
            "nullable": true,
            "description": "An object that contains caller name information based on [CNAM](https://support.twilio.com/hc/en-us/articles/360051670533-Getting-Started-with-CNAM-Caller-ID).",
            "x-twilio": {
              "pii": {
                "handling": "standard",
                "deleteSla": 30
              }
            }
          },
          "sim_swap": {
            "nullable": true,
            "description": "An object that contains information on the last date the subscriber identity module (SIM) was changed for a mobile phone number."
          },
          "call_forwarding": {
            "nullable": true,
            "description": "An object that contains information on the unconditional call forwarding status of mobile phone number."
          },
          "line_status": {
            "nullable": true,
            "description": "An object that contains line status information for a mobile phone number."
          },
          "line_type_intelligence": {
            "nullable": true,
            "description": "An object that contains line type information including the carrier name, mobile country code, and mobile network code."
          },
          "identity_match": {
            "nullable": true,
            "description": "An object that contains identity match information. The result of comparing user-provided information including name, address, date of birth, national ID, against authoritative phone-based data sources"
          },
          "reassigned_number": {
            "nullable": true,
            "description": "An object that contains reassigned number information. Reassigned Numbers will return a phone number's reassignment status given a phone number and date"
          },
          "sms_pumping_risk": {
            "nullable": true,
            "description": "An object that contains information on if a phone number has been currently or previously blocked by Verify Fraud Guard for receiving malicious SMS pumping traffic as well as other signals associated with risky carriers and low conversion rates."
          },
          "phone_number_quality_score": {
            "nullable": true,
            "description": "An object that contains information of a mobile phone number quality score. Quality score will return a risk score about the phone number."
          },
          "pre_fill": {
            "nullable": true,
            "description": "An object that contains pre fill information. pre_fill will return PII information associated with the phone number like first name, last name, address line, country code, state and postal code. "
          },
          "url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "The absolute URL of the resource."
          }
        }
      },
      "phone_number_enum_type": {
        "type": "string",
        "enum": [
          "landline",
          "mobile",
          "voip"
        ]
      },
      "phone_number_enum_validation_error": {
        "type": "string",
        "enum": [
          "TOO_SHORT",
          "TOO_LONG",
          "INVALID_BUT_POSSIBLE",
          "INVALID_COUNTRY_CODE",
          "INVALID_LENGTH",
          "NOT_A_NUMBER"
        ]
      }
    }
  },
  "info": {
    "title": "Twilio - Lookups",
    "description": "This is the public Twilio REST API.",
    "termsOfService": "https://www.twilio.com/legal/tos",
    "contact": {
      "name": "Twilio Support",
      "url": "https://support.twilio.com",
      "email": "support@twilio.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "openapi": "3.0.1",
  "paths": {
    "/v2/PhoneNumbers/{PhoneNumber}": {
      "servers": [
        {
          "url": "https://lookups.twilio.com"
        }
      ],
      "description": "Query information on a phone number so that you can make a trusted interaction with your user",
      "x-twilio": {
        "defaultOutputProperties": [
          "calling_country_code",
          "phone_number",
          "country_code",
          "valid",
          "national_format"
        ],
        "pathType": "instance"
      },
      "get": {
        "description": "",
        "tags": [
          "LookupsV2PhoneNumber"
        ],
        "parameters": [
          {
            "name": "PhoneNumber",
            "in": "path",
            "description": "The phone number to lookup in E.164 or national format. Default country code is +1 (North America).",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "standard",
                "deleteSla": 30
              }
            },
            "required": true
          },
          {
            "name": "Fields",
            "in": "query",
            "description": "A comma-separated list of fields to return. Possible values are validation, caller_name, sim_swap, call_forwarding, line_status, line_type_intelligence, identity_match, reassigned_number, sms_pumping_risk, phone_number_quality_score, pre_fill.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "fetchCallerName": {
                "value": "caller_name"
              },
              "fetchSimSwap": {
                "value": "sim_swap"
              },
              "fetchSimSwapWithoutLastSimSwapDate": {
                "value": "sim_swap"
              },
              "fetchSimSwapWithFalseSwapped": {
                "value": "sim_swap"
              },
              "fetchCallForwarding": {
                "value": "call_forwarding"
              },
              "fetchSimSwapAndCallForwarding": {
                "value": "sim_swap,call_forwarding"
              },
              "fetchLineStatusActive": {
                "value": "line_status"
              },
              "fetchLineStatusInactive": {
                "value": "line_status"
              },
              "fetchLineTypeIntelligence": {
                "value": "line_type_intelligence"
              },
              "fetchIdentityMatch": {
                "value": "identity_match"
              },
              "fetchSmsPumpingRisk": {
                "value": "sms_pumping_risk"
              },
              "fetchReassignedNumberWithNumberReassigned": {
                "value": "reassigned_number"
              },
              "fetchReassignedNumberWithNumberNoReassigned": {
                "value": "reassigned_number"
              },
              "fetchReassignedNumberWithNoDataAvailable": {
                "value": "reassigned_number"
              },
              "fetchPhoneNumberQualityScore": {
                "value": "phone_number_quality_score"
              },
              "fetchPreFill": {
                "value": "pre_fill"
              }
            }
          },
          {
            "name": "CountryCode",
            "in": "query",
            "description": "The [country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) used if the phone number provided is in national format.",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "standard",
                "deleteSla": 30
              }
            }
          },
          {
            "name": "FirstName",
            "in": "query",
            "description": "User\u2019s first name. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "John"
              }
            }
          },
          {
            "name": "LastName",
            "in": "query",
            "description": "User\u2019s last name. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "Doe"
              }
            }
          },
          {
            "name": "AddressLine1",
            "in": "query",
            "description": "User\u2019s first address line. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "321 Main Street"
              }
            }
          },
          {
            "name": "AddressLine2",
            "in": "query",
            "description": "User\u2019s second address line. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "Suite 2"
              }
            }
          },
          {
            "name": "City",
            "in": "query",
            "description": "User\u2019s city. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "New York"
              }
            }
          },
          {
            "name": "State",
            "in": "query",
            "description": "User\u2019s country subdivision, such as state, province, or locality. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "NY"
              }
            }
          },
          {
            "name": "PostalCode",
            "in": "query",
            "description": "User\u2019s postal zip code. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "10021"
              }
            }
          },
          {
            "name": "AddressCountryCode",
            "in": "query",
            "description": "User\u2019s country, up to two characters. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string",
              "format": "iso-country-code"
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "US"
              }
            }
          },
          {
            "name": "NationalId",
            "in": "query",
            "description": "User\u2019s national ID, such as SSN or Passport ID. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "sensitive",
                "deleteSla": 30
              }
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "YZ3456883"
              }
            }
          },
          {
            "name": "DateOfBirth",
            "in": "query",
            "description": "User\u2019s date of birth, in YYYYMMDD format. This query parameter is only used (optionally) for identity_match package requests.",
            "schema": {
              "type": "string"
            },
            "x-twilio": {
              "pii": {
                "handling": "sensitive",
                "deleteSla": 30
              }
            },
            "examples": {
              "fetchIdentityMatch": {
                "value": "19901214"
              }
            }
          },
          {
            "name": "LastVerifiedDate",
            "in": "query",
            "description": "The date you obtained consent to call or text the end-user of the phone number or a date on which you are reasonably certain that the end-user could still be reached at that number. This query parameter is only used (optionally) for reassigned_number package requests.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "fetchReassignedNumberWithNumberReassigned": {
                "value": "20201227"
              },
              "fetchReassignedNumberWithNumberNoReassigned": {
                "value": "20190924"
              },
              "fetchReassignedNumberWithNoDataAvailable": {
                "value": "20211224"
              }
            }
          },
          {
            "name": "VerificationSid",
            "in": "query",
            "description": "The unique identifier associated with a verification process through verify API. This query parameter is only used (optionally) for pre_fill package requests.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "fetchPreFill": {
                "value": "VEb0ffb48bee328cf2d3c4020072cdfxxx"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lookups.v2.phone_number"
                },
                "examples": {
                  "fetch": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchInvalid": {
                    "value": {
                      "calling_country_code": null,
                      "country_code": null,
                      "phone_number": "+141599299600",
                      "national_format": null,
                      "valid": false,
                      "validation_errors": [
                        "TOO_LONG"
                      ],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+141599299600"
                    }
                  },
                  "fetchCallerName": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": {
                        "caller_name": "Sergio Suarez",
                        "caller_type": "CONSUMER",
                        "error_code": null
                      },
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchSimSwap": {
                    "value": {
                      "calling_country_code": "44",
                      "country_code": "GB",
                      "phone_number": "+447772000001",
                      "national_format": "07772 000001",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": {
                        "last_sim_swap": {
                          "last_sim_swap_date": "2020-04-27T10:18:50Z",
                          "swapped_period": "PT48H",
                          "swapped_in_period": true
                        },
                        "carrier_name": "Vodafone UK",
                        "mobile_country_code": "276",
                        "mobile_network_code": "02",
                        "error_code": null
                      },
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+447772000001"
                    }
                  },
                  "fetchSimSwapWithoutLastSimSwapDate": {
                    "value": {
                      "calling_country_code": "44",
                      "country_code": "GB",
                      "phone_number": "+447772000001",
                      "national_format": "07772 000001",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": {
                        "last_sim_swap": {
                          "last_sim_swap_date": null,
                          "swapped_period": "PT24H",
                          "swapped_in_period": true
                        },
                        "carrier_name": "Vodafone UK",
                        "mobile_country_code": "276",
                        "mobile_network_code": "02",
                        "error_code": null
                      },
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+447772000001"
                    }
                  },
                  "fetchSimSwapWithFalseSwapped": {
                    "value": {
                      "calling_country_code": "44",
                      "country_code": "GB",
                      "phone_number": "+447772000001",
                      "national_format": "07772 000001",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": {
                        "last_sim_swap": {
                          "last_sim_swap_date": null,
                          "swapped_period": "PT24H",
                          "swapped_in_period": false
                        },
                        "carrier_name": "Vodafone UK",
                        "mobile_country_code": "276",
                        "mobile_network_code": "02",
                        "error_code": null
                      },
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+447772000001"
                    }
                  },
                  "fetchCallForwarding": {
                    "value": {
                      "calling_country_code": "44",
                      "country_code": "GB",
                      "phone_number": "+447772000001",
                      "national_format": "07772 000001",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": {
                        "call_forwarding_status": true,
                        "error_code": null
                      },
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+447772000001"
                    }
                  },
                  "fetchSimSwapAndCallForwarding": {
                    "value": {
                      "calling_country_code": "44",
                      "country_code": "GB",
                      "phone_number": "+447772000001",
                      "national_format": "07772 000001",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": {
                        "last_sim_swap": {
                          "last_sim_swap_date": "2020-11-05T20:52:09.322Z",
                          "swapped_period": "PT24H",
                          "swapped_in_period": true
                        },
                        "carrier_name": "Vodafone UK",
                        "mobile_country_code": "276",
                        "mobile_network_code": "02",
                        "error_code": null
                      },
                      "call_forwarding": {
                        "call_forwarding_status": true,
                        "error_code": null
                      },
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+447772000001"
                    }
                  },
                  "fetchLineStatusActive": {
                    "value": {
                      "calling_country_code": "44",
                      "country_code": "GB",
                      "phone_number": "+447772000001",
                      "national_format": "07772 000001",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": {
                        "status": "active",
                        "error_code": null
                      },
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+447772000001"
                    }
                  },
                  "fetchLineStatusInactive": {
                    "value": {
                      "calling_country_code": "44",
                      "country_code": "GB",
                      "phone_number": "+447772000001",
                      "national_format": "07772 000001",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": {
                        "status": "inactive",
                        "error_code": null
                      },
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+447772000001"
                    }
                  },
                  "fetchLineTypeIntelligence": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": null,
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": {
                        "error_code": null,
                        "mobile_country_code": "240",
                        "mobile_network_code": "38",
                        "carrier_name": "Twilio - SMS/MMS-SVR",
                        "type": "nonFixedVoip"
                      },
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchIdentityMatch": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": {
                        "first_name_match": "exact_match",
                        "last_name_match": "high_partial_match",
                        "address_lines_match": "no_match",
                        "city_match": "no_match",
                        "state_match": "high_partial_match",
                        "postal_code_match": "no_data_available",
                        "address_country_match": "exact_match",
                        "national_id_match": "exact_match",
                        "date_of_birth_match": "exact_match",
                        "summary_score": 90,
                        "error_code": null,
                        "error_message": null
                      },
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchSmsPumpingRisk": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": {
                        "carrier_risk_category": "moderate",
                        "number_blocked": false,
                        "number_blocked_date": null,
                        "number_blocked_last_3_months": null,
                        "sms_pumping_risk_score": 61,
                        "error_code": null
                      },
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchReassignedNumberWithNumberReassigned": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "reassigned_number": {
                        "last_verified_date": "2020-12-27",
                        "is_number_reassigned": "yes",
                        "error_code": null
                      },
                      "identity_match": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchReassignedNumberWithNumberNoReassigned": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": {
                        "last_verified_date": "2019-09-24",
                        "is_number_reassigned": "no",
                        "error_code": null
                      },
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchReassignedNumberWithNoDataAvailable": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": {
                        "last_verified_date": "2021-12-24",
                        "is_number_reassigned": "no_data_available",
                        "error_code": null
                      },
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchPhoneNumberQualityScore": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": {
                        "carrier_risk_score": 17,
                        "carrier_risk_category": "low",
                        "disposable_phone_risk_score": 13,
                        "disposable_phone_risk_category": "low",
                        "quality_score": 0,
                        "quality_category": "low",
                        "velocity_risk_score": 0,
                        "velocity_risk_category": "low",
                        "error_code": null
                      },
                      "pre_fill": null,
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  },
                  "fetchPreFill": {
                    "value": {
                      "calling_country_code": "1",
                      "country_code": "US",
                      "phone_number": "+14159929960",
                      "national_format": "(415) 992-9960",
                      "valid": true,
                      "validation_errors": [],
                      "caller_name": null,
                      "sim_swap": null,
                      "call_forwarding": null,
                      "line_status": null,
                      "line_type_intelligence": null,
                      "identity_match": null,
                      "reassigned_number": null,
                      "sms_pumping_risk": null,
                      "phone_number_quality_score": null,
                      "pre_fill": {
                        "first_name": "John",
                        "last_name": "Doe",
                        "address_line": "321 Main Street",
                        "country_code": "US",
                        "state": "WA",
                        "postal_code": "98117",
                        "error_code": null
                      },
                      "url": "https://lookups.twilio.com/v2/PhoneNumbers/+14159929960"
                    }
                  }
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Specify the origin(s) allowed to access the resource",
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Allow-Methods": {
                "description": "Specify the HTTP methods allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "POST, OPTIONS"
              },
              "Access-Control-Allow-Headers": {
                "description": "Specify the headers allowed when accessing the resource",
                "schema": {
                  "type": "string"
                },
                "example": "Content-Type, Authorization"
              },
              "Access-Control-Allow-Credentials": {
                "description": "Indicates whether the browser should include credentials",
                "schema": {
                  "type": "boolean"
                }
              },
              "Access-Control-Expose-Headers": {
                "description": "Headers exposed to the client",
                "schema": {
                  "type": "string",
                  "example": "X-Custom-Header1, X-Custom-Header2"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "FetchPhoneNumber"
      }
    }
  },
  "servers": [
    {
      "url": "https://lookups.twilio.com"
    }
  ],
  "tags": [
    {
      "name": "LookupsV2PhoneNumber"
    }
  ],
  "security": [
    {
      "accountSid_authToken": []
    }
  ]
}