{
  "components": {
    "schemas": {
      "preview.marketplace.available_add_on": {
        "properties": {
          "configuration_schema": {
            "type": "object"
          },
          "description": {
            "type": "string"
          },
          "friendly_name": {
            "type": "string"
          },
          "links": {
            "type": "object"
          },
          "pricing_type": {
            "type": "string"
          },
          "sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^XB[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "url": {
            "format": "uri",
            "type": "string"
          }
        },
        "type": "object"
      },
      "preview.marketplace.available_add_on.available_add_on_extension": {
        "properties": {
          "available_add_on_sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^XB[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "friendly_name": {
            "type": "string"
          },
          "product_name": {
            "type": "string"
          },
          "sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^XF[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "unique_name": {
            "type": "string"
          },
          "url": {
            "format": "uri",
            "type": "string"
          }
        },
        "type": "object"
      },
      "preview.marketplace.installed_add_on": {
        "properties": {
          "account_sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "configuration": {
            "type": "object"
          },
          "date_created": {
            "format": "date-time",
            "type": "string"
          },
          "date_updated": {
            "format": "date-time",
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "friendly_name": {
            "type": "string"
          },
          "links": {
            "type": "object"
          },
          "sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^XE[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "unique_name": {
            "type": "string"
          },
          "url": {
            "format": "uri",
            "type": "string"
          }
        },
        "type": "object"
      },
      "preview.marketplace.installed_add_on.installed_add_on_extension": {
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "friendly_name": {
            "type": "string"
          },
          "installed_add_on_sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^XE[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "product_name": {
            "type": "string"
          },
          "sid": {
            "maxLength": 34,
            "minLength": 34,
            "pattern": "^XF[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "unique_name": {
            "type": "string"
          },
          "url": {
            "format": "uri",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "accountSid_authToken": {
        "scheme": "basic",
        "type": "http"
      }
    }
  },
  "info": {
    "contact": {
      "email": "support@twilio.com",
      "name": "Twilio Support",
      "url": "https://support.twilio.com"
    },
    "description": "This is the public Twilio REST API.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://www.twilio.com/legal/tos",
    "title": "Twilio - Preview",
    "version": "5.12.0"
  },
  "openapi": "3.0.1",
  "paths": {
    "/marketplace/AvailableAddOns": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve a list of Add-ons currently available to be installed.",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "available_add_ons": {
                      "items": {
                        "$ref": "#/components/schemas/preview.marketplace.available_add_on"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://preview.twilio.com"
        }
      ],
      "x-default-output-properties": [],
      "x-path-type": "list"
    },
    "/marketplace/AvailableAddOns/{AvailableAddOnSid}/Extensions": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve a list of Extensions for the Available Add-on.",
        "parameters": [
          {
            "description": "The SID of the AvailableAddOn resource with the extensions to read.",
            "in": "path",
            "name": "AvailableAddOnSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^XB[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "extensions": {
                      "items": {
                        "$ref": "#/components/schemas/preview.marketplace.available_add_on.available_add_on_extension"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://preview.twilio.com"
        }
      ],
      "x-default-output-properties": [],
      "x-path-type": "list"
    },
    "/marketplace/AvailableAddOns/{AvailableAddOnSid}/Extensions/{Sid}": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch an instance of an Extension for the Available Add-on.",
        "parameters": [
          {
            "description": "The SID of the AvailableAddOn resource with the extension to fetch.",
            "in": "path",
            "name": "AvailableAddOnSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^XB[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the AvailableAddOn Extension resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^XF[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/preview.marketplace.available_add_on.available_add_on_extension"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://preview.twilio.com"
        }
      ],
      "x-default-output-properties": [],
      "x-path-type": "instance"
    },
    "/marketplace/AvailableAddOns/{Sid}": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch an instance of an Add-on currently available to be installed.",
        "parameters": [
          {
            "description": "The SID of the AvailableAddOn resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^XB[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/preview.marketplace.available_add_on"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://preview.twilio.com"
        }
      ],
      "x-default-output-properties": [],
      "x-path-type": "instance"
    },
    "/marketplace/InstalledAddOns": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve a list of Add-ons currently installed on this Account.",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "installed_add_ons": {
                      "items": {
                        "$ref": "#/components/schemas/preview.marketplace.installed_add_on"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "post": {
        "description": "Install an Add-on for the Account specified.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "AcceptTermsOfService": {
                    "description": "Whether the Terms of Service were accepted.",
                    "type": "boolean"
                  },
                  "AvailableAddOnSid": {
                    "description": "The SID of the AvaliableAddOn to install.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^XB[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "Configuration": {
                    "description": "The JSON object that represents the configuration of the new Add-on being installed.",
                    "type": "object"
                  },
                  "UniqueName": {
                    "description": "An application-defined string that uniquely identifies the resource. This value must be unique within the Account.",
                    "type": "string"
                  }
                },
                "required": [
                  "AvailableAddOnSid",
                  "AcceptTermsOfService"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/preview.marketplace.installed_add_on"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://preview.twilio.com"
        }
      ],
      "x-default-output-properties": [],
      "x-path-type": "list"
    },
    "/marketplace/InstalledAddOns/{InstalledAddOnSid}/Extensions": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve a list of Extensions for the Installed Add-on.",
        "parameters": [
          {
            "description": "The SID of the InstalledAddOn resource with the extensions to read.",
            "in": "path",
            "name": "InstalledAddOnSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^XE[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "extensions": {
                      "items": {
                        "$ref": "#/components/schemas/preview.marketplace.installed_add_on.installed_add_on_extension"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://preview.twilio.com"
        }
      ],
      "x-default-output-properties": [],
      "x-path-type": "list"
    },
    "/marketplace/InstalledAddOns/{InstalledAddOnSid}/Extensions/{Sid}": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch an instance of an Extension for the Installed Add-on.",
        "parameters": [
          {
            "description": "The SID of the InstalledAddOn resource with the extension to fetch.",
            "in": "path",
            "name": "InstalledAddOnSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^XE[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the InstalledAddOn Extension resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^XF[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/preview.marketplace.installed_add_on.installed_add_on_extension"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "post": {
        "description": "Update an Extension for an Add-on installation.",
        "parameters": [
          {
            "description": "The SID of the InstalledAddOn resource with the extension to update.",
            "in": "path",
            "name": "InstalledAddOnSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^XE[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the InstalledAddOn Extension resource to update.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^XF[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Enabled": {
                    "description": "Whether the Extension should be invoked.",
                    "type": "boolean"
                  }
                },
                "required": [
                  "Enabled"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/preview.marketplace.installed_add_on.installed_add_on_extension"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://preview.twilio.com"
        }
      ],
      "x-default-output-properties": [],
      "x-path-type": "instance"
    },
    "/marketplace/InstalledAddOns/{Sid}": {
      "delete": {
        "description": "Remove an Add-on installation from your account",
        "parameters": [
          {
            "description": "The SID of the InstalledAddOn resource to delete.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^XE[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch an instance of an Add-on currently installed on this Account.",
        "parameters": [
          {
            "description": "The SID of the InstalledAddOn resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^XE[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/preview.marketplace.installed_add_on"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "post": {
        "description": "Update an Add-on installation for the Account specified.",
        "parameters": [
          {
            "description": "The SID of the InstalledAddOn resource to update.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^XE[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Configuration": {
                    "description": "Valid JSON object that conform to the configuration schema exposed by the associated AvailableAddOn resource. This is only required by Add-ons that need to be configured",
                    "type": "object"
                  },
                  "UniqueName": {
                    "description": "An application-defined string that uniquely identifies the resource. This value must be unique within the Account.",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/preview.marketplace.installed_add_on"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "tags": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://preview.twilio.com"
        }
      ],
      "x-default-output-properties": [],
      "x-path-type": "instance"
    }
  },
  "tags": [
    {
      "description": "PLEASE NOTE that this is a Preview product that is subject to change. Use it with caution. If you currently do not have developer preview access, please contact help@twilio.com.",
      "name": "Preview"
    }
  ]
}