{
  "components": {
    "schemas": {
      "microvisor.v1.app": {
        "type": "object",
        "properties": {
          "sid": {
            "type": "string",
            "minLength": 34,
            "maxLength": 34,
            "pattern": "^KA[0-9a-fA-F]{32}$",
            "nullable": true,
            "description": "A string that uniquely identifies this App."
          },
          "account_sid": {
            "type": "string",
            "minLength": 34,
            "maxLength": 34,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "nullable": true,
            "description": "The Account SID."
          },
          "hash": {
            "type": "string",
            "nullable": true,
            "description": "App manifest hash represented as hash_algorithm:hash_value."
          },
          "unique_name": {
            "type": "string",
            "nullable": true,
            "description": "An developer-defined string that uniquely identifies the App."
          },
          "date_created": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The date that this App was created."
          },
          "date_updated": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The date that this App was last updated."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "The URL of this resource."
          }
        }
      },
      "microvisor.v1.device": {
        "type": "object",
        "properties": {
          "sid": {
            "type": "string",
            "minLength": 34,
            "maxLength": 34,
            "pattern": "^UV[0-9a-fA-F]{32}$",
            "nullable": true,
            "description": "A string that uniquely identifies this Device."
          },
          "unique_name": {
            "type": "string",
            "nullable": true,
            "description": "A developer-defined string that uniquely identifies the Device."
          },
          "account_sid": {
            "type": "string",
            "minLength": 34,
            "maxLength": 34,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "nullable": true,
            "description": "Account SID."
          },
          "app": {
            "nullable": true,
            "description": "Information about the target App and the App reported by this Device."
          },
          "logging": {
            "nullable": true,
            "description": "Object specifying whether application logging is enabled for this Device."
          },
          "date_created": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The date that this Device was created."
          },
          "date_updated": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The date that this Device was last updated."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "The URL of this resource."
          }
        }
      }
    },
    "securitySchemes": {
      "accountSid_authToken": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "info": {
    "title": "Twilio - Microvisor",
    "description": "This is the public Twilio REST API.",
    "termsOfService": "https://www.twilio.com/legal/tos",
    "contact": {
      "name": "Twilio Support",
      "url": "https://support.twilio.com",
      "email": "support@twilio.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.35.0"
  },
  "openapi": "3.0.1",
  "paths": {
    "/v1/Apps": {
      "servers": [
        {
          "url": "https://microvisor.twilio.com"
        }
      ],
      "description": "TODO: Resource-level docs",
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "unique_name"
        ],
        "pathType": "list"
      },
      "get": {
        "description": "Retrieve a list of all Apps for an Account.",
        "parameters": [
          {
            "name": "PageSize",
            "in": "query",
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ListAppResponse",
                  "properties": {
                    "apps": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microvisor.v1.app"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "first_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "next_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "ListApp",
        "x-maturity": [
          "Preview"
        ],
        "tags": [
          "Apps"
        ]
      }
    },
    "/v1/Apps/{Sid}": {
      "servers": [
        {
          "url": "https://microvisor.twilio.com"
        }
      ],
      "description": "TODO: Resource-level docs",
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "unique_name"
        ],
        "pathType": "instance"
      },
      "get": {
        "description": "Fetch a specific App.",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "A 34-character string that uniquely identifies this App.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microvisor.v1.app"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "FetchApp",
        "x-maturity": [
          "Preview"
        ],
        "tags": [
          "Apps"
        ]
      },
      "delete": {
        "description": "Delete a specific App.",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "A 34-character string that uniquely identifies this App.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "DeleteApp",
        "x-maturity": [
          "Preview"
        ],
        "tags": [
          "Apps"
        ]
      }
    },
    "/v1/Devices": {
      "servers": [
        {
          "url": "https://microvisor.twilio.com"
        }
      ],
      "description": "TODO: Resource-level docs",
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "unique_name"
        ],
        "pathType": "list"
      },
      "get": {
        "description": "Retrieve a list of all Devices registered with the Account.",
        "parameters": [
          {
            "name": "PageSize",
            "in": "query",
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ListDeviceResponse",
                  "properties": {
                    "devices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microvisor.v1.device"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "first_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "next_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "ListDevice",
        "x-maturity": [
          "Preview"
        ],
        "tags": [
          "Devices"
        ]
      }
    },
    "/v1/Devices/{Sid}": {
      "servers": [
        {
          "url": "https://microvisor.twilio.com"
        }
      ],
      "description": "TODO: Resource-level docs",
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "unique_name"
        ],
        "pathType": "instance"
      },
      "get": {
        "description": "Fetch a specific Device.",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "A 34-character string that uniquely identifies this Device.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microvisor.v1.device"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "FetchDevice",
        "x-maturity": [
          "Preview"
        ],
        "tags": [
          "Devices"
        ]
      },
      "post": {
        "description": "Update a specific Device.",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "A 34-character string that uniquely identifies this Device.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microvisor.v1.device"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "UpdateDevice",
        "x-maturity": [
          "Preview"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "title": "UpdateDeviceRequest",
                "properties": {
                  "UniqueName": {
                    "type": "string",
                    "description": "A unique and addressable name to be assigned to this Device by the developer. It may be used in place of the Device SID."
                  },
                  "TargetApp": {
                    "type": "string",
                    "description": "The SID or unique name of the App to be targeted to the Device."
                  },
                  "LoggingEnabled": {
                    "type": "boolean",
                    "description": "A Boolean flag specifying whether to enable application logging. Logs will be enabled or extended for 24 hours."
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Devices"
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://microvisor.twilio.com"
    }
  ],
  "x-maturity": [
    {
      "name": "Preview",
      "description": "PLEASE NOTE that this is a Preview product that is subject to change. Use it with caution. If you currently do not have developer preview access, please contact help@twilio.com."
    }
  ]
}