{
  "components": {
    "schemas": {
      "routes.v1.route_configuration.phone_number": {
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string",
            "nullable": true,
            "description": "TBD"
          }
        }
      },
      "routes.v1.route_configuration": {
        "type": "object",
        "properties": {
          "sid": {
            "type": "string",
            "minLength": 34,
            "maxLength": 34,
            "pattern": "^QQ[0-9a-fA-F]{32}$",
            "nullable": true,
            "description": "The unique string that we created to identify the Route Configuration resource."
          },
          "account_sid": {
            "type": "string",
            "minLength": 34,
            "maxLength": 34,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "nullable": true,
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Route Configuration resource."
          },
          "friendly_name": {
            "type": "string",
            "nullable": true,
            "description": "The string that you assigned to describe the resource."
          },
          "voice_region": {
            "type": "string",
            "nullable": true,
            "description": "TBD"
          },
          "messaging_region": {
            "type": "string",
            "nullable": true,
            "description": "TBD"
          },
          "data_region": {
            "type": "string",
            "nullable": true,
            "description": "TBD"
          },
          "date_created": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          },
          "date_updated": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "The absolute URL of the Route Configuration resource."
          },
          "links": {
            "type": "object",
            "format": "uri-map",
            "nullable": true,
            "description": "TBD"
          }
        }
      },
      "routes.v1.route_configuration.sip_domain": {
        "type": "object",
        "properties": {
          "sip_domain": {
            "type": "string",
            "nullable": true,
            "description": "TBD"
          }
        }
      },
      "routes.v1.route_configuration.trunk": {
        "type": "object",
        "properties": {
          "trunk": {
            "type": "string",
            "nullable": true,
            "description": "TBD"
          }
        }
      }
    },
    "securitySchemes": {
      "accountSid_authToken": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "info": {
    "title": "Twilio - Routes",
    "description": "This is the public Twilio REST API.",
    "termsOfService": "https://www.twilio.com/legal/tos",
    "contact": {
      "name": "Twilio Support",
      "url": "https://support.twilio.com",
      "email": "support@twilio.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.38.3"
  },
  "openapi": "3.0.1",
  "paths": {
    "/v1/RouteConfigurations/{RouteConfigurationSid}/PhoneNumbers": {
      "servers": [
        {
          "url": "https://routes.twilio.com"
        }
      ],
      "description": "TODO: Resource-level docs",
      "x-twilio": {
        "defaultOutputProperties": [
          "phone_number"
        ],
        "pathType": "list",
        "parent": "/RouteConfigurations/{Sid}"
      },
      "post": {
        "description": "Link a Resource to an existing Route Configuration.",
        "parameters": [
          {
            "name": "RouteConfigurationSid",
            "in": "path",
            "description": "The unique string that we created to identify the Route Configuration resource.",
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^QQ[0-9a-fA-F]{32}$"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routes.v1.route_configuration.phone_number"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "CreatePhoneNumber",
        "x-maturity": [
          "GA"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "title": "CreatePhoneNumberRequest",
                "properties": {
                  "PhoneNumber": {
                    "type": "string",
                    "description": "TBD"
                  }
                },
                "required": [
                  "PhoneNumber"
                ]
              }
            }
          }
        }
      },
      "get": {
        "description": "Fetch a specific Resource linked to a Route Configuration instance.",
        "parameters": [
          {
            "name": "RouteConfigurationSid",
            "in": "path",
            "description": "The unique string that we created to identify the Route Configuration resource.",
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^QQ[0-9a-fA-F]{32}$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routes.v1.route_configuration.phone_number"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "FetchPhoneNumber",
        "x-maturity": [
          "GA"
        ]
      },
      "delete": {
        "description": "Delete a specific Resource linked to a Route Configuration instance.",
        "parameters": [
          {
            "name": "RouteConfigurationSid",
            "in": "path",
            "description": "The unique string that we created to identify the Route Configuration resource.",
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^QQ[0-9a-fA-F]{32}$"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "DeletePhoneNumber",
        "x-maturity": [
          "GA"
        ]
      }
    },
    "/v1/RouteConfigurations": {
      "servers": [
        {
          "url": "https://routes.twilio.com"
        }
      ],
      "description": "TODO: Resource-level docs",
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "date_created"
        ],
        "pathType": "list"
      },
      "post": {
        "description": "Create a new Route Configuration.",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routes.v1.route_configuration"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "CreateRouteConfiguration",
        "x-maturity": [
          "GA"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "title": "CreateRouteConfigurationRequest",
                "properties": {
                  "FriendlyName": {
                    "type": "string",
                    "description": "The string that you assigned to describe the resource."
                  },
                  "VoiceRegion": {
                    "type": "string",
                    "description": "TBD"
                  },
                  "MessagingRegion": {
                    "type": "string",
                    "description": "TBD"
                  },
                  "DataRegion": {
                    "type": "string",
                    "description": "TBD"
                  }
                },
                "required": [
                  "FriendlyName"
                ]
              }
            }
          }
        }
      },
      "get": {
        "description": "Read a list of Route Configuration instances.",
        "parameters": [
          {
            "name": "PhoneNumbers",
            "in": "query",
            "description": "The unique string that identifies the phone number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DomainNames",
            "in": "query",
            "description": "The unique string that identifies the domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "Page",
            "in": "query",
            "description": "The page index. This value is simply for client state.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "PageToken",
            "in": "query",
            "description": "The page token. This is provided by the API.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ListRouteConfigurationResponse",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/routes.v1.route_configuration"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "first_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "next_page_url": {
                          "type": "string",
                          "format": "uri",
                          "nullable": true
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "type": "string",
                          "format": "uri",
                          "nullable": true
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "ListRouteConfiguration",
        "x-maturity": [
          "GA"
        ]
      }
    },
    "/v1/RouteConfigurations/{Sid}": {
      "servers": [
        {
          "url": "https://routes.twilio.com"
        }
      ],
      "description": "TODO: Resource-level docs",
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "date_created"
        ],
        "pathType": "instance"
      },
      "get": {
        "description": "Fetch a specific Route Configuration instance.",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that we created to identify the Route Configuration resource.",
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^QQ[0-9a-fA-F]{32}$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routes.v1.route_configuration"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "FetchRouteConfiguration",
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "Update a specific Route Configuration instance.",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that we created to identify the Route Configuration resource.",
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^QQ[0-9a-fA-F]{32}$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routes.v1.route_configuration"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "UpdateRouteConfiguration",
        "x-maturity": [
          "GA"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "title": "UpdateRouteConfigurationRequest",
                "properties": {
                  "FriendlyName": {
                    "type": "string",
                    "description": "The string that you assigned to describe the resource."
                  },
                  "VoiceRegion": {
                    "type": "string",
                    "description": "TBD"
                  },
                  "MessagingRegion": {
                    "type": "string",
                    "description": "TBD"
                  },
                  "DataRegion": {
                    "type": "string",
                    "description": "TBD"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a specific Route Configuration instance.",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that we created to identify the Route Configuration resource.",
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^QQ[0-9a-fA-F]{32}$"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "DeleteRouteConfiguration",
        "x-maturity": [
          "GA"
        ]
      }
    },
    "/v1/RouteConfigurations/{RouteConfigurationSid}/SipDomains": {
      "servers": [
        {
          "url": "https://routes.twilio.com"
        }
      ],
      "description": "TODO: Resource-level docs",
      "x-twilio": {
        "defaultOutputProperties": [
          "sip_domain"
        ],
        "pathType": "list",
        "parent": "/RouteConfigurations/{Sid}"
      },
      "post": {
        "description": "Link a Resource to an existing Route Configuration.",
        "parameters": [
          {
            "name": "RouteConfigurationSid",
            "in": "path",
            "description": "The unique string that we created to identify the Route Configuration resource.",
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^QQ[0-9a-fA-F]{32}$"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routes.v1.route_configuration.sip_domain"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "CreateSipDomain",
        "x-maturity": [
          "GA"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "title": "CreateSipDomainRequest",
                "properties": {
                  "SipDomain": {
                    "type": "string",
                    "description": "TBD"
                  }
                },
                "required": [
                  "SipDomain"
                ]
              }
            }
          }
        }
      },
      "get": {
        "description": "Fetch a specific Resource linked to a Route Configuration instance.",
        "parameters": [
          {
            "name": "RouteConfigurationSid",
            "in": "path",
            "description": "The unique string that we created to identify the Route Configuration resource.",
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^QQ[0-9a-fA-F]{32}$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routes.v1.route_configuration.sip_domain"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "FetchSipDomain",
        "x-maturity": [
          "GA"
        ]
      },
      "delete": {
        "description": "Delete a specific Resource linked to a Route Configuration instance.",
        "parameters": [
          {
            "name": "RouteConfigurationSid",
            "in": "path",
            "description": "The unique string that we created to identify the Route Configuration resource.",
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^QQ[0-9a-fA-F]{32}$"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "DeleteSipDomain",
        "x-maturity": [
          "GA"
        ]
      }
    },
    "/v1/RouteConfigurations/{RouteConfigurationSid}/Trunks": {
      "servers": [
        {
          "url": "https://routes.twilio.com"
        }
      ],
      "description": "TODO: Resource-level docs",
      "x-twilio": {
        "defaultOutputProperties": [
          "trunk"
        ],
        "pathType": "list",
        "parent": "/RouteConfigurations/{Sid}"
      },
      "post": {
        "description": "Link a Resource to an existing Route Configuration.",
        "parameters": [
          {
            "name": "RouteConfigurationSid",
            "in": "path",
            "description": "The unique string that we created to identify the Route Configuration resource.",
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^QQ[0-9a-fA-F]{32}$"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routes.v1.route_configuration.trunk"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "CreateTrunk",
        "x-maturity": [
          "GA"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "title": "CreateTrunkRequest",
                "properties": {
                  "Trunk": {
                    "type": "string",
                    "description": "TBD"
                  }
                },
                "required": [
                  "Trunk"
                ]
              }
            }
          }
        }
      },
      "get": {
        "description": "Fetch a specific Resource linked to a Route Configuration instance.",
        "parameters": [
          {
            "name": "RouteConfigurationSid",
            "in": "path",
            "description": "The unique string that we created to identify the Route Configuration resource.",
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^QQ[0-9a-fA-F]{32}$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routes.v1.route_configuration.trunk"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "FetchTrunk",
        "x-maturity": [
          "GA"
        ]
      },
      "delete": {
        "description": "Delete a specific Resource linked to a Route Configuration instance.",
        "parameters": [
          {
            "name": "RouteConfigurationSid",
            "in": "path",
            "description": "The unique string that we created to identify the Route Configuration resource.",
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^QQ[0-9a-fA-F]{32}$"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "operationId": "DeleteTrunk",
        "x-maturity": [
          "GA"
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://routes.twilio.com"
    }
  ],
  "x-maturity": [
    {
      "name": "GA",
      "description": "This product is Generally Available."
    }
  ]
}