{
  "openapi": "3.0.3",
  "info": {
    "title": "Lookup",
    "termsOfService": "https://www.twilio.com/legal/tos",
    "version": "1.0.0-alpha.1",
    "description": "Lookup APIs for individual, bulk and job based requests\n\nDiscussion topics:\n- API version to use\n- Using or not lookup in the path or just as lookups subdomain",
    "contact": {
      "name": "Twilio Support",
      "url": "https://support.twilio.com",
      "email": "support@twilio.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://lookups.twilio.com"
    }
  ],
  "paths": {
    "/v2/batch/query": {}
  },
  "components": {
    "schemas": {
      "LookupRequest": {
        "title": "Lookup request",
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "caller_name",
                "sim_swap",
                "call_forwarding",
                "live_activity",
                "line_type_intelligence",
                "identity_match",
                "reassigned_number",
                "sms_pumping_risk",
                "phone_number_quality_score"
              ]
            }
          },
          "country_code": {
            "type": "string"
          },
          "identity_match": {
            "$ref": "#/components/schemas/IdentityMatchParameters"
          },
          "reassigned_number": {
            "$ref": "#/components/schemas/ReassignedNumberRequest"
          }
        },
        "required": [
          "phone_number"
        ],
        "description": ""
      },
      "LookupRequestWithCorId": {
        "title": "LookupRequestWithCorId",
        "type": "object",
        "properties": {
          "correlation_id": {
            "type": "string",
            "description": "Unique identifier used to match request with response"
          },
          "phone_number": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "caller_name",
                "sim_swap",
                "call_forwarding",
                "live_activity",
                "line_type_intelligence",
                "identity_match",
                "reassigned_number",
                "sms_pumping_risk",
                "phone_number_quality_score"
              ]
            }
          },
          "country_code": {
            "type": "string"
          },
          "identity_match": {
            "$ref": "#/components/schemas/IdentityMatchParameters"
          },
          "reassigned_number": {
            "$ref": "#/components/schemas/ReassignedNumberRequest"
          }
        },
        "required": [
          "phone_number"
        ]
      },
      "LookupResponse": {
        "title": "LookupResponse",
        "type": "object",
        "properties": {
          "calling_country_code": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "national_format": {
            "type": "string"
          },
          "valid": {
            "type": "boolean"
          },
          "validation_errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "caller_name": {
            "$ref": "#/components/schemas/CallerName"
          },
          "sim_swap": {
            "$ref": "#/components/schemas/SimSwap"
          },
          "call_forwarding": {
            "$ref": "#/components/schemas/CallForwarding"
          },
          "live_activity": {
            "$ref": "#/components/schemas/LiveActivity"
          },
          "line_type_intelligence": {
            "$ref": "#/components/schemas/LineTypeIntelligence"
          },
          "identity_match": {
            "$ref": "#/components/schemas/IdentityMatch"
          },
          "reassigned_number": {
            "$ref": "#/components/schemas/ReassignedNumberResponse"
          },
          "sms_pumping_risk": {
            "$ref": "#/components/schemas/SmsPumpingRisk"
          },
          "phone_number_quality_score": {
            "$ref": "#/components/schemas/PhoneNumberQualityScore"
          }
        }
      },
      "LookupResponseWithCorId": {
        "type": "object",
        "properties": {
          "correlation_id": {
            "type": "string",
            "description": "Unique identifier used to match request with response"
          },
          "twilio_error_code": {
            "type": "integer",
            "description": "Twilio error conde in case that the request to downstream fails"
          },
          "calling_country_code": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "national_format": {
            "type": "string"
          },
          "valid": {
            "type": "boolean"
          },
          "validation_errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "caller_name": {
            "$ref": "#/components/schemas/CallerName"
          },
          "sim_swap": {
            "$ref": "#/components/schemas/SimSwap"
          },
          "call_forwarding": {
            "$ref": "#/components/schemas/CallForwarding"
          },
          "live_activity": {
            "$ref": "#/components/schemas/LiveActivity"
          },
          "line_type_intelligence": {
            "$ref": "#/components/schemas/LineTypeIntelligence"
          },
          "identity_match": {
            "$ref": "#/components/schemas/IdentityMatch"
          },
          "reassigned_number": {
            "$ref": "#/components/schemas/ReassignedNumberResponse"
          },
          "sms_pumping_risk": {
            "$ref": "#/components/schemas/SmsPumpingRisk"
          },
          "phone_number_quality_score": {
            "$ref": "#/components/schemas/PhoneNumberQualityScore"
          }
        }
      },
      "CallerName": {
        "title": "CallerName",
        "type": "object",
        "properties": {
          "caller_name": {
            "type": "string"
          },
          "caller_type": {
            "type": "string"
          },
          "error_code": {
            "type": "integer"
          }
        }
      },
      "SimSwap": {
        "title": "SimSwap",
        "properties": {
          "last_sim_swap": {
            "$ref": "#/components/schemas/LastSimSwap"
          },
          "carrier_name": {
            "type": "string"
          },
          "mobile_country_code": {
            "type": "string"
          },
          "mobile_network_code": {
            "type": "string"
          },
          "error_code": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "LastSimSwap": {
        "title": "SimSwap",
        "properties": {
          "last_sim_swap_date": {
            "type": "string",
            "format": "date-time"
          },
          "swapped_period": {
            "type": "string"
          },
          "swapped_in_period": {
            "type": "boolean"
          }
        }
      },
      "CallForwarding": {
        "title": "CallForwarding",
        "type": "object",
        "properties": {
          "call_forwarding_enabled": {
            "type": "boolean"
          },
          "carrier_name": {
            "type": "string"
          },
          "mobile_country_code": {
            "type": "string"
          },
          "mobile_network_code": {
            "type": "string"
          },
          "error_code": {
            "type": "integer"
          }
        }
      },
      "ATOCarrier": {
        "title": "ATOCarrier",
        "type": "object",
        "properties": {
          "carrier_name": {
            "type": "string"
          },
          "mobile_country_code": {
            "type": "string"
          },
          "mobile_network_code": {
            "type": "string"
          }
        }
      },
      "LiveActivity": {
        "title": "LiveActivity",
        "type": "object",
        "properties": {
          "connectivity": {
            "type": "string"
          },
          "original_carrier": {
            "$ref": "#/components/schemas/LiveActivityCarrier"
          },
          "ported": {
            "type": "string"
          },
          "ported_carrier": {
            "$ref": "#/components/schemas/LiveActivityCarrier"
          },
          "roaming": {
            "type": "string"
          },
          "roaming_carrier": {
            "$ref": "#/components/schemas/LiveActivityCarrier"
          },
          "error_code": {
            "type": "integer"
          }
        }
      },
      "LiveActivityCarrier": {
        "title": "LiveActivityCarrier",
        "properties": {
          "name": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "mobile_country_code": {
            "type": "string"
          },
          "mobile_network_code": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "LineTypeIntelligence": {
        "title": "Packages/LineTypeIntelligence",
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "carrier_name": {
            "type": "string"
          },
          "mobile_country_code": {
            "type": "string"
          },
          "mobile_network_code": {
            "type": "string"
          },
          "error_code": {
            "type": "integer"
          }
        }
      },
      "Carrier": {
        "title": "Carrier",
        "type": "object",
        "properties": {
          "mobile_country_code": {
            "type": "string"
          },
          "mobile_network_code": {
            "type": "string"
          }
        }
      },
      "IdentityMatch": {
        "title": "IdentityMatch",
        "type": "object",
        "properties": {
          "first_name_match": {
            "type": "string"
          },
          "last_name_match": {
            "type": "string"
          },
          "address_line_match": {
            "type": "string"
          },
          "city_match": {
            "type": "string"
          },
          "state_match": {
            "type": "string"
          },
          "postal_code_match": {
            "type": "string"
          },
          "country_code_match": {
            "type": "string"
          },
          "national_id_match": {
            "type": "string"
          },
          "date_of_birth_match": {
            "type": "string"
          },
          "summary_score": {
            "type": "integer"
          },
          "error_code": {
            "type": "integer"
          },
          "error_message": {
            "type": "string"
          }
        }
      },
      "IdentityMatchParameters": {
        "title": "IdentityMatchParameters",
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "address_line1": {
            "type": "string"
          },
          "address_line2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "address_country_code": {
            "type": "string"
          },
          "national_id": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string"
          }
        }
      },
      "ReassignedNumberRequest": {
        "title": "ReassignedNumberRequest",
        "type": "object",
        "properties": {
          "last_verified_date": {
            "type": "string",
            "maxLength": 8
          }
        }
      },
      "ReassignedNumberResponse": {
        "title": "ReassignedNumberResponse",
        "type": "object",
        "properties": {
          "last_verified_date": {
            "type": "string"
          },
          "is_number_reassigned": {
            "type": "string"
          },
          "error_code": {
            "type": "string"
          }
        }
      },
      "SmsPumpingRiskCarrier": {
        "title": "SmsPumpingRiskCarrier",
        "properties": {
          "name": {
            "type": "string"
          },
          "carrier_risk_score": {
            "type": "integer"
          },
          "carrier_risk_category": {
            "type": "string"
          },
          "mobile_country_code": {
            "type": "string"
          },
          "mobile_network_code": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "SmsPumpingRisk": {
        "title": "SmsPumpingRisk",
        "type": "object",
        "properties": {
          "carrier": {
            "$ref": "#/components/schemas/SmsPumpingRiskCarrier"
          },
          "number_blocked": {
            "type": "boolean"
          },
          "number_blocked_date": {
            "type": "string",
            "format": "date-time"
          },
          "number_blocked_last_3_months": {
            "type": "boolean"
          },
          "sms_pumping_risk_score": {
            "type": "integer"
          },
          "error_code": {
            "type": "integer"
          }
        }
      },
      "PhoneNumberQualityScoreCarrier": {
        "title": "PhoneNumberQualityScoreCarrier",
        "properties": {
          "name": {
            "type": "string"
          },
          "carrier_risk_score": {
            "type": "integer"
          },
          "carrier_risk_category": {
            "type": "string"
          },
          "line_type": {
            "type": "string"
          },
          "mobile_country_code": {
            "type": "string"
          },
          "mobile_network_code": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PhoneNumberQualityScore": {
        "title": "PhoneNumberQualityScore",
        "type": "object",
        "properties": {
          "carrier": {
            "$ref": "#/components/schemas/PhoneNumberQualityScoreCarrier"
          },
          "quality_category": {
            "type": "string"
          },
          "quality_score": {
            "type": "integer"
          },
          "velocity_risk_category": {
            "type": "string"
          },
          "velocity_risk_score": {
            "type": "integer"
          },
          "error_code": {
            "type": "integer"
          }
        }
      }
    },
    "requestBodies": {}
  }
}