{
  "openapi": "3.0.1",
  "info": {
    "title": "Twilio Memory API",
    "description": "APIs for managing memory stores, profiles, events, and conversational intelligence capabilities.",
    "version": "1.0",
    "termsOfService": "https://www.twilio.com/legal/tos",
    "contact": {
      "name": "Twilio Support",
      "url": "https://support.twilio.com",
      "email": "support@twilio.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-twilio": {
      "apiStandards": "v1.0"
    }
  },
  "servers": [
    {
      "url": "https://memory.twilio.com"
    }
  ],
  "paths": {
    "/v1/Stores/{storeId}/Profiles/{profileId}": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/ProfileId"
        }
      ],
      "x-twilio": {
        "pathType": "instance"
      },
      "delete": {
        "operationId": "DeleteProfile",
        "summary": "Delete Profile",
        "description": "Asynchronously delete the profile permanently and all associated identifiers and traits. This operation is irreversible. Downstream caches or analytical stores may take time to reflect the deletion. Use cautiously and consider a soft\u2011delete strategy if regulatory or recovery requirements apply.",
        "tags": [
          "Profile"
        ],
        "responses": {
          "202": {
            "description": "Profile deletion accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string",
                      "maxLength": 512,
                      "example": "Profile accepted for deletion."
                    }
                  }
                },
                "examples": {
                  "Accepted": {
                    "value": {
                      "message": "Profile accepted for deletion."
                    }
                  }
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "PatchProfileTraits",
        "summary": "Patch Profile Traits",
        "description": "Merge one or more trait groups into an existing profile. Only the traits provided are added or updated; unspecified traits remain unchanged. Only pre-defined trait groups and traits configured for the memory store can be patched. To remove a trait entirely, set its value to null.",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfilePatch"
              },
              "example": {
                "traits": {
                  "Activity": {
                    "lastVisited": "2024-10-07T15:39:25Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Trait patch accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Trait modifications accepted for processing.",
                      "maxLength": 255
                    }
                  },
                  "maxProperties": 1
                },
                "examples": {
                  "Accepted": {
                    "value": {
                      "message": "Trait modifications accepted for processing."
                    }
                  }
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/Stores/{storeId}/Profiles/Lookup": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        }
      ],
      "x-twilio": {
        "pathType": "list"
      },
      "post": {
        "operationId": "CreateProfilesLookup",
        "summary": "Lookup Profiles",
        "description": "Find profiles that contain a specific identifier value (for example a phone number or email address). Submit an identifier object specifying the `idType` and `value`. The value is normalized using the configured identity resolution settings (such as phone number formatting) prior to matching. Multiple matches are returned if more than one profile is associated with the identifier. Returns canonical profile IDs (the earliest ID if profiles have been merged) along with the normalized value actually searched.",
        "tags": [
          "Retrieval"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Identifier"
              },
              "example": {
                "idType": "phone",
                "value": "1-317-555-6789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of profiles found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "normalizedValue": {
                      "type": "string",
                      "maxLength": 255,
                      "description": "Identifier value after normalization that was used for the lookup.",
                      "example": "+13175556789"
                    },
                    "profiles": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/IdentityProfileID"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/Stores/{storeId}/Profiles/{profileId}/Identifiers": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/ProfileId"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "identifiers"
        ],
        "pathType": "list"
      },
      "get": {
        "operationId": "ListProfileIdentifiers",
        "summary": "List Profile Identifiers",
        "description": "Retrieve all identifier types linked to a profile along with their stored values. Use this to audit which external keys (phone, email, externalId, etc.) are currently associated. Values are returned in the order enforced by each identifier settings `limitPolicy` and reflect any normalization applied by the service.",
        "tags": [
          "Identifiers"
        ],
        "responses": {
          "200": {
            "description": "A list of identifiers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "identifiers": {
                      "type": "array",
                      "maxItems": 50,
                      "items": {
                        "$ref": "#/components/schemas/IdentifierSet"
                      }
                    }
                  }
                }
              }
            }
          },
          "301": {
            "$ref": "#/components/responses/MovedPermanently"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "CreateProfileIdentifier",
        "summary": "Add Profile Identifier",
        "description": "Asynchronously attach a new identifier value to a profile. When multiple values exist for an `idType`, ordering, limits, and uniqueness checks are enforced by the corresponding identifier settings `limitPolicy` and  reflect any normalization. If the identifier already exists and points to another profile, resolution rules or merge processes may apply. Use the identifier specific endpoint to inspect, update, or remove existing values.",
        "tags": [
          "Identifiers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Identifier"
              },
              "example": {
                "idType": "phone",
                "value": "+13175556789"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Identifier association accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string",
                      "maxLength": 512,
                      "example": "Identifier accepted for processing."
                    }
                  }
                },
                "examples": {
                  "Accepted": {
                    "value": {
                      "message": "Identifier accepted for processing."
                    }
                  }
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/Stores/{storeId}/Profiles/{profileId}/Identifiers/{idType}": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/ProfileId"
        },
        {
          "$ref": "#/components/parameters/IdentifierType"
        }
      ],
      "x-twilio": {
        "pathType": "instance"
      },
      "get": {
        "operationId": "FetchProfileIdentifier",
        "summary": "Retrieve Profile Identifier",
        "description": "Retrieve all stored values for a specific identifier type on a profile. Values are normalized according to the configured identifier settings and returned in the order determined by its `limitPolicy`.",
        "tags": [
          "Identifiers"
        ],
        "responses": {
          "200": {
            "description": "Identifier values associated with the requested type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentifierSet"
                }
              }
            }
          },
          "301": {
            "$ref": "#/components/responses/MovedPermanently"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "PatchProfileIdentifier",
        "summary": "Modify Profile Identifier",
        "description": "Asynchronously replace one of the stored values associated with the\nidentifier type on a profile. `newValue` is normalized according to\nthe configured identifier settings. \n\nIf the new identifier already exists and points to another profile,\nmerge processes may apply.",
        "tags": [
          "Identifiers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifierUpdate"
              },
              "example": {
                "idType": "phone",
                "oldValue": "+13175556789",
                "newValue": "+13175556798"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Identifier update accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string",
                      "maxLength": 512,
                      "example": "Identifier update accepted."
                    }
                  }
                },
                "examples": {
                  "Accepted": {
                    "value": {
                      "message": "Identifier update accepted."
                    }
                  }
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "DeleteProfileIdentifier",
        "summary": "Remove Profile Identifier",
        "description": "Asynchronously remove stored values for the identifier type. The optional `removeAll` query parameter allows bulk removal; otherwise the service selects a single value to delete using the identifier settings `limitPolicy`.",
        "tags": [
          "Identifiers"
        ],
        "parameters": [
          {
            "name": "removeAll",
            "in": "query",
            "required": false,
            "description": "When true, removes every stored value for the identifier type in a single operation. Defaults to false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Identifier removal accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string",
                      "maxLength": 512,
                      "example": "Identifier removal accepted."
                    }
                  }
                },
                "examples": {
                  "Accepted": {
                    "value": {
                      "message": "Identifier removal accepted."
                    }
                  }
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/Stores/{storeId}/Profiles/{profileId}/Recall": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/ProfileId"
        }
      ],
      "x-twilio": {
        "pathType": "list"
      },
      "post": {
        "operationId": "CreateFetchProfileMemory",
        "summary": "Retrieve Memories",
        "description": "Tailored memory retrieval for agentic workloads. Supports hybrid semantic search, date ranges, and configurable result limits for different memory types. This endpoint is optimized for conversational AI and memory retrieval use cases. If a query is not specified then one is inferred from the conversation context. If neither a query nor a conversationId is provided, results are returned in most-recent order without relevance scores.",
        "tags": [
          "Retrieval"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptEncoding"
          },
          {
            "$ref": "#/components/parameters/ContentEncoding"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryRetrievalRequest"
              },
              "examples": {
                "Basic Query": {
                  "value": {
                    "query": "customer satisfaction feedback",
                    "conversationId": "conv_conversation_00000000000000000000000000",
                    "communicationsLimit": 10,
                    "observationsLimit": 20,
                    "summariesLimit": 5
                  }
                },
                "Retrieval without Query field": {
                  "value": {
                    "conversationId": "conv_conversation_00000000000000000000000000",
                    "beginDate": "2025-01-15T00:00:00Z",
                    "communicationsLimit": 15,
                    "observationsLimit": 25,
                    "summariesLimit": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Memory retrieval results returned successfully.",
            "headers": {
              "Content-Encoding": {
                "$ref": "#/components/headers/ContentEncoding"
              },
              "Canonical-Profile-Id": {
                "$ref": "#/components/headers/Canonical-Profile-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryRetrievalResponse"
                },
                "examples": {
                  "Basic Results": {
                    "value": {
                      "observations": [
                        {
                          "id": "mem_observation_00000000000000000000000001",
                          "content": "Customer expressed satisfaction with recent product update during support call.",
                          "source": "customer_service",
                          "occurredAt": "2025-01-15T10:15:30Z",
                          "createdAt": "2025-01-15T10:30:45Z",
                          "updatedAt": "2025-01-15T10:30:45Z"
                        }
                      ],
                      "summaries": [],
                      "communications": [],
                      "meta": {
                        "queryTime": 156
                      }
                    }
                  },
                  "Retrieval without Query field Results": {
                    "value": {
                      "observations": [],
                      "summaries": [
                        {
                          "id": "mem_summary_00000000000000000000000002",
                          "conversationId": "conv_conversation_00000000000000000000000000",
                          "content": "Recent conversation indicates continued billing visibility concerns; reassurance provided.",
                          "source": "summary_operator",
                          "occurredAt": "2025-01-15T16:00:00Z",
                          "createdAt": "2025-01-15T16:00:10Z",
                          "updatedAt": "2025-01-15T16:00:10Z"
                        }
                      ],
                      "communications": [
                        {
                          "id": "conv_communication_00000000000000000000000000",
                          "author": {
                            "id": "conv_participant_00000000000000000000000000",
                            "name": "Customer",
                            "address": "+12025551234",
                            "channel": "SMS"
                          },
                          "channelId": "SM00000000000000000000000000000000",
                          "content": {
                            "text": "Hey, I still can't see the new charges on my account."
                          },
                          "createdAt": "2025-01-15T15:58:10Z",
                          "recipients": [
                            {
                              "id": "conv_participant_00000000000000000000000001",
                              "name": "Agent",
                              "address": "+12025555678",
                              "channel": "SMS"
                            }
                          ]
                        },
                        {
                          "id": "conv_communication_00000000000000000000000001",
                          "author": {
                            "id": "conv_participant_00000000000000000000000001",
                            "name": "Agent",
                            "address": "+12025555678",
                            "channel": "SMS"
                          },
                          "channelId": "SM00000000000000000000000000000000",
                          "content": {
                            "text": "Thanks for checking in. The billing refresh is in progress and should finish shortly."
                          },
                          "createdAt": "2025-01-15T15:59:05Z",
                          "recipients": [
                            {
                              "id": "conv_participant_00000000000000000000000000",
                              "name": "Customer",
                              "address": "+12025551234",
                              "channel": "SMS"
                            }
                          ]
                        }
                      ],
                      "meta": {
                        "queryTime": 142
                      }
                    }
                  }
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/Stores/{storeId}/Profiles/{profileId}/Observations": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/ProfileId"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "observations"
        ],
        "pathType": "list"
      },
      "get": {
        "operationId": "ListProfileObservations",
        "summary": "List Observations",
        "description": "Retrieve a paginated list of transient observations for a specific profile. Observations are sorted by creation time in descending order by default. Results can be filtered by source parameter. Supports response compression for large datasets.",
        "tags": [
          "Observations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/OrderBy"
          },
          {
            "$ref": "#/components/parameters/SourceParam"
          },
          {
            "$ref": "#/components/parameters/CreatedAfter"
          },
          {
            "$ref": "#/components/parameters/CreatedBefore"
          },
          {
            "$ref": "#/components/parameters/AcceptEncoding"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of observations for the profile.",
            "headers": {
              "Content-Encoding": {
                "$ref": "#/components/headers/ContentEncoding"
              },
              "Canonical-Profile-Id": {
                "$ref": "#/components/headers/Canonical-Profile-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "observations": {
                      "type": "array",
                      "maxItems": 50,
                      "items": {
                        "$ref": "#/components/schemas/ObservationInfo"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ObservationsMeta"
                    }
                  }
                },
                "example": {
                  "observations": [
                    {
                      "id": "mem_observation_00000000000000000000000001",
                      "content": "Customer expressed frustration with billing process during call on 2025-01-15. Mentioned difficulty understanding charges.",
                      "source": "customer_service",
                      "occurredAt": "2025-01-15T14:30:00Z",
                      "createdAt": "2025-01-15T10:30:45Z",
                      "updatedAt": "2025-01-15T10:30:45Z"
                    },
                    {
                      "id": "mem_observation_00000000000000000000000002",
                      "conversationIds": [
                        "conv_conversation_00000000000000000000000000"
                      ],
                      "content": "Customer: 'I love the new feature you added.' Agent: 'Thank you for the feedback, we're glad you're enjoying it.'",
                      "source": "chat_transcript",
                      "occurredAt": "2025-01-15T14:30:00Z",
                      "createdAt": "2025-01-15T11:15:30Z",
                      "updatedAt": "2025-01-15T11:15:30Z"
                    }
                  ],
                  "meta": {
                    "pageSize": 2,
                    "nextToken": "eyJlYXN0ZXIiOiJlZ2cifQ",
                    "key": "observations"
                  }
                }
              }
            }
          },
          "301": {
            "$ref": "#/components/responses/MovedPermanently"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "CreateProfileObservation",
        "summary": "Create Observations",
        "description": "Create one or more transient observations associated with the specified profile. Supports both single observation creation and batch creation of up to 10 observations. Supports request compression for large batch operations and response compression for the response. All observations will be automatically indexed for semantic search capabilities. The content can be up to 4KB in length and should contain relevant information about the profile. The createdAt and updatedAt timestamps will be automatically set to the current time. Each observation will be created with a unique ID in Twilio Type ID (TTID) format.",
        "tags": [
          "Observations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptEncoding"
          },
          {
            "$ref": "#/components/parameters/ContentEncoding"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateObservationsRequest"
              },
              "examples": {
                "Single Observation": {
                  "value": {
                    "observations": [
                      {
                        "content": "Customer expressed frustration with billing process during call on 2025-01-15. Mentioned difficulty understanding charges.",
                        "source": "customer_service",
                        "occurredAt": "2025-01-15T14:30:00Z"
                      }
                    ]
                  }
                },
                "Batch Observations": {
                  "value": {
                    "observations": [
                      {
                        "content": "Customer expressed frustration with billing process during call on 2025-01-15. Mentioned difficulty understanding charges.",
                        "source": "customer_service",
                        "occurredAt": "2025-01-15T14:30:00Z"
                      },
                      {
                        "content": "Customer: 'I love the new feature you added.' Agent: 'Thank you for the feedback, we're glad you're enjoying it.'",
                        "source": "chat_transcript",
                        "occurredAt": "2025-01-15T15:30:00Z",
                        "conversationIds": [
                          "conv_conversation_00000000000000000000000000"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Observation creation accepted and is being processed.",
            "headers": {
              "Content-Encoding": {
                "$ref": "#/components/headers/ContentEncoding"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObservationCreatedResponse"
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/Stores/{storeId}/Profiles/{profileId}/Observations/{observationId}": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/ProfileId"
        },
        {
          "$ref": "#/components/parameters/ObservationId"
        }
      ],
      "x-twilio": {
        "pathType": "instance"
      },
      "get": {
        "operationId": "FetchProfileObservation",
        "summary": "Retrieve Observation",
        "description": "Retrieve a specific transient observation by its ID for the given profile.",
        "tags": [
          "Observations"
        ],
        "responses": {
          "200": {
            "description": "Observation retrieved successfully.",
            "headers": {
              "Canonical-Profile-Id": {
                "$ref": "#/components/headers/Canonical-Profile-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObservationInfo"
                },
                "examples": {
                  "Conversation Observation": {
                    "value": {
                      "id": "mem_observation_00000000000000000000000001",
                      "content": "Customer expressed frustration with billing process during call on 2025-01-15. Mentioned difficulty understanding charges.",
                      "source": "customer_service",
                      "occurredAt": "2025-01-15T14:30:00Z",
                      "conversationIds": [
                        "conv_conversation_00000000000000000000000000"
                      ],
                      "createdAt": "2025-01-15T10:30:45Z",
                      "updatedAt": "2025-01-15T10:30:45Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "PatchProfileObservation",
        "summary": "Update Observation",
        "description": "Update a specific transient observation by its ID. Only provided fields will be updated. The updated timestamp will be automatically set. This allows for selective updates without needing to provide all fields.",
        "tags": [
          "Observations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObservationCore"
              },
              "examples": {
                "Update Content Only": {
                  "value": {
                    "content": "Updated: Customer expressed satisfaction with recent product update during support call. Follow-up scheduled.",
                    "source": "customer_service",
                    "occurredAt": "2025-01-15T16:00:00Z"
                  }
                },
                "Update Source": {
                  "value": {
                    "content": "Customer preferences noted during interaction.",
                    "source": "customer_service_followup",
                    "occurredAt": "2025-01-15T16:30:00Z"
                  }
                },
                "Update Intelligent Operator Fields": {
                  "value": {
                    "content": "Analysis updated with improved confidence assessment.",
                    "source": "ai_analysis",
                    "occurredAt": "2025-01-15T17:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Observation update accepted and is being processed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "maxLength": 512,
                      "example": "Observation update accepted"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "DeleteProfileObservation",
        "summary": "Delete Observation",
        "description": "Delete a specific transient observation by its ID. This action is irreversible.",
        "tags": [
          "Observations"
        ],
        "responses": {
          "202": {
            "description": "Observation deletion accepted and is being processed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "maxLength": 255,
                      "example": "Observation deletion accepted"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/Stores/{storeId}/Profiles/{profileId}/Observations/{observationId}/Revisions": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/ProfileId"
        },
        {
          "$ref": "#/components/parameters/ObservationId"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "revisions"
        ],
        "pathType": "list"
      },
      "get": {
        "operationId": "ListObservationRevisions",
        "summary": "List Observation Revisions",
        "description": "Retrieve a chronologically ordered list of all past revisions of a specific observation by its ID. Revisions represent the complete history of updates and modifications made to an observation, with each revision capturing the full state at the time of change. Revisions are sorted by update time in descending order (newest first), allowing you to track how an observation has evolved through updates over time.",
        "tags": [
          "Observations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/AcceptEncoding"
          }
        ],
        "responses": {
          "200": {
            "description": "A chronologically ordered list of observation revisions.",
            "headers": {
              "Content-Encoding": {
                "$ref": "#/components/headers/ContentEncoding"
              },
              "Canonical-Profile-Id": {
                "$ref": "#/components/headers/Canonical-Profile-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revisions": {
                      "type": "array",
                      "maxItems": 50,
                      "items": {
                        "$ref": "#/components/schemas/ObservationInfo"
                      },
                      "description": "Array of observation revisions ordered chronologically descending by update time (newest first)."
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ObservationsMeta"
                    }
                  }
                },
                "examples": {
                  "Observation Revisions": {
                    "value": {
                      "revisions": [
                        {
                          "id": "mem_observation_00000000000000000000000001",
                          "content": "Updated: Customer expressed satisfaction with recent product update during support call. Follow-up scheduled.",
                          "source": "customer_service",
                          "occurredAt": "2025-01-15T14:30:00Z",
                          "createdAt": "2025-01-15T10:30:45Z",
                          "updatedAt": "2025-01-15T14:20:15Z"
                        },
                        {
                          "id": "mem_observation_00000000000000000000000001",
                          "content": "Customer expressed frustration with billing process during call on 2025-01-15. Mentioned difficulty understanding charges.",
                          "source": "customer_service",
                          "occurredAt": "2025-01-15T14:30:00Z",
                          "createdAt": "2025-01-15T10:30:45Z",
                          "updatedAt": "2025-01-15T10:30:45Z"
                        }
                      ],
                      "meta": {
                        "pageSize": 2,
                        "nextToken": "eyJlYXN0ZXIiOiJlZ2cifQ",
                        "key": "revisions"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/Stores/{storeId}/Profiles/{profileId}/ConversationSummaries": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/ProfileId"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "summaries"
        ],
        "pathType": "list"
      },
      "get": {
        "operationId": "ListProfileConversationSummaries",
        "summary": "List Conversation Summaries",
        "description": "Retrieve a paginated list of conversation summaries for a specific profile.  Supports response compression for large datasets.",
        "tags": [
          "ConversationSummaries"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/AcceptEncoding"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of conversation summaries for the profile.",
            "headers": {
              "Content-Encoding": {
                "$ref": "#/components/headers/ContentEncoding"
              },
              "Canonical-Profile-Id": {
                "$ref": "#/components/headers/Canonical-Profile-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summaries": {
                      "type": "array",
                      "maxItems": 50,
                      "items": {
                        "$ref": "#/components/schemas/SummaryInfo"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ObservationsMeta"
                    }
                  }
                },
                "example": {
                  "summaries": [
                    {
                      "id": "mem_summary_00000000000000000000000001",
                      "conversationId": "conv_conversation_00000000000000000000000000",
                      "content": "Customer discussed billing concerns and was satisfied with the resolution provided during this conversation.",
                      "source": "conversational_intelligence",
                      "occurredAt": "2025-01-15T10:30:00Z",
                      "createdAt": "2025-01-15T10:30:45Z",
                      "updatedAt": "2025-01-15T10:30:45Z"
                    },
                    {
                      "id": "mem_summary_00000000000000000000000002",
                      "conversationId": "conv_conversation_00000000000000000000000000",
                      "content": "Customer: 'I love the new feature you added.' Agent: 'Thank you for the feedback, we're glad you're enjoying it.'",
                      "source": "summary_operator",
                      "occurredAt": "2025-01-15T11:15:00Z",
                      "createdAt": "2025-01-15T11:15:30Z",
                      "updatedAt": "2025-01-15T11:15:30Z"
                    }
                  ],
                  "meta": {
                    "pageSize": 2,
                    "nextToken": "eyJlYXN0ZXIiOiJlZ2cifQ",
                    "key": "summaries"
                  }
                }
              }
            }
          },
          "301": {
            "$ref": "#/components/responses/MovedPermanently"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "CreateProfileConversationSummary",
        "summary": "Create Conversation Summaries",
        "description": "Create one or more conversation summaries associated with the specified profile. Supports both single summary creation and batch creation of up to 10 summaries. Supports request compression for large batch operations and response compression for the response. All summaries will be automatically indexed for semantic search capabilities. The content summary can be up to 4KB in length. Each summary will be created with a unique ID in Twilio Type ID (TTID) format.",
        "tags": [
          "ConversationSummaries"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptEncoding"
          },
          {
            "$ref": "#/components/parameters/ContentEncoding"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSummariesRequest"
              },
              "examples": {
                "Single Summary": {
                  "value": {
                    "summaries": [
                      {
                        "conversationId": "conv_conversation_00000000000000000000000000",
                        "content": "Customer discussed billing concerns and was satisfied with the resolution provided during this conversation.",
                        "source": "conversational_intelligence",
                        "occurredAt": "2025-01-15T15:00:00Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Conversation summary creation accepted and is being processed.",
            "headers": {
              "Content-Encoding": {
                "$ref": "#/components/headers/ContentEncoding"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SummariesCreatedResponse"
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/Stores/{storeId}/Profiles": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "profiles"
        ],
        "pathType": "list"
      },
      "get": {
        "operationId": "ListProfiles",
        "summary": "List Profiles",
        "description": "Return a paginated list of profile IDs ordered by most recently created first. Use the optional paging parameters (`pageSize`, `pageToken`, `orderBy`) to control pagination and sorting. This endpoint is optimized for browsing newly created profiles and lightweight lookups where only the identifiers are needed before requesting full profile details.",
        "tags": [
          "Profile"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/OrderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of profile IDs up to a maximum of 100.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profiles": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/ProfileID"
                      },
                      "example": [
                        "mem_profile_00000000000000000000000000",
                        "mem_profile_00000000000000000000000001",
                        "mem_profile_00000000000000000000000002",
                        "mem_profile_00000000000000000000000003",
                        "mem_profile_00000000000000000000000004",
                        "mem_profile_00000000000000000000000005",
                        "mem_profile_00000000000000000000000006",
                        "mem_profile_00000000000000000000000007",
                        "mem_profile_00000000000000000000000008",
                        "mem_profile_00000000000000000000000009"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ProfilesMeta"
                    }
                  },
                  "maxProperties": 2
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "CreateProfile",
        "summary": "Create Profile",
        "description": "Create a new profile and set initial traits. The request synchronously resolves identity and either creates a new profile ID or retrieves the associated canonical profile ID based on any provided identifier traits present in the request. The request must contain at least one trait that is promoted to an identifier in its trait group settings. Any additional traits are queued for asynchronous processing.",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileData"
              },
              "examples": {
                "Add Contact": {
                  "value": {
                    "traits": {
                      "Contact": {
                        "email": "Alyssa.Mock@example.com",
                        "phone": "+13175551234",
                        "lastName": "Mock",
                        "firstName": "Alyssa",
                        "street": "123 Main St",
                        "city": "San Francisco",
                        "state": "CA",
                        "postalCode": "94107",
                        "country": "US"
                      }
                    }
                  }
                },
                "Unknown Caller (Customer Care)": {
                  "value": {
                    "traits": {
                      "Contact": {
                        "phone": "+13175551234",
                        "preferredLanguage": "en"
                      },
                      "IVR": {
                        "datetime": "2023-10-05T15:39:25Z",
                        "ivrPath": "main_menu>technical_support>password_reset",
                        "languageSelected": "en"
                      },
                      "Support": {
                        "disposition": "resolved"
                      }
                    }
                  }
                },
                "Known New Caller (Customer Care)": {
                  "value": {
                    "traits": {
                      "Contact": {
                        "phone": "+13175551234",
                        "lastName": "Mock",
                        "firstName": "Alyssa",
                        "preferredLanguage": "en"
                      },
                      "Account": {
                        "accountNumber": "123456"
                      },
                      "IVR": {
                        "datetime": "2023-10-05T15:39:25Z",
                        "ivrPath": "main_menu>technical_support>password_reset>xfer_to_agent",
                        "languageSelected": "en"
                      },
                      "Support": {
                        "disposition": "resolved"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Profile resolved and accepted for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message",
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/ProfileID",
                      "example": "mem_profile_00000000000000000000000000"
                    },
                    "message": {
                      "type": "string",
                      "example": "Profile resolved and accepted for processing.",
                      "maxLength": 255
                    }
                  },
                  "maxProperties": 2
                },
                "examples": {
                  "Accepted": {
                    "value": {
                      "message": "Profile resolved and accepted for processing.",
                      "id": "mem_profile_00000000000000000000000000"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/Stores/{storeId}/Profiles/Bulk": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        }
      ],
      "x-twilio": {
        "pathType": "instance"
      },
      "put": {
        "operationId": "UpdateProfilesBulk",
        "summary": "Bulk Upsert Profiles",
        "description": "Create or update up to 1000 profiles in a single asynchronous batch. Each profile body follows the same structure as single profile creation. If a profile already exists its traits are merged (new keys added, existing keys overwritten). Large batches may take time to process; the 202 response indicates the batch has been accepted. Monitor downstream telemetry or audit logs to confirm completion.",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profiles": {
                    "type": "array",
                    "maxItems": 1000,
                    "minItems": 1,
                    "items": {
                      "$ref": "#/components/schemas/ProfileData"
                    }
                  }
                },
                "maxProperties": 1
              },
              "example": {
                "profiles": [
                  {
                    "traits": {
                      "Contact": {
                        "phone": "+13175551234",
                        "email": "Alyssa.Mock@example.com",
                        "lastName": "Mock",
                        "firstName": "Alyssa"
                      }
                    }
                  },
                  {
                    "traits": {
                      "Contact": {
                        "phone": "+13175556789",
                        "email": "John.Doe@example.com",
                        "lastName": "Doe",
                        "firstName": "John"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Profiles batch accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Profile batch accepted for processing.",
                      "maxLength": 255
                    }
                  },
                  "maxProperties": 1
                },
                "examples": {
                  "Accepted": {
                    "value": {
                      "message": "Profile batch accepted for processing."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/Stores/{storeId}/Profiles/{profileId}/Traits": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/ProfileId"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "traits"
        ],
        "pathType": "list"
      },
      "get": {
        "operationId": "ListProfileTraits",
        "summary": "List Profile Traits",
        "description": "Return a paginated, optionally filtered list of individual traits for a profile (flattened view). This is useful for UIs or tools that need to browse trait metadata (names, groups, timestamps). Use the optional `traitGroups` filter to scope results and the paging parameters to iterate through larger sets.",
        "tags": [
          "Traits"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/OrderBy"
          },
          {
            "$ref": "#/components/parameters/TraitGroupsQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of traits.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traits": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/FullTrait"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ProfilesMeta"
                    }
                  },
                  "maxProperties": 2
                },
                "examples": {
                  "All Traits": {
                    "summary": "All traits for a profile",
                    "value": {
                      "traits": [
                        {
                          "name": "firstName",
                          "value": "Alyssa",
                          "traitGroup": "Contact",
                          "timestamp": "2025-01-01T12:00:00Z"
                        },
                        {
                          "name": "lastName",
                          "value": "Mock",
                          "traitGroup": "Contact",
                          "timestamp": "2025-01-01T12:00:00Z"
                        },
                        {
                          "name": "tier",
                          "value": "gold",
                          "traitGroup": "Loyalty",
                          "timestamp": "2025-01-01T12:30:00Z"
                        },
                        {
                          "name": "points",
                          "value": "1250",
                          "traitGroup": "Loyalty",
                          "timestamp": "2025-01-01T12:30:00Z"
                        }
                      ],
                      "meta": {
                        "pageSize": 4,
                        "key": "traits"
                      }
                    }
                  },
                  "Filtered by TraitGroup": {
                    "summary": "Traits filtered by traitGroups=Contact",
                    "value": {
                      "traits": [
                        {
                          "name": "firstName",
                          "value": "Alyssa",
                          "traitGroup": "Contact",
                          "timestamp": "2025-01-01T12:00:00Z"
                        },
                        {
                          "name": "lastName",
                          "value": "Mock",
                          "traitGroup": "Contact",
                          "timestamp": "2025-01-01T12:00:00Z"
                        },
                        {
                          "name": "email",
                          "value": "alyssa.mock@example.com",
                          "traitGroup": "Contact",
                          "timestamp": "2025-01-01T12:00:00Z"
                        }
                      ],
                      "meta": {
                        "pageSize": 3,
                        "key": "traits"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Canonical-Profile-Id": {
                "$ref": "#/components/headers/Canonical-Profile-Id"
              }
            }
          },
          "301": {
            "$ref": "#/components/responses/MovedPermanently"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/Stores/{storeId}/Profiles/{profileId}/Events": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "name": "storeId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The storeId identifier"
        },
        {
          "name": "profileId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The profileId identifier"
        }
      ],
      "x-twilio": {
        "pathType": "list"
      },
      "post": {
        "operationId": "CreateProfileEvents",
        "tags": [
          "Event"
        ],
        "summary": "Add events to a specific profile.",
        "description": "Multiple events can be added to a profile in a single request.\nThe maximum number of events per request is 1000 and they will be processed asynchronously.\n\nAny traits that are configured for identifier promotion will be set as an identifier value on the profile.\n\nTypes of events:\n\n- `twilio-communication-event` - Twilio communication event, used for tracking multi-channel communications.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileEventRequest"
              },
              "examples": {
                "Communication Event": {
                  "value": {
                    "type": "twilio-communication-event",
                    "events": [
                      {
                        "timestamp": "2025-01-01T12:00:00.000Z",
                        "lifecycle": "COMMUNICATION_SENT",
                        "conversationId": "conv_conversation_00000000000000000000000000",
                        "communicationId": "comms_communication_00000000000000000000000000",
                        "communicationType": "SMS",
                        "communicationStatus": "SENT",
                        "direction": "OUTBOUND",
                        "sender": {
                          "address": "+12345556789",
                          "participantId": "comms_participant_00000000000000000000000001"
                        },
                        "recipient": {
                          "address": "+13175557890",
                          "participantId": "comms_participant_00000000000000000000000002"
                        },
                        "errorCode": "",
                        "errorMessage": ""
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Events accepted for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "maxLength": 1024,
                      "example": "Events accepted for processing."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/ControlPlane/Stores": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "x-twilio": {
        "pathType": "list"
      },
      "get": {
        "operationId": "ListStores",
        "summary": "List Memory Stores",
        "description": "Get a list of memory stores for the Twilio account.",
        "tags": [
          "Store"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ControlPlanePageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/OrderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Memory stores retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "CreateStore",
        "summary": "Create a Memory Store",
        "description": "Create a new Memory Store for the Twilio account. Accounts can have multiple memory stores, up to a maximum limit of 15.\nEach memory store will automatically provision other dependent resources as needed, including Conversational Intelligence\ncapabilities.",
        "tags": [
          "Store"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Store creation accepted for async processing. Inspect the status URL for progress.",
            "headers": {
              "Operation-Id": {
                "$ref": "#/components/headers/OperationId"
              },
              "Location": {
                "$ref": "#/components/headers/OperationLocation"
              },
              "Retry-After": {
                "$ref": "#/components/headers/OperationRetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "message": {
                      "type": "string",
                      "maxLength": 512,
                      "example": "Memory Store creation accepted for processing."
                    },
                    "statusUrl": {
                      "type": "string",
                      "description": "URI to check operation status.",
                      "maxLength": 512
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/ControlPlane/Stores/{storeId}": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "id",
          "uniqueName",
          "friendlyName"
        ],
        "pathType": "instance"
      },
      "get": {
        "operationId": "FetchStore",
        "summary": "Retrieve a Memory Store.",
        "description": "Retrieve the details of a specific Memory Store by its unique ID.",
        "tags": [
          "Store"
        ],
        "responses": {
          "200": {
            "description": "Memory Store details retrieved successfully",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Store"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "PatchStore",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatchHeader"
          }
        ],
        "summary": "Update a Memory Store",
        "description": "Partially update a Memory Store. Only the fields provided in the request body will be updated.",
        "tags": [
          "Store"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "description": "Provides a unique and addressable name to be assigned to this Store. This name is assigned by the developer and can be used in addition to the ID. It is intended to be human-readable and unique within the account.",
                    "pattern": "^[a-zA-Z0-9-]+$",
                    "example": "sandbox-updated"
                  },
                  "description": {
                    "type": "string",
                    "description": "A human readable description of this resource, up to 128 characters.",
                    "minLength": 1,
                    "maxLength": 128,
                    "example": "Updated service for development and testing"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Memory Store update request accepted.",
            "headers": {
              "Operation-Id": {
                "$ref": "#/components/headers/OperationId"
              },
              "Location": {
                "$ref": "#/components/headers/OperationLocation"
              },
              "Retry-After": {
                "$ref": "#/components/headers/OperationRetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "maxLength": 512,
                      "example": "Memory Store update request accepted for processing."
                    },
                    "statusUrl": {
                      "type": "string",
                      "description": "URI to check operation status.",
                      "maxLength": 512
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/ControlPlane/Stores/{storeId}/IdentityResolutionSettings": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "identifierConfigs",
          "matchingRules"
        ],
        "pathType": "instance"
      },
      "get": {
        "operationId": "FetchIdentityResolutionSettings",
        "summary": "Retrieve Identity Resolution Settings.",
        "description": "These settings determine how Customer Memory will use identifiers for searching, \nmerging, and resolving profiles. \n> Some settings can only take on their default values and are not yet available to change, but coming soon.",
        "tags": [
          "IdentityResolutionSettings"
        ],
        "responses": {
          "200": {
            "description": "Identity resolution settings retrieved successfully",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityResolutionSettings"
                },
                "example": {
                  "identifierConfigs": [
                    {
                      "idType": "email",
                      "matchingAlgo": "exact",
                      "normalization": "email",
                      "enforceUnique": true
                    },
                    {
                      "idType": "whatsapp",
                      "matchingAlgo": "exact",
                      "normalization": "trim",
                      "enforceUnique": true
                    },
                    {
                      "idType": "phone",
                      "matchingAlgo": "exact",
                      "normalization": "phone",
                      "enforceUnique": true
                    }
                  ],
                  "matchingRules": [
                    "email",
                    "whatsapp",
                    "phone"
                  ],
                  "version": 3
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "put": {
        "operationId": "UpdateIdentityResolutionSettings",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatchHeader"
          }
        ],
        "summary": "Update Identity Resolution Settings.",
        "description": "Update the identity resolution settings for this memory store, which\ndetermine how Customer Memory will use identifiers for searching, \nmerging, and resolving profiles.\n",
        "tags": [
          "IdentityResolutionSettings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityResolutionSettingsCore"
              },
              "examples": {
                "Basic Configuration": {
                  "value": {
                    "identifierConfigs": [
                      {
                        "idType": "email",
                        "matchingAlgo": "exact",
                        "normalization": "email",
                        "enforceUnique": true
                      },
                      {
                        "idType": "whatsapp",
                        "matchingAlgo": "exact",
                        "normalization": "trim",
                        "enforceUnique": true
                      },
                      {
                        "idType": "phone",
                        "matchingAlgo": "exact",
                        "normalization": "phone",
                        "enforceUnique": true
                      }
                    ],
                    "matchingRules": [
                      "email",
                      "whatsapp",
                      "phone"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Identity Resolution Settings accepted for processing.",
            "headers": {
              "Operation-Id": {
                "$ref": "#/components/headers/OperationId"
              },
              "Location": {
                "$ref": "#/components/headers/OperationLocation"
              },
              "Retry-After": {
                "$ref": "#/components/headers/OperationRetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "message": {
                      "type": "string",
                      "maxLength": 512,
                      "example": "Identity Resolution Settings accepted for processing."
                    },
                    "statusUrl": {
                      "type": "string",
                      "description": "URI to check operation status.",
                      "maxLength": 512
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/ControlPlane/Stores/{storeId}/TraitGroups": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "traitGroups"
        ],
        "pathType": "list"
      },
      "get": {
        "operationId": "ListTraitGroups",
        "summary": "List Trait Groups",
        "description": "Returns a list of Trait Groups for this Memory Store, with optional traits information.",
        "tags": [
          "TraitGroup"
        ],
        "parameters": [
          {
            "name": "includeTraits",
            "in": "query",
            "description": "Whether to include trait definitions in the response",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/ControlPlanePageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/OrderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "List of TraitGroups retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traitGroups": {
                      "type": "array",
                      "maxItems": 50,
                      "items": {
                        "$ref": "#/components/schemas/TraitGroup"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                },
                "example": {
                  "traitGroups": [
                    {
                      "id": "mem_store_00000000000000000000000000_trait_group_00000000000000000000000000",
                      "displayName": "Contact Information",
                      "description": "Traits related to contact information.",
                      "traits": {
                        "email": {
                          "dataType": "STRING",
                          "description": "User's email address"
                        },
                        "dob": {
                          "dataType": "STRING",
                          "description": "User's date of birth"
                        }
                      },
                      "version": 1
                    }
                  ],
                  "meta": {
                    "key": "traitGroups",
                    "pageSize": 50
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "CreateTraitGroup",
        "summary": "Create a Trait Group",
        "description": "Creates a Trait Group with declarative trait schemas for this Memory Store.\n",
        "tags": [
          "TraitGroup"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TraitGroupRequest"
              },
              "examples": {
                "Basic Traits": {
                  "value": {
                    "displayName": "Contact",
                    "description": "Traits related to contact information.",
                    "traits": {
                      "email": {
                        "dataType": "STRING",
                        "description": "User's email address"
                      },
                      "dob": {
                        "dataType": "STRING",
                        "description": "User's date of birth"
                      }
                    }
                  }
                },
                "All Trait Types": {
                  "value": {
                    "displayName": "mixedTraits",
                    "description": "Demonstrates string, number, boolean, and array traits.",
                    "traits": {
                      "email": {
                        "dataType": "STRING",
                        "description": "User's email address",
                        "validationRule": {
                          "ruleType": "STRING",
                          "pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
                          "minLength": 5,
                          "maxLength": 254
                        }
                      },
                      "age": {
                        "dataType": "NUMBER",
                        "description": "User's age in years",
                        "validationRule": {
                          "ruleType": "NUMBER",
                          "min": 0,
                          "max": 150
                        }
                      },
                      "isSubscribed": {
                        "dataType": "BOOLEAN",
                        "description": "Whether user is subscribed to newsletter",
                        "validationRule": {
                          "ruleType": "BOOLEAN"
                        }
                      },
                      "favoriteColors": {
                        "dataType": "ARRAY",
                        "description": "List of user's favorite colors",
                        "validationRule": {
                          "ruleType": "ARRAY",
                          "minItems": 1,
                          "maxItems": 10
                        }
                      }
                    }
                  }
                },
                "With Validation Rules": {
                  "value": {
                    "displayName": "validatedTraits",
                    "description": "Demonstrates traits that include validation metadata.",
                    "traits": {
                      "email": {
                        "dataType": "STRING",
                        "description": "User's email address",
                        "validationRule": {
                          "ruleType": "STRING",
                          "pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
                          "minLength": 5,
                          "maxLength": 254
                        }
                      },
                      "age": {
                        "dataType": "NUMBER",
[...]
